In [90]:
import pandas as pd
import numpy as np
import re
import os
import time

data_in_array = []

raw_path = 'C:\\Finance_team\\raw_data' # Raw Data 저장 경로\n"
file_list = os.listdir('C:\\Finance_team\\raw_data')

product_id = ''
product_code = ''
date = ''

def is_target_product_ID(line):
    return line[17:19] == 'A0' and line[425:428] == 'BM3' and line[471:474] == '001'

for i in file_list:
    with open('{0}\\{1}'.format(raw_path, i), 'r', encoding='ISO-8859-1') as f:
        result = []
        lines = f.readlines()
        
        for line in lines:
            if is_target_product_ID(line):
                product_id = line[53:64]
                product_code = line[35:47]
                date = line[27:35]
                break
        
        for line in lines:
            data_in_array.append(np.array(line.split(',')))
        
        for line in data_in_array:
            
            if (line[0][1:3] < '09'): continue

            if (line[0][1:3] == '15' and line[0][4:6] == '45' and line[0][7:9] >= '01'): break
  
            if (line[0][22:34] == product_code) or (line[0][38:49] == product_id):
                if line[0][17:19] == 'A3':
                    result.append([line[0][:17], line[0][40:48], line[0][48:54],np.nan, 
                                    np.nan, np.nan, np.nan, np.nan, line[0][152:153]])
                elif line[0][17:19] == 'B6':

                    result.append([line[0][:17], np.nan, np.nan, np.nan, line[0][57:63], 
                                    line[0][139:145], np.nan, np.nan, np.nan])  

                elif line[0][17:19] == 'G7':
                    result.append([line[0][:17], line[0][40:48], line[0][48:54],
                                   np.nan, line[0][169:175], line[0][251:257], 
                                   np.nan, np.nan, line[0][152:153]])
                elif line[0][17:19] == 'H1' and (line[0][49:53] == '1000' or line[0][49:53] == '4000' or line[0][49:53] == '9000'):
                    result.append([line[0][:17], np.nan, np.nan, line[0][49:53],
                                  np.nan, np.nan, line[0][53:62], line[0][62:71],
                                  np.nan])
            
result_frame = pd.DataFrame(result, columns = ['time', 'cur_price', 'exec_q',
                                              'inv_t', 'l_lvl1_q', 's_lvl1_q',
                                              'inv_l_q', 'inv_s_q', 's_or_l'])
result_frame.drop(0, inplace=True)                
result_frame

,time,cur_price,exec_q,inv_t,l_lvl1_q,s_lvl1_q,inv_l_q,inv_s_q,s_or_l
1,[09:00:01-039271],NaN,NaN,NaN,000850,000187,NaN,NaN,NaN
2,[09:00:01-066900],NaN,NaN,NaN,000850,000187,NaN,NaN,NaN
3,[09:00:01-090882],00010745,000001,NaN,000849,000187,NaN,NaN,1
4,[09:00:01-103833],NaN,NaN,NaN,000852,000187,NaN,NaN,NaN
5,[09:00:01-105408],NaN,NaN,NaN,000003,000187,NaN,NaN,NaN
6,[09:00:01-168950],NaN,NaN,NaN,000852,000187,NaN,NaN,NaN
7,[09:00:01-198520],NaN,NaN,NaN,000852,000240,NaN,NaN,NaN
8,[09:00:01-501859],NaN,NaN,NaN,000852,000240,NaN,NaN,NaN
9,[09:00:01-931889],NaN,NaN,NaN,000552,000240,NaN,NaN,NaN
10,[09:00:02-120073],NaN,NaN,NaN,000552,000540,NaN,NaN,NaN
11,[09:00:02-121579],NaN,NaN,NaN,000552,000543,NaN,NaN,NaN
12,[09:00:02-273956],NaN,NaN,NaN,000552,000003,NaN,NaN,NaN
13,[09:00:02-276686],00010746,000003,NaN,000552,000543,NaN,NaN,2
14,[09:00:02-372071],NaN,NaN,NaN,000552,000490,NaN,NaN,NaN
15,[09:00:02-499330],NaN,NaN,NaN,000552,000543,NaN,NaN,NaN
16,[09:00:02-500928],NaN,NaN,NaN,000552,000003,NaN,NaN,NaN
17,[09:00:02-542597],NaN,NaN,NaN,000652,000003,NaN,NaN,NaN
18,[09:00:02-543942],NaN,NaN,NaN,000652,000543,NaN,NaN,NaN
19,[09:00:02-645389],NaN,NaN,NaN,000652,000490,NaN,NaN,NaN
20,[09:00:02-678634],NaN,NaN,NaN,000602,000490,NaN,NaN,NaN
21,[09:00:02-686589],00010745,000050,NaN,000552,000490,NaN,NaN,1
22,[09:00:02-712156],NaN,NaN,NaN,000552,000490,NaN,NaN,NaN
23,[09:00:02-729089],NaN,NaN,NaN,000552,000540,NaN,NaN,NaN
24,[09:00:02-731958],NaN,NaN,NaN,000552,000540,NaN,NaN,NaN
25,[09:00:02-778266],NaN,NaN,NaN,000552,000593,NaN,NaN,NaN
26,[09:00:02-810954],NaN,NaN,NaN,000602,000593,NaN,NaN,NaN
27,[09:00:02-815299],NaN,NaN,NaN,000602,000593,NaN,NaN,NaN
28,[09:00:02-994660],NaN,NaN,NaN,000652,000593,NaN,NaN,NaN
29,[09:00:03-234146],00010747,000100,NaN,000652,000493,NaN,NaN,2
30,[09:00:03-677248],NaN,NaN,NaN,000100,000493,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
18007,[15:44:08-266468],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18008,[15:44:11-220291],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18009,[15:44:15-118467],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18010,[15:44:17-276510],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18011,[15:44:21-448336],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18012,[15:44:28-952800],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18013,[15:44:31-197416],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18014,[15:44:32-935060],NaN,NaN,1000,NaN,NaN,000057380,000040802,NaN
18015,[15:44:32-991766],NaN,NaN,4000,NaN,NaN,000006478,000018240,NaN
18016,[15:44:33-068489],NaN,NaN,9000,NaN,NaN,000041209,000041856,NaN
18017,[15:44:33-393636],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18018,[15:44:33-977045],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18019,[15:44:34-704920],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18020,[15:44:42-462116],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18021,[15:44:42-594942],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18022,[15:44:44-686460],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18023,[15:44:44-925959],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18024,[15:44:46-829447],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18025,[15:44:50-556334],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18026,[15:44:53-323926],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18027,[15:44:53-578677],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18028,[15:44:53-860846],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18029,[15:44:54-574940],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18030,[15:44:55-336845],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18031,[15:44:56-964691],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18032,[15:44:58-651689],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18033,[15:44:58-913579],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18034,[15:44:59-007569],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18035,[15:44:59-233678],NaN,NaN,NaN,000000,000000,NaN,NaN,NaN
18036,[15:45:00-109687],00010752,004138,NaN,NaN,NaN,NaN,NaN,