In [1]:
%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}
pd.options.mode.chained_assignment = None  # default='warn'?

# data_key DataFrame
data_key = pd.read_csv('key.csv')

# data_train DataFrame
data_train = pd.read_csv('train.csv')

In [2]:
# data_weather DataFrame
data_weather = pd.read_csv('weather.csv')

rain_text = ['FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL', 'IC', 'FG', 'BR', 'UP', 'FG+']
other_text = ['HZ', 'FU', 'VA', 'DU', 'DS', 'PO', 'SA', 'SS', 'PY', 'SQ', 'DR', 'SH', 'FZ', 'MI', 'PR', 'BC', 'BL', 'VC' ]

data_weather['codesum'].replace("+", "")
a = []
for i in range(len(data_weather['codesum'])):
    a.append(data_weather['codesum'].values[i].split(" "))
    for i_text in a[i]:
        if len(i_text) == 4:
            a[i].append(i_text[:2])
            a[i].append(i_text[2:])
            
data_weather["nothing"] = 1
data_weather["rain"] = 0
data_weather["other"] = 0
b = -1
for ls in a:
    b += 1
    for text in ls:
        if text in rain_text:
            data_weather.loc[b, 'rain'] = 1
            data_weather.loc[b, 'nothing'] = 0
        elif text in other_text:
            data_weather.loc[b,'other'] = 1
            data_weather.loc[b, 'nothing'] = 0

In [3]:
# 모든 데이터 Merge
df = pd.merge(data_weather, data_key)

station_nbr = df['station_nbr']
df.drop('station_nbr', axis=1, inplace=True)
df['station_nbr'] = station_nbr

df = pd.merge(df, data_train)

In [4]:
# T 값 처리 하기. Remained Subject = > 'M' and '-'
df['snowfall'][df['snowfall'] == '  T'] = 0.05
df['preciptotal'][df['preciptotal'] == '  T'] = 0.005

# 주말과 주중 구분 작업 하기
df['date'] = pd.to_datetime(df['date'])
df['week7'] = df['date'].dt.dayofweek
df['weekend'] = 0
df.loc[df['week7'] == 5, 'weekend'] = 1
df.loc[df['week7'] == 6, 'weekend'] = 1

In [5]:
# 위에까지는 다 똑같음

In [6]:
# station1 data = df1
df1 = df[df['station_nbr'] == 1]

In [7]:
# df 모든 'M' and '-' 을 np.nan으로 형 변환 하는 과정
df1 = df1.apply(pd.to_numeric, errors = 'coerce')

In [8]:
# df1 의 각 column 별로 drop 해야 하는 column 찾은 후, 남은 column에, np.nan값에 그 변수의 mean 값을 넣어 주기.
df1.describe()

,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,...,avgspeed,nothing,rain,other,store_nbr,station_nbr,item_nbr,units,week7,weekend
count,1.031190e+05,102897.000000,102897.000000,102564.000000,0.0,102675.000000,102342.000000,102564.000000,102564.000000,0.0,...,102786.000000,103119.000000,103119.000000,103119.000000,103119.0,103119.0,103119.000000,103119.000000,103119.00000,103119.000000
mean,1.367872e+18,60.641855,41.666667,51.427489,NaN,37.944865,45.251627,15.636364,2.063853,NaN,...,6.528402,0.493003,0.500538,0.079656,1.0,1.0,56.000000,0.364909,3.00000,0.285253
std,2.591248e+16,18.975950,16.784905,17.591533,NaN,19.044399,16.126532,15.041496,4.321170,NaN,...,3.247471,0.499953,0.500002,0.270761,0.0,0.0,32.041795,3.609916,2.00001,0.451537
min,1.325376e+18,14.000000,-4.000000,8.000000,NaN,-12.000000,4.000000,0.000000,0.000000,NaN,...,0.600000,0.000000,0.000000,0.000000,1.0,1.0,1.000000,0.000000,0.00000,0.000000
25%,1.345421e+18,45.000000,29.000000,38.000000,NaN,23.000000,33.000000,0.000000,0.000000,NaN,...,4.200000,0.000000,0.000000,0.000000,1.0,1.0,28.000000,0.000000,1.00000,0.000000
50%,1.365552e+18,62.000000,42.000000,53.000000,NaN,39.000000,46.000000,12.000000,0.000000,NaN,...,5.900000,0.000000,1.000000,0.000000,1.0,1.0,56.000000,0.000000,3.00000,0.000000
75%,1.391040e+18,77.000000,56.000000,66.000000,NaN,54.000000,59.000000,27.000000,1.000000,NaN,...,8.200000,1.000000,1.000000,0.000000,1.0,1.0,84.000000,0.000000,5.00000,1.000000
max,1.414714e+18,97.000000,77.000000,86.000000,NaN,71.000000,76.000000,57.000000,21.000000,NaN,...,19.800000,1.000000,1.000000,1.000000,1.0,1.0,111.000000,207.000000,6.00000,1.000000

In [9]:
# Drop 해야 할 Column은 = > drop_columns = ['date', 'depart', 'sunrise', 'sunset', 'codesum'(이미 카테고리화 했기에 drop), 
# 'snowfall', 'store_nbr', 'station_nbr' (여기서 store_nbr가 1밖에 없기에)]
df1_drop_columns = ['date', 'depart', 'sunrise', 'sunset', 'codesum', 'snowfall', 'store_nbr', 'station_nbr']
df1 = df1.drop(columns = df1_drop_columns)

In [10]:
# np.nan값 만 표시된 있는 행이 있는지 확인
df1.describe()

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,nothing,rain,other,item_nbr,units,week7,weekend
count,102897.000000,102897.000000,102564.000000,102675.000000,102342.000000,102564.000000,102564.000000,102564.000000,102786.00000,102231.000000,102675.000000,102675.000000,102786.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.00000,103119.000000
mean,60.641855,41.666667,51.427489,37.944865,45.251627,15.636364,2.063853,0.075666,29.85054,30.016037,5.316649,20.257297,6.528402,0.493003,0.500538,0.079656,56.000000,0.364909,3.00000,0.285253
std,18.975950,16.784905,17.591533,19.044399,16.126532,15.041496,4.321170,0.191589,0.22727,0.227675,3.378105,9.823834,3.247471,0.499953,0.500002,0.270761,32.041795,3.609916,2.00001,0.451537
min,14.000000,-4.000000,8.000000,-12.000000,4.000000,0.000000,0.000000,0.000000,28.95000,29.200000,0.200000,1.000000,0.600000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000
25%,45.000000,29.000000,38.000000,23.000000,33.000000,0.000000,0.000000,0.000000,29.70000,29.870000,2.700000,11.000000,4.200000,0.000000,0.000000,0.000000,28.000000,0.000000,1.00000,0.000000
50%,62.000000,42.000000,53.000000,39.000000,46.000000,12.000000,0.000000,0.005000,29.85000,30.020000,4.700000,22.000000,5.900000,0.000000,1.000000,0.000000,56.000000,0.000000,3.00000,0.000000
75%,77.000000,56.000000,66.000000,54.000000,59.000000,27.000000,1.000000,0.030000,30.01000,30.170000,7.400000,28.000000,8.200000,1.000000,1.000000,0.000000,84.000000,0.000000,5.00000,1.000000
max,97.000000,77.000000,86.000000,71.000000,76.000000,57.000000,21.000000,1.980000,30.59000,30.770000,17.900000,36.000000,19.800000,1.000000,1.000000,1.000000,111.000000,207.000000,6.00000,1.000000

In [11]:
df1.isnull().any()

tmax            True
tmin            True
tavg            True
dewpoint        True
wetbulb         True
heat            True
cool            True
preciptotal     True
stnpressure     True
sealevel        True
resultspeed     True
resultdir       True
avgspeed        True
nothing        False
rain           False
other          False
item_nbr       False
units          False
week7          False
weekend        False
dtype: bool

In [12]:
df1.isnull().sum()

tmax           222
tmin           222
tavg           555
dewpoint       444
wetbulb        777
heat           555
cool           555
preciptotal    555
stnpressure    333
sealevel       888
resultspeed    444
resultdir      444
avgspeed       333
nothing          0
rain             0
other            0
item_nbr         0
units            0
week7            0
weekend          0
dtype: int64

In [13]:
# np.nan를 포함하고 있는 변수(column)를 찾아서, 그 변수에 mean 값 대입해서 Frame의 모든 Value가 fill 되게 하기.
df1_columns = df1.columns

# Cateogry 값을 포함하는 변수는 np.nan에 mode값으로 대체하고, 나머지 실수 값을 포함한 변수는 np.nan에 mean값으로 대체
for i in df1_columns:
    if (i == 'resultdir'):
        df1[i].fillna(df1[i].mode()[0], inplace=True)
        print(df1[i].mode()[0])
    else:
        df1[i].fillna(df1[i].mean(), inplace=True)

21.0

In [14]:
df1.describe()

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,nothing,rain,other,item_nbr,units,week7,weekend
count,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.000000,103119.00000,103119.000000
mean,60.641855,41.666667,51.427489,37.944865,45.251627,15.636364,2.063853,0.075666,29.850540,30.016037,5.316649,20.260495,6.528402,0.493003,0.500538,0.079656,56.000000,0.364909,3.00000,0.285253
std,18.955512,16.766828,17.544129,19.003355,16.065660,15.000963,4.309526,0.191073,0.226903,0.226693,3.370825,9.802782,3.242223,0.499953,0.500002,0.270761,32.041795,3.609916,2.00001,0.451537
min,14.000000,-4.000000,8.000000,-12.000000,4.000000,0.000000,0.000000,0.000000,28.950000,29.200000,0.200000,1.000000,0.600000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000
25%,45.000000,29.000000,38.000000,24.000000,33.000000,0.000000,0.000000,0.000000,29.700000,29.870000,2.700000,11.000000,4.200000,0.000000,0.000000,0.000000,28.000000,0.000000,1.00000,0.000000
50%,62.000000,42.000000,53.000000,39.000000,46.000000,12.000000,0.000000,0.005000,29.850000,30.020000,4.700000,22.000000,6.000000,0.000000,1.000000,0.000000,56.000000,0.000000,3.00000,0.000000
75%,77.000000,56.000000,66.000000,54.000000,59.000000,27.000000,1.000000,0.030000,30.010000,30.170000,7.300000,28.000000,8.200000,1.000000,1.000000,0.000000,84.000000,0.000000,5.00000,1.000000
max,97.000000,77.000000,86.000000,71.000000,76.000000,57.000000,21.000000,1.980000,30.590000,30.770000,17.900000,36.000000,19.800000,1.000000,1.000000,1.000000,111.000000,207.000000,6.00000,1.000000

In [23]:
# 모든 형변환 완료되었는지 확인하기.
df1.dtypes

tmax           float64
tmin           float64
tavg           float64
dewpoint       float64
wetbulb        float64
heat           float64
cool           float64
preciptotal    float64
stnpressure    float64
sealevel       float64
resultspeed    float64
resultdir      float64
avgspeed       float64
nothing          int64
rain             int64
other            int64
item_nbr         int64
units            int64
week7            int64
weekend          int64
dtype: object

In [15]:
df1.isnull().any()

tmax           False
tmin           False
tavg           False
dewpoint       False
wetbulb        False
heat           False
cool           False
preciptotal    False
stnpressure    False
sealevel       False
resultspeed    False
resultdir      False
avgspeed       False
nothing        False
rain           False
other          False
item_nbr       False
units          False
week7          False
weekend        False
dtype: bool

In [17]:
# 이제 모든 변수가 숫자로 표기 되었기 때문에, 가능 함. 
# 상대 습도 추가 #
df1['relative_humility'] = 100*(np.exp((17.625*((df1['dewpoint']-32)/1.8))/(243.04+((df1['dewpoint']-32)/1.8)))/np.exp((17.625*((df1['tavg']-32)/1.8))/(243.04+((df1['tavg']-32)/1.8))))

# 체감온도 계산
df1["windchill"] = 35.74 + 0.6215*df1["tavg"] - 35.75*(df1["avgspeed"]**0.16) + 0.4275*df1["tavg"]*(df1["avgspeed"]**0.16)

In [18]:
# Station1에 대한 전처리 완료 
df1.columns

Index(['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'nothing', 'rain', 'other', 'item_nbr', 'units', 'week7',
       'weekend', 'relative_humility', 'windchill'],
      dtype='object')

In [ ]:
model1 = sm.OLS.from_formula('np.log(units) ~ tmax + tmin + tavg + dewpoint + wetbulb + heat + cool + preciptotal + stnpressure + \
sealevel + resultspeed + C(resultdir) + avgspeed + C(nothing) + C(rain) + C(other) + C(item_nbr) + C(week7) + \
C(weekend) + relative_humility + windchill + 0', data=df1)
result1 = model1.fit()
print(result1.summary())

In [61]:
df1['item_nbr'][df1['units'] != 0].unique()

array([ 9, 28, 51, 40, 93, 89, 99, 47], dtype=int64)

In [62]:
# resultdir이 Category가 아닐 때
model1_2 = sm.OLS.from_formula('units ~ tmax + tmin + tavg + dewpoint + wetbulb + heat + cool + preciptotal + stnpressure + \
sealevel + resultspeed + resultdir + avgspeed + C(nothing) + C(rain) + C(other) + C(item_nbr) + C(week7) + \
C(weekend) + relative_humility + windchill + 0', data=df1)

result1_2 = model1_2.fit()

print(result1_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.618
Model:                            OLS   Adj. R-squared:                  0.617
Method:                 Least Squares   F-statistic:                     1250.
Date:                Tue, 03 Jul 2018   Prob (F-statistic):               0.00
Time:                        15:17:28   Log-Likelihood:            -2.2914e+05
No. Observations:              103119   AIC:                         4.586e+05
Df Residuals:                  102985   BIC:                         4.598e+05
Df Model:                         133
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(nothing)[0]          0.0069      0.046      0.149      0.882      -0.084       0.097
C(nothing)[1]         -0.0074      0.046     -0.161      0.872      -0.098       0.083
C(rain)[T.1]          -0.0285      0.092     -0.310      0.757      -0.209       0.152
C(other)[T.1]         -0.0006      0.029     -0.022      0.982      -0.057       0.056
C(item_nbr)[T.2]    2.707e-13      0.104   2.61e-12      1.000      -0.203       0.203
C(item_nbr)[T.3]   -2.431e-13      0.104  -2.34e-12      1.000      -0.203       0.203
C(item_nbr)[T.4]    5.913e-14      0.104    5.7e-13      1.000      -0.203       0.203
C(item_nbr)[T.5]   -8.746e-14      0.104  -8.44e-13      1.000      -0.203       0.203
C(item_nbr)[T.6]    2.727e-13      0.104   2.63e-12      1.000      -0.203       0.203
C(item_nbr)[T.7]    5.226e-13      0.104   5.04e-12      1.000      -0.203       0.203
C(item_nbr)[T.8]   -1.665e-14      0.104  -1.61e-13      1.000      -0.203       0.203
C(item_nbr)[T.9]      29.4898      0.104    284.493      0.000      29.287      29.693
C(item_nbr)[T.10]  -2.994e-13      0.104  -2.89e-12      1.000      -0.203       0.203
C(item_nbr)[T.11]   1.242e-13      0.104    1.2e-12      1.000      -0.203       0.203
C(item_nbr)[T.12]   2.889e-13      0.104   2.79e-12      1.000      -0.203       0.203
C(item_nbr)[T.13]   7.221e-14      0.104   6.97e-13      1.000      -0.203       0.203
C(item_nbr)[T.14]   1.308e-14      0.104   1.26e-13      1.000      -0.203       0.203
C(item_nbr)[T.15]   2.562e-14      0.104   2.47e-13      1.000      -0.203       0.203
C(item_nbr)[T.16]   5.084e-14      0.104    4.9e-13      1.000      -0.203       0.203
C(item_nbr)[T.17]  -6.661e-14      0.104  -6.43e-13      1.000      -0.203       0.203
C(item_nbr)[T.18]   2.278e-14      0.104    2.2e-13      1.000      -0.203       0.203
C(item_nbr)[T.19]   3.621e-14      0.104   3.49e-13      1.000      -0.203       0.203
C(item_nbr)[T.20]   1.869e-14      0.104    1.8e-13      1.000      -0.203       0.203
C(item_nbr)[T.21]  -1.228e-13      0.104  -1.18e-12      1.000      -0.203       0.203
C(item_nbr)[T.22]  -2.339e-14      0.104  -2.26e-13      1.000      -0.203       0.203
C(item_nbr)[T.23]  -1.321e-13      0.104  -1.27e-12      1.000      -0.203       0.203
C(item_nbr)[T.24]   5.119e-14      0.104   4.94e-13      1.000      -0.203       0.203
C(item_nbr)[T.25]  -8.912e-14      0.104   -8.6e-13      1.000      -0.203       0.203
C(item_nbr)[T.26]  -5.395e-14      0.104   -5.2e-13      1.000      -0.203       0.203
C(item_nbr)[T.27]   4.106e-14      0.104   3.96e-13      1.000      -0.203       0.203
C(item_nbr)[T.28]      5.2670      0.104     50.811      0.000       5.064       5.470
C(item_nbr)[T.29]   2.951e-14      0.104   2.85e-13      1.000      -0.203       0.203
C(item_nbr)[T.30]   4.037e-14      0.104   3.89e-13      1.000      -0.203       0.203
C(item_nbr)[T.31]    3.76e-14      0.104   3.63e-13      1.000      -0.203       0.203
C(item_nbr)[T.32]  -5.847e-14      0.104  -5.64e-13      1.000      -0.203       0.203
C(item_nbr)[T.33]   5.154e-14      0.104   4.97e-13      1.000      -0.203       0.203
C(item_nbr)[T.34]  -1.029e-13      0.104  -9.92e-13      1.000      -0.203       0.203
C(item_nbr)[T.35]  -8.588e-14      0.104  -8.29e-13      1.000      -0.203       0.203
C(item_nbr)[T.36]   3.266e-14      0.104   3.15e-13      1.000      -0.203       0.203
C(item_nbr)[T.37]  -1.312e-13      0.104  -1.27e-12      1.000      -0.203       0.203
C(item_nbr)[T.38]   4.678e-14      0.104   4.51e-13      1.000      -0.203       0.203
C(item_nbr)[T.39]  -7.339e-14      0.104  -7.08e-13      1.000      -0.203       0.203
C(item_nbr)[T.40]      0.2734      0.104      2.638      0.008       0.070       0.477
C(item_nbr)[T.41]  -7.956e-14      0.104  -7.68e-13      1.000      -0.203       0.203
C(item_nbr)[T.42]   3.145e-14      0.104   3.03e-13      1.000      -0.203       0.203
C(item_nbr)[T.43]  -1.704e-14      0.104  -1.64e-13      1.000      -0.203       0.203
C(item_nbr)[T.44]   2.558e-14      0.104   2.47e-13      1.000      -0.203       0.203
C(item_nbr)[T.45]  -2.438e-14      0.104  -2.35e-13      1.000      -0.203       0.203
C(item_nbr)[T.46]  -6.388e-15      0.104  -6.16e-14      1.000      -0.203       0.203
C(item_nbr)[T.47]      2.5931      0.104     25.016      0.000       2.390       2.796
C(item_nbr)[T.48]    7.86e-16      0.104   7.58e-15      1.000      -0.203       0.203
C(item_nbr)[T.49]   2.304e-14      0.104   2.22e-13      1.000      -0.203       0.203
C(item_nbr)[T.50]  -3.458e-14      0.104  -3.34e-13      1.000      -0.203       0.203
C(item_nbr)[T.51]      0.9957      0.104      9.606      0.000       0.793       1.199
C(item_nbr)[T.52]    4.02e-14      0.104   3.88e-13      1.000      -0.203       0.203
C(item_nbr)[T.53]   4.667e-14      0.104    4.5e-13      1.000      -0.203       0.203
C(item_nbr)[T.54]  -1.353e-14      0.104   -1.3e-13      1.000      -0.203       0.203
C(item_nbr)[T.55]   2.212e-14      0.104   2.13e-13      1.000      -0.203       0.203
C(item_nbr)[T.56]  -1.669e-14      0.104  -1.61e-13      1.000      -0.203       0.203
C(item_nbr)[T.57]   2.975e-14      0.104   2.87e-13      1.000      -0.203       0.203
C(item_nbr)[T.58]   4.097e-14      0.104   3.95e-13      1.000      -0.203       0.203
C(item_nbr)[T.59]   3.834e-14      0.104    3.7e-13      1.000      -0.203       0.203
C(item_nbr)[T.60]  -1.319e-13      0.104  -1.27e-12      1.000      -0.203       0.203
C(item_nbr)[T.61]  -1.608e-14      0.104  -1.55e-13      1.000      -0.203       0.203
C(item_nbr)[T.62]    3.41e-14      0.104   3.29e-13      1.000      -0.203       0.203
C(item_nbr)[T.63]   3.087e-14      0.104   2.98e-13      1.000      -0.203       0.203
C(item_nbr)[T.64]  -9.321e-14      0.104  -8.99e-13      1.000      -0.203       0.203
C(item_nbr)[T.65]   4.642e-14      0.104   4.48e-13      1.000      -0.203       0.203
C(item_nbr)[T.66]  -6.483e-14      0.104  -6.25e-13      1.000      -0.203       0.203
C(item_nbr)[T.67]  -3.548e-14      0.104  -3.42e-13      1.000      -0.203       0.203
C(item_nbr)[T.68]   4.857e-14      0.104   4.69e-13      1.000      -0.203       0.203
C(item_nbr)[T.69]  -1.019e-13      0.104  -9.83e-13      1.000      -0.203       0.203
C(item_nbr)[T.70]    3.67e-14      0.104   3.54e-13      1.000      -0.203       0.203
C(item_nbr)[T.71]   4.389e-14      0.104   4.23e-13      1.000      -0.203       0.203
C(item_nbr)[T.72]   2.616e-14      0.104   2.52e-13      1.000      -0.203       0.203
C(item_nbr)[T.73]  -1.725e-15      0.104  -1.66e-14      1.000      -0.203       0.203
C(item_nbr)[T.74]    3.78e-14      0.104   3.65e-13      1.000      -0.203       0.203
C(item_nbr)[T.75]   4.112e-14      0.104   3.97e-13      1.000      -0.203       0.203
C(item_nbr)[T.76]   3.697e-14      0.104   3.57e-13      1.000      -0.203       0.203
C(item_nbr)[T.77]  -4.116e-14      0.104  -3.97e-13      1.000      -0.203       0.203
C(item_nbr)[T.78]  -1.913e-14      0.104  -1.85e-13      1.000      -0.203       0.203
C(item_nbr)[T.79]    2.78e-14      0.104   2.68e-13      1.000      -0.203       0.203
C(item_nbr)[T.80]    2.41e-14      0.104   2.32e-13      1.000      -0.203       0.203
C(item_nbr)[T.81]   4.079e-14      0.104   3.94e-13      1.000      -0.203       0.203
C(item_nbr)[T.82]   2.823e-14      0.104   2.72e-13      1.000      -0.203       0.203
C(item_nbr)[T.83]   3.248e-14      0.104   3.13e-13      1.000      -0.203       0.203
C(item_nbr)[T.84]  -1.731e-14      0.104  -1.67e-13      1.000      -0.203       0.203
C(item_nbr)[T.85]  -1.419e-14      0.104  -1.37e-13      1.000      -0.203       0.203
C(item_nbr)[T.86]   2.573e-14      0.104   2.48e-13      1.000      -0.203       0.203
C(item_nbr)[T.87]   2.683e-14      0.104   2.59e-13      1.000      -0.203       0.203
C(item_nbr)[T.88]   2.245e-14      0.104   2.17e-13      1.000      -0.203       0.203
C(item_nbr)[T.89]      0.1690      0.104      1.630      0.103      -0.034       0.372
C(item_nbr)[T.90]   1.854e-14      0.104   1.79e-13      1.000      -0.203       0.203
C(item_nbr)[T.91]  -1.283e-14      0.104  -1.24e-13      1.000      -0.203       0.203
C(item_nbr)[T.92]  -6.519e-14      0.104  -6.29e-13      1.000      -0.203       0.203
C(item_nbr)[T.93]      1.1873      0.104     11.454      0.000       0.984       1.390
C(item_nbr)[T.94]   3.227e-14      0.104   3.11e-13      1.000      -0.203       0.203
C(item_nbr)[T.95]   4.166e-14      0.104   4.02e-13      1.000      -0.203       0.203
C(item_nbr)[T.96]   1.147e-14      0.104   1.11e-13      1.000      -0.203       0.203
C(item_nbr)[T.97]   2.029e-15      0.104   1.96e-14      1.000      -0.203       0.203
C(item_nbr)[T.98]  -7.412e-14      0.104  -7.15e-13      1.000      -0.203       0.203
C(item_nbr)[T.99]      0.5296      0.104      5.109      0.000       0.326       0.733
C(item_nbr)[T.100] -4.665e-15      0.104   -4.5e-14      1.000      -0.203       0.203
C(item_nbr)[T.101] -1.104e-14      0.104  -1.06e-13      1.000      -0.203       0.203
C(item_nbr)[T.102]  8.989e-15      0.104   8.67e-14      1.000      -0.203       0.203
C(item_nbr)[T.103] -9.802e-15      0.104  -9.46e-14      1.000      -0.203       0.203
C(item_nbr)[T.104]  2.341e-14      0.104   2.26e-13      1.000      -0.203       0.203
C(item_nbr)[T.105]   2.07e-15      0.104      2e-14      1.000      -0.203       0.203
C(item_nbr)[T.106] -3.337e-14      0.104  -3.22e-13      1.000      -0.203       0.203
C(item_nbr)[T.107] -2.356e-15      0.104  -2.27e-14      1.000      -0.203       0.203
C(item_nbr)[T.108]  1.697e-14      0.104   1.64e-13      1.000      -0.203       0.203
C(item_nbr)[T.109] -8.921e-15      0.104  -8.61e-14      1.000      -0.203       0.203
C(item_nbr)[T.110]  3.558e-15      0.104   3.43e-14      1.000      -0.203       0.203
C(item_nbr)[T.111]  1.933e-14      0.104   1.86e-13      1.000      -0.203       0.203
C(week7)[T.1]         -0.0163      0.026     -0.620      0.535      -0.068       0.035
C(week7)[T.2]         -0.0443      0.026     -1.681      0.093      -0.096       0.007
C(week7)[T.3]         -0.0312      0.026     -1.187      0.235      -0.083       0.020
C(week7)[T.4]          0.0467      0.026      1.781      0.075      -0.005       0.098
C(week7)[T.5]          0.0524      0.015      3.467      0.001       0.023       0.082
C(week7)[T.6]          0.0613      0.015      4.065      0.000       0.032       0.091
C(weekend)[T.1]        0.1137      0.015      7.515      0.000       0.084       0.143
tmax                  -0.0127      0.007     -1.831      0.067      -0.026       0.001
tmin                  -0.0054      0.007     -0.760      0.447      -0.019       0.009
tavg                   0.0028      0.024      0.117      0.907      -0.044       0.050
dewpoint               0.0128      0.008      1.642      0.101      -0.002       0.028
wetbulb                0.0062      0.004      1.427      0.154      -0.002       0.015
heat                  -0.0179      0.019     -0.937      0.349      -0.055       0.020
cool                   0.0217      0.019      1.131      0.258      -0.016       0.059
preciptotal           -0.0235      0.045     -0.519      0.603      -0.112       0.065
stnpressure            0.1705      0.249      0.686      0.493      -0.317       0.658
sealevel              -0.1143      0.245     -0.467      0.641      -0.594       0.366
resultspeed           -0.0059      0.008     -0.750      0.453      -0.021       0.009
resultdir          -2.191e-05      0.001     -0.025      0.980      -0.002       0.002
avgspeed              -0.0072      0.010     -0.722      0.470      -0.027       0.012
relative_humility     -0.0061      0.003     -1.780      0.075      -0.013       0.001
windchill             -0.0184      0.009     -2.130      0.033      -0.035      -0.001
==============================================================================
Omnibus:                   213673.657   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       3683451446.194
Skew:                          17.020   Prob(JB):                         0.00
Kurtosis:                     928.273   Cond. No.                     2.37e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.96e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [83]:
sm.stats.anova_lm(result1_2, typ=2)

                          sum_sq        df            F        PR(>F)
C(nothing)              2.298794       2.0     0.230295  7.942994e-01
C(rain)                 0.478330       1.0     0.095839  7.568819e-01
C(other)                0.002502       1.0     0.000501  9.821363e-01
C(item_nbr)        828775.864370     110.0  1509.591500  0.000000e+00
C(week7)              735.808075       6.0    24.571311  2.844275e-29
C(weekend)            281.838260       1.0    56.469635  5.753195e-14
tmax                   16.723764       1.0     3.350804  6.717507e-02
tmin                    2.885636       1.0     0.578171  4.470317e-01
tavg                    0.068091       1.0     0.013643  9.070170e-01
dewpoint               13.460708       1.0     2.697012  1.005395e-01
wetbulb                10.160786       1.0     2.035834  1.536329e-01
heat                    4.377721       1.0     0.877128  3.489917e-01
cool                    6.387165       1.0     1.279744  2.579492e-01
preciptotal             1.346692       1.0     0.269826  6.034498e-01
stnpressure             2.347761       1.0     0.470402  4.928040e-01
sealevel                1.088300       1.0     0.218054  6.405278e-01
resultspeed             2.807935       1.0     0.562603  4.532151e-01
resultdir               0.003036       1.0     0.000608  9.803238e-01
avgspeed                2.601135       1.0     0.521168  4.703455e-01
relative_humility      15.806297       1.0     3.166979  7.514426e-02
windchill              22.649665       1.0     4.538129  3.315017e-02
Residual           513995.055737  102985.0          NaN           NaN

In [86]:
anova_result1_2 = sm.stats.anova_lm(result1_2, typ=2).sort_values(by=['PR(>F)'], ascending = False)

In [87]:
anova_result1_2.columns

Index(['sum_sq', 'df', 'F', 'PR(>F)'], dtype='object')

In [89]:
anova_result1_2[anova_result1_2['PR(>F)'] <= 0.05]

                    sum_sq     df            F        PR(>F)
windchill        22.649665    1.0     4.538129  3.315017e-02
C(weekend)      281.838260    1.0    56.469635  5.753195e-14
C(week7)        735.808075    6.0    24.571311  2.844275e-29
C(item_nbr)  828775.864370  110.0  1509.591500  0.000000e+00

In [90]:
final_model1_2 = sm.OLS.from_formula('units ~ windchill + C(weekend) + C(week7) + C(item_nbr) + 0', data=df1)

final_result1_2 = final_model1_2.fit()

print(final_result1_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.617
Model:                            OLS   Adj. R-squared:                  0.617
Method:                 Least Squares   F-statistic:                     1420.
Date:                Tue, 03 Jul 2018   Prob (F-statistic):               0.00
Time:                        15:58:03   Log-Likelihood:            -2.2916e+05
No. Observations:              103119   AIC:                         4.586e+05
Df Residuals:                  103001   BIC:                         4.597e+05
Df Model:                         117
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(weekend)[0]          0.0115      0.077      0.149      0.881      -0.139       0.162
C(weekend)[1]          0.1253      0.051      2.479      0.013       0.026       0.224
C(week7)[T.1]         -0.0127      0.026     -0.487      0.626      -0.064       0.038
C(week7)[T.2]         -0.0335      0.026     -1.290      0.197      -0.085       0.017
C(week7)[T.3]         -0.0260      0.026     -1.001      0.317      -0.077       0.025
C(week7)[T.4]          0.0532      0.026      2.045      0.041       0.002       0.104
C(week7)[T.5]          0.0596      0.028      2.092      0.036       0.004       0.115
C(week7)[T.6]          0.0658      0.028      2.316      0.021       0.010       0.121
C(item_nbr)[T.2]    9.357e-14      0.104   9.03e-13      1.000      -0.203       0.203
C(item_nbr)[T.3]   -1.141e-12      0.104   -1.1e-11      1.000      -0.203       0.203
C(item_nbr)[T.4]    4.096e-13      0.104   3.95e-12      1.000      -0.203       0.203
C(item_nbr)[T.5]    1.806e-12      0.104   1.74e-11      1.000      -0.203       0.203
C(item_nbr)[T.6]   -1.202e-13      0.104  -1.16e-12      1.000      -0.203       0.203
C(item_nbr)[T.7]    4.568e-13      0.104   4.41e-12      1.000      -0.203       0.203
C(item_nbr)[T.8]    1.324e-13      0.104   1.28e-12      1.000      -0.203       0.203
C(item_nbr)[T.9]      29.4898      0.104    284.463      0.000      29.287      29.693
C(item_nbr)[T.10]   3.559e-14      0.104   3.43e-13      1.000      -0.203       0.203
C(item_nbr)[T.11]   5.244e-14      0.104   5.06e-13      1.000      -0.203       0.203
C(item_nbr)[T.12]    3.37e-14      0.104   3.25e-13      1.000      -0.203       0.203
C(item_nbr)[T.13]    3.64e-14      0.104   3.51e-13      1.000      -0.203       0.203
C(item_nbr)[T.14]  -9.539e-14      0.104   -9.2e-13      1.000      -0.203       0.203
C(item_nbr)[T.15]  -3.456e-14      0.104  -3.33e-13      1.000      -0.203       0.203
C(item_nbr)[T.16]  -1.453e-13      0.104   -1.4e-12      1.000      -0.203       0.203
C(item_nbr)[T.17]  -1.015e-13      0.104  -9.79e-13      1.000      -0.203       0.203
C(item_nbr)[T.18]  -2.485e-14      0.104   -2.4e-13      1.000      -0.203       0.203
C(item_nbr)[T.19]   2.839e-13      0.104   2.74e-12      1.000      -0.203       0.203
C(item_nbr)[T.20]  -1.939e-13      0.104  -1.87e-12      1.000      -0.203       0.203
C(item_nbr)[T.21]   4.808e-14      0.104   4.64e-13      1.000      -0.203       0.203
C(item_nbr)[T.22]  -9.593e-14      0.104  -9.25e-13      1.000      -0.203       0.203
C(item_nbr)[T.23]     4.2e-14      0.104   4.05e-13      1.000      -0.203       0.203
C(item_nbr)[T.24]  -1.769e-13      0.104  -1.71e-12      1.000      -0.203       0.203
C(item_nbr)[T.25]   1.149e-14      0.104   1.11e-13      1.000      -0.203       0.203
C(item_nbr)[T.26]  -1.489e-14      0.104  -1.44e-13      1.000      -0.203       0.203
C(item_nbr)[T.27]  -5.936e-14      0.104  -5.73e-13      1.000      -0.203       0.203
C(item_nbr)[T.28]      5.2670      0.104     50.806      0.000       5.064       5.470
C(item_nbr)[T.29]  -7.892e-14      0.104  -7.61e-13      1.000      -0.203       0.203
C(item_nbr)[T.30]   2.547e-14      0.104   2.46e-13      1.000      -0.203       0.203
C(item_nbr)[T.31]   2.523e-14      0.104   2.43e-13      1.000      -0.203       0.203
C(item_nbr)[T.32]  -1.204e-13      0.104  -1.16e-12      1.000      -0.203       0.203
C(item_nbr)[T.33]  -1.918e-13      0.104  -1.85e-12      1.000      -0.203       0.203
C(item_nbr)[T.34]  -9.069e-14      0.104  -8.75e-13      1.000      -0.203       0.203
C(item_nbr)[T.35]  -3.113e-14      0.104     -3e-13      1.000      -0.203       0.203
C(item_nbr)[T.36]   1.387e-14      0.104   1.34e-13      1.000      -0.203       0.203
C(item_nbr)[T.37]  -7.701e-14      0.104  -7.43e-13      1.000      -0.203       0.203
C(item_nbr)[T.38]   5.635e-14      0.104   5.44e-13      1.000      -0.203       0.203
C(item_nbr)[T.39]  -8.468e-14      0.104  -8.17e-13      1.000      -0.203       0.203
C(item_nbr)[T.40]      0.2734      0.104      2.637      0.008       0.070       0.477
C(item_nbr)[T.41]  -8.304e-14      0.104  -8.01e-13      1.000      -0.203       0.203
C(item_nbr)[T.42]  -6.938e-14      0.104  -6.69e-13      1.000      -0.203       0.203
C(item_nbr)[T.43]  -8.076e-14      0.104  -7.79e-13      1.000      -0.203       0.203
C(item_nbr)[T.44]  -5.338e-14      0.104  -5.15e-13      1.000      -0.203       0.203
C(item_nbr)[T.45]  -1.244e-13      0.104   -1.2e-12      1.000      -0.203       0.203
C(item_nbr)[T.46]  -6.301e-14      0.104  -6.08e-13      1.000      -0.203       0.203
C(item_nbr)[T.47]      2.5931      0.104     25.014      0.000       2.390       2.796
C(item_nbr)[T.48]  -1.775e-15      0.104  -1.71e-14      1.000      -0.203       0.203
C(item_nbr)[T.49]   8.276e-15      0.104   7.98e-14      1.000      -0.203       0.203
C(item_nbr)[T.50]  -1.171e-13      0.104  -1.13e-12      1.000      -0.203       0.203
C(item_nbr)[T.51]      0.9957      0.104      9.605      0.000       0.793       1.199
C(item_nbr)[T.52]   3.546e-14      0.104   3.42e-13      1.000      -0.203       0.203
C(item_nbr)[T.53]  -4.209e-14      0.104  -4.06e-13      1.000      -0.203       0.203
C(item_nbr)[T.54]  -5.292e-14      0.104   -5.1e-13      1.000      -0.203       0.203
C(item_nbr)[T.55]   1.292e-14      0.104   1.25e-13      1.000      -0.203       0.203
C(item_nbr)[T.56]  -8.885e-14      0.104  -8.57e-13      1.000      -0.203       0.203
C(item_nbr)[T.57]  -3.692e-14      0.104  -3.56e-13      1.000      -0.203       0.203
C(item_nbr)[T.58]   3.634e-14      0.104   3.51e-13      1.000      -0.203       0.203
C(item_nbr)[T.59]   2.981e-14      0.104   2.88e-13      1.000      -0.203       0.203
C(item_nbr)[T.60]   2.618e-14      0.104   2.52e-13      1.000      -0.203       0.203
C(item_nbr)[T.61]  -3.719e-14      0.104  -3.59e-13      1.000      -0.203       0.203
C(item_nbr)[T.62]   4.677e-14      0.104   4.51e-13      1.000      -0.203       0.203
C(item_nbr)[T.63]  -8.969e-14      0.104  -8.65e-13      1.000      -0.203       0.203
C(item_nbr)[T.64]  -3.826e-14      0.104  -3.69e-13      1.000      -0.203       0.203
C(item_nbr)[T.65]  -1.603e-14      0.104  -1.55e-13      1.000      -0.203       0.203
C(item_nbr)[T.66]    2.15e-14      0.104   2.07e-13      1.000      -0.203       0.203
C(item_nbr)[T.67]   1.967e-15      0.104    1.9e-14      1.000      -0.203       0.203
C(item_nbr)[T.68]  -1.805e-14      0.104  -1.74e-13      1.000      -0.203       0.203
C(item_nbr)[T.69]  -5.356e-14      0.104  -5.17e-13      1.000      -0.203       0.203
C(item_nbr)[T.70]  -1.092e-13      0.104  -1.05e-12      1.000      -0.203       0.203
C(item_nbr)[T.71]   4.218e-14      0.104   4.07e-13      1.000      -0.203       0.203
C(item_nbr)[T.72]   2.039e-14      0.104   1.97e-13      1.000      -0.203       0.203
C(item_nbr)[T.73]  -4.927e-14      0.104  -4.75e-13      1.000      -0.203       0.203
C(item_nbr)[T.74]  -1.556e-13      0.104   -1.5e-12      1.000      -0.203       0.203
C(item_nbr)[T.75]   3.889e-14      0.104   3.75e-13      1.000      -0.203       0.203
C(item_nbr)[T.76]   4.113e-14      0.104   3.97e-13      1.000      -0.203       0.203
C(item_nbr)[T.77]   5.263e-15      0.104   5.08e-14      1.000      -0.203       0.203
C(item_nbr)[T.78]  -7.942e-14      0.104  -7.66e-13      1.000      -0.203       0.203
C(item_nbr)[T.79]  -1.419e-13      0.104  -1.37e-12      1.000      -0.203       0.203
C(item_nbr)[T.80]  -3.841e-14      0.104  -3.71e-13      1.000      -0.203       0.203
C(item_nbr)[T.81]  -1.288e-13      0.104  -1.24e-12      1.000      -0.203       0.203
C(item_nbr)[T.82]  -9.352e-14      0.104  -9.02e-13      1.000      -0.203       0.203
C(item_nbr)[T.83]   8.124e-15      0.104   7.84e-14      1.000      -0.203       0.203
C(item_nbr)[T.84]  -2.011e-14      0.104  -1.94e-13      1.000      -0.203       0.203
C(item_nbr)[T.85]   1.338e-14      0.104   1.29e-13      1.000      -0.203       0.203
C(item_nbr)[T.86]  -3.026e-14      0.104  -2.92e-13      1.000      -0.203       0.203
C(item_nbr)[T.87]   1.195e-14      0.104   1.15e-13      1.000      -0.203       0.203
C(item_nbr)[T.88]  -7.964e-15      0.104  -7.68e-14      1.000      -0.203       0.203
C(item_nbr)[T.89]      0.1690      0.104      1.630      0.103      -0.034       0.372
C(item_nbr)[T.90]  -2.853e-14      0.104  -2.75e-13      1.000      -0.203       0.203
C(item_nbr)[T.91]   3.135e-14      0.104   3.02e-13      1.000      -0.203       0.203
C(item_nbr)[T.92]   1.906e-14      0.104   1.84e-13      1.000      -0.203       0.203
C(item_nbr)[T.93]      1.1873      0.104     11.453      0.000       0.984       1.390
C(item_nbr)[T.94]   5.098e-15      0.104   4.92e-14      1.000      -0.203       0.203
C(item_nbr)[T.95]   -2.04e-14      0.104  -1.97e-13      1.000      -0.203       0.203
C(item_nbr)[T.96]   3.702e-14      0.104   3.57e-13      1.000      -0.203       0.203
C(item_nbr)[T.97]  -8.298e-15      0.104     -8e-14      1.000      -0.203       0.203
C(item_nbr)[T.98]  -6.209e-14      0.104  -5.99e-13      1.000      -0.203       0.203
C(item_nbr)[T.99]      0.5296      0.104      5.109      0.000       0.326       0.733
C(item_nbr)[T.100]  4.668e-14      0.104    4.5e-13      1.000      -0.203       0.203
C(item_nbr)[T.101] -9.207e-14      0.104  -8.88e-13      1.000      -0.203       0.203
C(item_nbr)[T.102] -1.917e-14      0.104  -1.85e-13      1.000      -0.203       0.203
C(item_nbr)[T.103] -7.003e-15      0.104  -6.75e-14      1.000      -0.203       0.203
C(item_nbr)[T.104] -2.034e-14      0.104  -1.96e-13      1.000      -0.203       0.203
C(item_nbr)[T.105] -5.459e-15      0.104  -5.27e-14      1.000      -0.203       0.203
C(item_nbr)[T.106]  3.132e-14      0.104   3.02e-13      1.000      -0.203       0.203
C(item_nbr)[T.107]  1.865e-14      0.104    1.8e-13      1.000      -0.203       0.203
C(item_nbr)[T.108]  -5.53e-15      0.104  -5.33e-14      1.000      -0.203       0.203
C(item_nbr)[T.109]  2.895e-14      0.104   2.79e-13      1.000      -0.203       0.203
C(item_nbr)[T.110]  3.281e-14      0.104   3.16e-13      1.000      -0.203       0.203
C(item_nbr)[T.111]   2.92e-14      0.104   2.82e-13      1.000      -0.203       0.203
windchill             -0.0012      0.000     -3.689      0.000      -0.002      -0.001
==============================================================================
Omnibus:                   213700.619   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       3686038726.921
Skew:                          17.025   Prob(JB):                         0.00
Kurtosis:                     928.598   Cond. No.                     1.17e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.18e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

## Item_nbr 없는 것은 삭제 후, 다시 돌리기 (카테고리 재정립)

In [42]:
## 여기서, 안팔린 item을 제외해고 다시 돌려보자.
df1_sorted = df1[df1['units'] != 0]
# Data의 갯수가 너무 많이 줄어 들기는 함.

In [43]:
df1_sorted.describe()

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,...,avgspeed,nothing,rain,other,item_nbr,units,week7,weekend,relative_humility,windchill
count,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,...,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000,2877.000000
mean,59.041757,40.364037,49.967619,36.809256,44.070053,16.898569,1.866188,0.074805,29.855188,30.021091,...,6.481086,0.476886,0.515468,0.081682,36.500174,13.079249,3.061522,0.296489,61.845630,47.553263
std,19.198233,16.955794,17.775544,19.142099,16.237926,15.377767,4.093847,0.188912,0.230669,0.230732,...,3.277740,0.499552,0.499848,0.273928,28.879812,17.346124,2.000010,0.456789,14.650134,21.651034
min,14.000000,-4.000000,8.000000,-12.000000,4.000000,0.000000,0.000000,0.000000,28.950000,29.200000,...,0.600000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,20.389775,-8.141708
25%,43.000000,28.000000,36.000000,23.000000,32.000000,0.000000,0.000000,0.000000,29.700000,29.880000,...,4.100000,0.000000,0.000000,0.000000,9.000000,3.000000,1.000000,0.000000,51.851412,31.440103
50%,60.000000,40.000000,51.000000,38.000000,45.000000,14.000000,0.000000,0.005000,29.860000,30.030000,...,5.900000,0.000000,1.000000,0.000000,28.000000,6.000000,3.000000,0.000000,61.659031,49.118262
75%,75.000000,54.000000,65.000000,53.000000,58.000000,29.000000,1.000000,0.030000,30.010000,30.180000,...,8.200000,1.000000,1.000000,0.000000,47.000000,15.000000,5.000000,1.000000,71.931829,66.008573
max,97.000000,77.000000,86.000000,71.000000,76.000000,57.000000,21.000000,1.980000,30.590000,30.770000,...,19.800000,1.000000,1.000000,1.000000,99.000000,207.000000,6.000000,1.000000,100.000000,90.656121

In [44]:
# Sort하고, resultdir이 Category일 때
model1_sorted = sm.OLS.from_formula('units ~ tmax + tmin + tavg + dewpoint + wetbulb + heat + cool + preciptotal + stnpressure + \
sealevel + resultspeed + C(resultdir) + avgspeed + C(nothing) + C(rain) + C(other) + C(item_nbr) + C(week7) + \
C(weekend) + relative_humility + windchill + 0', data=df1_sorted)

result1_sorted = model1_sorted.fit()

print(result1_sorted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.489
Model:                            OLS   Adj. R-squared:                  0.477
Method:                 Least Squares   F-statistic:                     42.00
Date:                Tue, 03 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:36:53   Log-Likelihood:                -11326.
No. Observations:                2877   AIC:                         2.278e+04
Df Residuals:                    2812   BIC:                         2.317e+04
Df Model:                          64
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(resultdir)[1.0]     -0.9413      1.632     -0.577      0.564      -4.141       2.259
C(resultdir)[2.0]      1.6189      1.511      1.071      0.284      -1.344       4.581
C(resultdir)[3.0]     -0.3996      1.636     -0.244      0.807      -3.607       2.808
C(resultdir)[4.0]     -0.5747      1.409     -0.408      0.683      -3.338       2.189
C(resultdir)[5.0]     -1.2195      1.252     -0.974      0.330      -3.674       1.235
C(resultdir)[6.0]      0.4078      1.348      0.303      0.762      -2.235       3.051
C(resultdir)[7.0]     -1.1141      1.332     -0.836      0.403      -3.727       1.498
C(resultdir)[8.0]      2.6197      1.931      1.357      0.175      -1.167       6.406
C(resultdir)[9.0]     -2.1265      2.038     -1.043      0.297      -6.123       1.870
C(resultdir)[10.0]    -3.6176      1.720     -2.103      0.036      -6.990      -0.245
C(resultdir)[11.0]    -3.2406      2.354     -1.377      0.169      -7.855       1.374
C(resultdir)[12.0]     0.8095      1.899      0.426      0.670      -2.914       4.533
C(resultdir)[13.0]     3.5756      3.017      1.185      0.236      -2.340       9.491
C(resultdir)[14.0]     0.1059      2.825      0.037      0.970      -5.433       5.644
C(resultdir)[15.0]    -3.3105      2.778     -1.192      0.233      -8.757       2.136
C(resultdir)[16.0]     3.9125      2.648      1.477      0.140      -1.281       9.105
C(resultdir)[17.0]     0.8579      2.005      0.428      0.669      -3.074       4.790
C(resultdir)[18.0]     1.2620      2.309      0.547      0.585      -3.265       5.789
C(resultdir)[19.0]     1.3448      1.976      0.680      0.496      -2.531       5.220
C(resultdir)[20.0]     2.2799      1.302      1.751      0.080      -0.273       4.833
C(resultdir)[21.0]     0.0039      0.897      0.004      0.997      -1.755       1.763
C(resultdir)[22.0]    -1.0192      1.172     -0.870      0.385      -3.317       1.279
C(resultdir)[23.0]     0.4934      0.995      0.496      0.620      -1.459       2.445
C(resultdir)[24.0]    -0.1749      1.395     -0.125      0.900      -2.911       2.561
C(resultdir)[25.0]     1.5252      1.154      1.321      0.186      -0.738       3.788
C(resultdir)[26.0]    -1.0704      1.075     -0.996      0.319      -3.177       1.037
C(resultdir)[27.0]     0.8289      1.296      0.640      0.523      -1.712       3.370
C(resultdir)[28.0]     1.5808      1.136      1.392      0.164      -0.647       3.808
C(resultdir)[29.0]    -1.4013      1.478     -0.948      0.343      -4.300       1.497
C(resultdir)[30.0]     1.6474      1.114      1.478      0.139      -0.538       3.833
C(resultdir)[31.0]     2.1022      1.196      1.758      0.079      -0.243       4.447
C(resultdir)[32.0]     0.2924      1.416      0.206      0.836      -2.484       3.069
C(resultdir)[33.0]    -1.5004      1.614     -0.929      0.353      -4.666       1.665
C(resultdir)[34.0]     1.5175      1.796      0.845      0.398      -2.004       5.039
C(resultdir)[35.0]    -3.2768      2.052     -1.597      0.110      -7.300       0.746
C(resultdir)[36.0]    -3.8161      1.872     -2.039      0.042      -7.486      -0.146
C(nothing)[T.1]        1.7628      2.940      0.600      0.549      -4.003       7.528
C(rain)[T.1]           1.1399      2.936      0.388      0.698      -4.617       6.897
C(other)[T.1]          0.3863      0.980      0.394      0.694      -1.536       2.309
C(item_nbr)[T.28]    -24.3818      0.588    -41.464      0.000     -25.535     -23.229
C(item_nbr)[T.40]    -28.9232      1.275    -22.676      0.000     -31.424     -26.422
C(item_nbr)[T.47]    -21.4751      0.841    -25.541      0.000     -23.124     -19.826
C(item_nbr)[T.51]    -25.6574      1.047    -24.510      0.000     -27.710     -23.605
C(item_nbr)[T.89]    -28.1165      1.514    -18.577      0.000     -31.084     -25.149
C(item_nbr)[T.93]    -24.0337      1.010    -23.788      0.000     -26.015     -22.053
C(item_nbr)[T.99]    -27.7071      1.005    -27.562      0.000     -29.678     -25.736
C(week7)[T.1]         -0.0997      0.916     -0.109      0.913      -1.895       1.695
C(week7)[T.2]         -1.4537      0.921     -1.578      0.115      -3.260       0.353
C(week7)[T.3]         -1.2387      0.910     -1.361      0.174      -3.024       0.546
C(week7)[T.4]          1.5961      0.898      1.777      0.076      -0.165       3.357
C(week7)[T.5]          1.7017      0.507      3.353      0.001       0.707       2.697
C(week7)[T.6]          2.2516      0.515      4.370      0.000       1.241       3.262
C(weekend)[T.1]        3.9533      0.520      7.606      0.000       2.934       4.972
tmax                  -0.6249      0.278     -2.245      0.025      -1.171      -0.079
tmin                  -0.2882      0.285     -1.012      0.312      -0.847       0.270
tavg                   0.3896      0.873      0.446      0.655      -1.322       2.101
dewpoint               0.5199      0.272      1.909      0.056      -0.014       1.054
wetbulb                0.1182      0.140      0.846      0.398      -0.156       0.392
heat                  -0.6972      0.690     -1.011      0.312      -2.050       0.655
cool                   0.8170      0.688      1.187      0.235      -0.533       2.167
preciptotal            0.3057      1.579      0.194      0.847      -2.791       3.402
stnpressure            6.1857      9.134      0.677      0.498     -11.724      24.095
sealevel              -3.0925      8.981     -0.344      0.731     -20.702      14.517
resultspeed           -0.2309      0.282     -0.818      0.413      -0.784       0.323
avgspeed              -0.2670      0.351     -0.762      0.446      -0.954       0.420
relative_humility     -0.2381      0.118     -2.022      0.043      -0.469      -0.007
windchill             -0.6830      0.294     -2.324      0.020      -1.259      -0.107
==============================================================================
Omnibus:                     2064.633   Durbin-Watson:                   2.050
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            79916.024
Skew:                           2.940   Prob(JB):                         0.00
Kurtosis:                      28.141   Cond. No.                     1.77e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.89e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [79]:
# Sort하고, resultdir이 Category가 아닐 때
model1_sorted_2 = sm.OLS.from_formula('units ~ tmax + tmin + tavg + dewpoint + wetbulb + heat + cool + preciptotal + stnpressure + \
sealevel + resultspeed + resultdir + avgspeed + C(nothing) + C(rain) + C(other) + C(item_nbr) + C(week7) + \
C(weekend) + relative_humility + windchill + 0', data=df1_sorted)

result1_sorted_2 = model1_sorted_2.fit()

print(result1_sorted_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.481
Model:                            OLS   Adj. R-squared:                  0.476
Method:                 Least Squares   F-statistic:                     87.96
Date:                Tue, 03 Jul 2018   Prob (F-statistic):               0.00
Time:                        15:36:26   Log-Likelihood:                -11347.
No. Observations:                2877   AIC:                         2.276e+04
Df Residuals:                    2846   BIC:                         2.294e+04
Df Model:                          30
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
C(nothing)[0]        -0.3334      1.444     -0.231      0.817      -3.166       2.499
C(nothing)[1]         0.3255      1.443      0.226      0.822      -2.503       3.154
C(rain)[T.1]         -0.1494      2.880     -0.052      0.959      -5.796       5.497
C(other)[T.1]         0.2985      0.964      0.310      0.757      -1.592       2.189
C(item_nbr)[T.28]   -24.3897      0.589    -41.423      0.000     -25.544     -23.235
C(item_nbr)[T.40]   -28.8742      1.273    -22.678      0.000     -31.371     -26.378
C(item_nbr)[T.47]   -21.5807      0.839    -25.720      0.000     -23.226     -19.935
C(item_nbr)[T.51]   -25.6846      1.045    -24.589      0.000     -27.733     -23.636
C(item_nbr)[T.89]   -28.1174      1.508    -18.643      0.000     -31.075     -25.160
C(item_nbr)[T.93]   -23.9907      1.008    -23.790      0.000     -25.968     -22.013
C(item_nbr)[T.99]   -27.8399      1.003    -27.755      0.000     -29.807     -25.873
C(week7)[T.1]        -0.3812      0.902     -0.423      0.672      -2.149       1.387
C(week7)[T.2]        -1.5010      0.904     -1.660      0.097      -3.274       0.272
C(week7)[T.3]        -1.3501      0.892     -1.513      0.130      -3.100       0.399
C(week7)[T.4]         1.3383      0.882      1.518      0.129      -0.390       3.067
C(week7)[T.5]         1.6348      0.502      3.257      0.001       0.650       2.619
C(week7)[T.6]         2.2351      0.504      4.436      0.000       1.247       3.223
C(weekend)[T.1]       3.8700      0.512      7.562      0.000       2.867       4.873
tmax                 -0.6381      0.271     -2.351      0.019      -1.170      -0.106
tmin                 -0.3507      0.278     -1.264      0.206      -0.895       0.194
tavg                  0.6721      0.844      0.797      0.426      -0.982       2.327
dewpoint              0.4660      0.266      1.755      0.079      -0.055       0.987
wetbulb               0.1801      0.135      1.331      0.183      -0.085       0.445
heat                 -0.5268      0.650     -0.810      0.418      -1.802       0.749
cool                  0.6620      0.652      1.016      0.310      -0.615       1.940
preciptotal          -0.0287      1.544     -0.019      0.985      -3.056       2.999
stnpressure           5.1703      8.542      0.605      0.545     -11.579      21.919
sealevel             -2.4779      8.421     -0.294      0.769     -18.990      14.034
resultspeed          -0.3073      0.270     -1.139      0.255      -0.836       0.222
resultdir             0.0102      0.029      0.349      0.727      -0.047       0.067
avgspeed             -0.1798      0.343     -0.525      0.600      -0.852       0.492
relative_humility    -0.2227      0.114     -1.954      0.051      -0.446       0.001
windchill            -0.7199      0.287     -2.512      0.012      -1.282      -0.158
==============================================================================
Omnibus:                     2080.530   Durbin-Watson:                   2.034
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            81454.749
Skew:                           2.971   Prob(JB):                         0.00
Kurtosis:                      28.381   Cond. No.                     3.60e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.66e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [82]:
(sm.stats.anova_lm(result1_sorted_2, typ=2))

                          sum_sq      df           F        PR(>F)
C(nothing)             18.517325     2.0    0.058683  9.430072e-01
C(rain)                 0.424757     1.0    0.002692  9.586231e-01
C(other)               15.120111     1.0    0.095833  7.569111e-01
C(item_nbr)        388046.770630     7.0  351.355622  0.000000e+00
C(week7)            24232.939200     6.0   25.598571  8.976137e-30
C(weekend)           9023.154532     1.0   57.189891  5.306169e-14
tmax                  872.194373     1.0    5.528078  1.878150e-02
tmin                  251.898101     1.0    1.596562  2.064946e-01
tavg                  100.104750     1.0    0.634477  4.257845e-01
dewpoint              485.689346     1.0    3.078360  7.944808e-02
wetbulb               279.532725     1.0    1.771714  1.832768e-01
heat                  103.512393     1.0    0.656075  4.180169e-01
cool                  162.914078     1.0    1.032570  3.096422e-01
preciptotal             0.054392     1.0    0.000345  9.851876e-01
stnpressure            57.802175     1.0    0.366357  5.450447e-01
sealevel               13.661117     1.0    0.086586  7.685847e-01
resultspeed           204.751685     1.0    1.297742  2.547220e-01
resultdir              19.175400     1.0    0.121536  7.274002e-01
avgspeed               43.429643     1.0    0.275263  5.998641e-01
relative_humility     602.497683     1.0    3.818706  5.078116e-02
windchill             995.563558     1.0    6.310007  1.206076e-02
Residual           449028.619908  2846.0         NaN           NaN

In [ ]:
# 버려야 할 목록:
# C(nothing),

In [ ]:
C(nothing)[0]        -0.3334      1.444     -0.231      0.817      -3.166       2.499
C(nothing)[1]         0.3255      1.443      0.226      0.822      -2.503       3.154
C(rain)[T.1]         -0.1494      2.880     -0.052      0.959      -5.796       5.497
C(other)[T.1]         0.2985      0.964      0.310      0.757      -1.592       2.189
C(item_nbr)[T.28]   -24.3897      0.589    -41.423      0.000     -25.544     -23.235
C(item_nbr)[T.40]   -28.8742      1.273    -22.678      0.000     -31.371     -26.378
C(item_nbr)[T.47]   -21.5807      0.839    -25.720      0.000     -23.226     -19.935
C(item_nbr)[T.51]   -25.6846      1.045    -24.589      0.000     -27.733     -23.636
C(item_nbr)[T.89]   -28.1174      1.508    -18.643      0.000     -31.075     -25.160
C(item_nbr)[T.93]   -23.9907      1.008    -23.790      0.000     -25.968     -22.013
C(item_nbr)[T.99]   -27.8399      1.003    -27.755      0.000     -29.807     -25.873
C(week7)[T.1]        -0.3812      0.902     -0.423      0.672      -2.149       1.387
C(week7)[T.2]        -1.5010      0.904     -1.660      0.097      -3.274       0.272
C(week7)[T.3]        -1.3501      0.892     -1.513      0.130      -3.100       0.399
C(week7)[T.4]         1.3383      0.882      1.518      0.129      -0.390       3.067
C(week7)[T.5]         1.6348      0.502      3.257      0.001       0.650       2.619
C(week7)[T.6]         2.2351      0.504      4.436      0.000       1.247       3.223
C(weekend)[T.1]       3.8700      0.512      7.562      0.000       2.867       4.873