In [1]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [2]:
weather = pd.read_csv("weather3_180703.csv")
weather['date'] = pd.to_datetime(weather["date"])
station = weather[weather['station_nbr'] == 19]

In [3]:
station['date'].count()

1035

In [4]:
# ls == 모든 값이 0인 것

ls = []
ls1 = []
for i in station.columns:
    if station[i].count() == 0:
        ls.append(i)
    if station[i].isna().sum() != 0:
        ls1.append(i)
ls, ls1

([], ['depart', 'sunrise', 'sunset', 'daytime'])

In [5]:
for i in station.columns:
    count_null = station[i].isna().sum()
    print(i, ":", count_null, "(",round((count_null / len(station) * 100),2),"%",")")

station_nbr : 0 ( 0.0 % )
date : 0 ( 0.0 % )
tmax : 0 ( 0.0 % )
tmin : 0 ( 0.0 % )
tavg : 0 ( 0.0 % )
depart : 31 ( 3.0 % )
dewpoint : 0 ( 0.0 % )
wetbulb : 0 ( 0.0 % )
heat : 0 ( 0.0 % )
cool : 0 ( 0.0 % )
sunrise : 31 ( 3.0 % )
sunset : 31 ( 3.0 % )
codesum : 0 ( 0.0 % )
snowfall : 0 ( 0.0 % )
preciptotal : 0 ( 0.0 % )
stnpressure : 0 ( 0.0 % )
sealevel : 0 ( 0.0 % )
resultspeed : 0 ( 0.0 % )
resultdir : 0 ( 0.0 % )
avgspeed : 0 ( 0.0 % )
year : 0 ( 0.0 % )
month : 0 ( 0.0 % )
day : 0 ( 0.0 % )
relative_humility : 0 ( 0.0 % )
windchill : 0 ( 0.0 % )
daytime : 31 ( 3.0 % )
week7 : 0 ( 0.0 % )
weekend : 0 ( 0.0 % )
code_change : 0 ( 0.0 % )
rainY : 0 ( 0.0 % )
otherY : 0 ( 0.0 % )
nothing : 0 ( 0.0 % )

In [6]:
train = pd.read_csv("train.csv")
train.date = pd.to_datetime(train.date)
train.tail()

              date  store_nbr  item_nbr  units
4617595 2014-10-31         45       107      0
4617596 2014-10-31         45       108      0
4617597 2014-10-31         45       109      0
4617598 2014-10-31         45       110      0
4617599 2014-10-31         45       111      0

In [7]:
key = pd.read_csv("key.csv")
station = station.merge(key)

In [8]:
station = station.merge(train)
station.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr,units
96343,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,107,0
96344,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,108,0
96345,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,109,0
96346,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,110,0
96347,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,111,0

In [9]:
station['log1p_units'] = np.log1p(station.units)

In [10]:
target1 = station['units']
target2 = station['log1p_units']

station.drop(columns=['units','log1p_units'],inplace=True)
station.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,windchill,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr
96343,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,28.951137,10.366667,4,0,2,1,0,0,30,107
96344,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,28.951137,10.366667,4,0,2,1,0,0,30,108
96345,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,28.951137,10.366667,4,0,2,1,0,0,30,109
96346,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,28.951137,10.366667,4,0,2,1,0,0,30,110
96347,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,28.951137,10.366667,4,0,2,1,0,0,30,111

In [11]:
df1 = pd.concat([station,target1], axis=1)
df2 = pd.concat([station,target2], axis=1)

In [12]:
df2.to_csv('station19.csv', sep=',', index=False)

In [13]:
if df2.columns.tolist() and ls:
    print('공통 변수 있음')
    print(df2.columns.tolist() and ls)
else:
    print('공통 변수 없음')

공통 변수 없음

In [14]:
df2.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'year', 'month', 'day', 'relative_humility', 'windchill',
       'daytime', 'week7', 'weekend', 'code_change', 'rainY', 'otherY',
       'nothing', 'store_nbr', 'item_nbr', 'log1p_units'],
      dtype='object')

In [15]:
ls, ls1

([], ['depart', 'sunrise', 'sunset', 'daytime'])

### 1. 변수변환: df2 (log1p_units)

In [17]:
all_var = 'log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(depart) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                            + scale(sunrise) + scale(sunset) + scale(snowfall) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                            + C(resultdir) + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + C(daytime) + 0'

In [16]:
model2 = sm.OLS.from_formula('log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                           + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                            + C(resultdir) + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2)
result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.963
Model:                            OLS   Adj. R-squared:                  0.963
Method:                 Least Squares   F-statistic:                 1.451e+04
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:51:33   Log-Likelihood:                 74108.
No. Observations:               96348   AIC:                        -1.479e+05
Df Residuals:                   96174   BIC:                        -1.462e+05
Df Model:                         173
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(resultdir)[1.0]            0.0117      0.005      2.343      0.019       0.002       0.021
C(resultdir)[2.0]            0.0085      0.005      1.803      0.071      -0.001       0.018
C(resultdir)[3.0]            0.0086      0.005      1.828      0.068      -0.001       0.018
C(resultdir)[4.0]            0.0079      0.005      1.573      0.116      -0.002       0.018
C(resultdir)[5.0]            0.0086      0.005      1.774      0.076      -0.001       0.018
C(resultdir)[6.0]            0.0150      0.005      2.806      0.005       0.005       0.026
C(resultdir)[7.0]            0.0076      0.005      1.525      0.127      -0.002       0.017
C(resultdir)[8.0]            0.0053      0.005      1.049      0.294      -0.005       0.015
C(resultdir)[9.0]            0.0030      0.007      0.466      0.641      -0.010       0.016
C(resultdir)[10.0]           0.0118      0.005      2.304      0.021       0.002       0.022
C(resultdir)[11.0]           0.0082      0.005      1.529      0.126      -0.002       0.019
C(resultdir)[12.0]           0.0045      0.005      0.887      0.375      -0.005       0.014
C(resultdir)[13.0]           0.0055      0.005      1.105      0.269      -0.004       0.015
C(resultdir)[14.0]           0.0064      0.005      1.248      0.212      -0.004       0.016
C(resultdir)[15.0]           0.0061      0.005      1.226      0.220      -0.004       0.016
C(resultdir)[16.0]           0.0082      0.005      1.736      0.083      -0.001       0.018
C(resultdir)[17.0]           0.0064      0.005      1.370      0.171      -0.003       0.016
C(resultdir)[18.0]           0.0038      0.005      0.788      0.431      -0.006       0.013
C(resultdir)[19.0]           0.0060      0.005      1.279      0.201      -0.003       0.015
C(resultdir)[20.0]           0.0071      0.005      1.501      0.133      -0.002       0.016
C(resultdir)[21.0]           0.0086      0.005      1.867      0.062      -0.000       0.018
C(resultdir)[22.0]           0.0076      0.005      1.646      0.100      -0.001       0.017
C(resultdir)[23.0]           0.0052      0.005      1.116      0.264      -0.004       0.014
C(resultdir)[24.0]           0.0074      0.005      1.561      0.118      -0.002       0.017
C(resultdir)[25.0]           0.0070      0.005      1.508      0.131      -0.002       0.016
C(resultdir)[26.0]           0.0102      0.005      2.155      0.031       0.001       0.019
C(resultdir)[27.0]           0.0089      0.005      1.904      0.057      -0.000       0.018
C(resultdir)[28.0]           0.0087      0.005      1.881      0.060      -0.000       0.018
C(resultdir)[29.0]           0.0079      0.005      1.663      0.096      -0.001       0.017
C(resultdir)[30.0]           0.0059      0.005      1.247      0.212      -0.003       0.015
C(resultdir)[31.0]           0.0063      0.005      1.313      0.189      -0.003       0.016
C(resultdir)[32.0]           0.0068      0.005      1.379      0.168      -0.003       0.016
C(resultdir)[33.0]           0.0044      0.006      0.796      0.426      -0.006       0.015
C(resultdir)[34.0]           0.0102      0.005      1.988      0.047       0.000       0.020
C(resultdir)[35.0]           0.0106      0.005      2.059      0.039       0.001       0.021
C(resultdir)[36.0]           0.0046      0.005      0.916      0.360      -0.005       0.014
C(year)[T.2013]             -0.0075      0.001     -8.091      0.000      -0.009      -0.006
C(year)[T.2014]             -0.0207      0.001    -19.760      0.000      -0.023      -0.019
C(month)[T.2]               -0.0007      0.002     -0.364      0.716      -0.004       0.003
C(month)[T.3]               -0.0005      0.002     -0.223      0.823      -0.004       0.004
C(month)[T.4]               -0.0010      0.002     -0.425      0.671      -0.006       0.004
C(month)[T.5]               -0.0036      0.003     -1.337      0.181      -0.009       0.002
C(month)[T.6]                0.0013      0.003      0.426      0.670      -0.005       0.007
C(month)[T.7]               -0.0010      0.003     -0.304      0.761      -0.007       0.005
C(month)[T.8]                0.0028      0.003      0.863      0.388      -0.004       0.009
C(month)[T.9]               -0.0031      0.003     -1.080      0.280      -0.009       0.003
C(month)[T.10]              -0.0080      0.002     -3.356      0.001      -0.013      -0.003
C(month)[T.11]              -0.0128      0.002     -5.681      0.000      -0.017      -0.008
C(month)[T.12]               0.0001      0.002      0.060      0.952      -0.004       0.004
C(weekend)[T.1]              0.0046      0.001      5.617      0.000       0.003       0.006
C(rainY)[T.1]                0.0019      0.001      2.039      0.041    7.38e-05       0.004
C(item_nbr)[T.2]          -1.38e-15      0.005  -2.56e-13      1.000      -0.011       0.011
C(item_nbr)[T.3]         -1.516e-15      0.005  -2.81e-13      1.000      -0.011       0.011
C(item_nbr)[T.4]          6.808e-17      0.005   1.26e-14      1.000      -0.011       0.011
C(item_nbr)[T.5]         -6.976e-17      0.005  -1.29e-14      1.000      -0.011       0.011
C(item_nbr)[T.6]          2.095e-16      0.005   3.89e-14      1.000      -0.011       0.011
C(item_nbr)[T.7]         -8.009e-17      0.005  -1.49e-14      1.000      -0.011       0.011
C(item_nbr)[T.8]         -3.883e-16      0.005  -7.21e-14      1.000      -0.011       0.011
C(item_nbr)[T.9]         -4.281e-16      0.005  -7.95e-14      1.000      -0.011       0.011
C(item_nbr)[T.10]        -2.951e-17      0.005  -5.48e-15      1.000      -0.011       0.011
C(item_nbr)[T.11]        -6.854e-16      0.005  -1.27e-13      1.000      -0.011       0.011
C(item_nbr)[T.12]        -1.996e-15      0.005  -3.71e-13      1.000      -0.011       0.011
C(item_nbr)[T.13]            0.3186      0.005     59.144      0.000       0.308       0.329
C(item_nbr)[T.14]         5.134e-16      0.005   9.53e-14      1.000      -0.011       0.011
C(item_nbr)[T.15]         5.319e-16      0.005   9.87e-14      1.000      -0.011       0.011
C(item_nbr)[T.16]            3.5328      0.005    655.769      0.000       3.522       3.543
C(item_nbr)[T.17]        -8.695e-16      0.005  -1.61e-13      1.000      -0.011       0.011
C(item_nbr)[T.18]         8.714e-16      0.005   1.62e-13      1.000      -0.011       0.011
C(item_nbr)[T.19]        -1.718e-15      0.005  -3.19e-13      1.000      -0.011       0.011
C(item_nbr)[T.20]        -2.574e-15      0.005  -4.78e-13      1.000      -0.011       0.011
C(item_nbr)[T.21]        -1.309e-15      0.005  -2.43e-13      1.000      -0.011       0.011
C(item_nbr)[T.22]          5.26e-16      0.005   9.76e-14      1.000      -0.011       0.011
C(item_nbr)[T.23]         2.142e-15      0.005   3.98e-13      1.000      -0.011       0.011
C(item_nbr)[T.24]        -8.917e-16      0.005  -1.66e-13      1.000      -0.011       0.011
C(item_nbr)[T.25]        -1.246e-15      0.005  -2.31e-13      1.000      -0.011       0.011
C(item_nbr)[T.26]        -4.324e-16      0.005  -8.03e-14      1.000      -0.011       0.011
C(item_nbr)[T.27]         -5.31e-16      0.005  -9.86e-14      1.000      -0.011       0.011
C(item_nbr)[T.28]         6.418e-16      0.005   1.19e-13      1.000      -0.011       0.011
C(item_nbr)[T.29]        -3.157e-16      0.005  -5.86e-14      1.000      -0.011       0.011
C(item_nbr)[T.30]         1.497e-15      0.005   2.78e-13      1.000      -0.011       0.011
C(item_nbr)[T.31]        -1.145e-15      0.005  -2.13e-13      1.000      -0.011       0.011
C(item_nbr)[T.32]        -3.571e-16      0.005  -6.63e-14      1.000      -0.011       0.011
C(item_nbr)[T.33]        -1.736e-15      0.005  -3.22e-13      1.000      -0.011       0.011
C(item_nbr)[T.34]         1.397e-15      0.005   2.59e-13      1.000      -0.011       0.011
C(item_nbr)[T.35]         -7.15e-16      0.005  -1.33e-13      1.000      -0.011       0.011
C(item_nbr)[T.36]          3.57e-16      0.005   6.63e-14      1.000      -0.011       0.011
C(item_nbr)[T.37]         6.424e-16      0.005   1.19e-13      1.000      -0.011       0.011
C(item_nbr)[T.38]        -3.213e-16      0.005  -5.96e-14      1.000      -0.011       0.011
C(item_nbr)[T.39]         2.081e-15      0.005   3.86e-13      1.000      -0.011       0.011
C(item_nbr)[T.40]        -1.036e-15      0.005  -1.92e-13      1.000      -0.011       0.011
C(item_nbr)[T.41]         8.525e-16      0.005   1.58e-13      1.000      -0.011       0.011
C(item_nbr)[T.42]         4.863e-16      0.005   9.03e-14      1.000      -0.011       0.011
C(item_nbr)[T.43]        -1.279e-15      0.005  -2.37e-13      1.000      -0.011       0.011
C(item_nbr)[T.44]            4.9470      0.005    918.290      0.000       4.936       4.958
C(item_nbr)[T.45]        -1.494e-15      0.005  -2.77e-13      1.000      -0.011       0.011
C(item_nbr)[T.46]         1.282e-15      0.005   2.38e-13      1.000      -0.011       0.011
C(item_nbr)[T.47]        -1.026e-16      0.005   -1.9e-14      1.000      -0.011       0.011
C(item_nbr)[T.48]         5.923e-16      0.005    1.1e-13      1.000      -0.011       0.011
C(item_nbr)[T.49]            0.0682      0.005     12.664      0.000       0.058       0.079
C(item_nbr)[T.50]         4.689e-16      0.005    8.7e-14      1.000      -0.011       0.011
C(item_nbr)[T.51]            0.1115      0.005     20.696      0.000       0.101       0.122
C(item_nbr)[T.52]         3.757e-16      0.005   6.97e-14      1.000      -0.011       0.011
C(item_nbr)[T.53]        -5.102e-16      0.005  -9.47e-14      1.000      -0.011       0.011
C(item_nbr)[T.54]        -2.493e-16      0.005  -4.63e-14      1.000      -0.011       0.011
C(item_nbr)[T.55]        -8.366e-16      0.005  -1.55e-13      1.000      -0.011       0.011
C(item_nbr)[T.56]         7.064e-16      0.005   1.31e-13      1.000      -0.011       0.011
C(item_nbr)[T.57]         3.316e-16      0.005   6.16e-14      1.000      -0.011       0.011
C(item_nbr)[T.58]         7.062e-17      0.005   1.31e-14      1.000      -0.011       0.011
C(item_nbr)[T.59]        -1.266e-15      0.005  -2.35e-13      1.000      -0.011       0.011
C(item_nbr)[T.60]          5.48e-16      0.005   1.02e-13      1.000      -0.011       0.011
C(item_nbr)[T.61]        -2.788e-18      0.005  -5.17e-16      1.000      -0.011       0.011
C(item_nbr)[T.62]         1.362e-15      0.005   2.53e-13      1.000      -0.011       0.011
C(item_nbr)[T.63]        -7.153e-16      0.005  -1.33e-13      1.000      -0.011       0.011
C(item_nbr)[T.64]         1.447e-16      0.005   2.69e-14      1.000      -0.011       0.011
C(item_nbr)[T.65]            0.3371      0.005     62.578      0.000       0.327       0.348
C(item_nbr)[T.66]         1.378e-15      0.005   2.56e-13      1.000      -0.011       0.011
C(item_nbr)[T.67]        -6.643e-16      0.005  -1.23e-13      1.000      -0.011       0.011
C(item_nbr)[T.68]        -2.001e-16      0.005  -3.71e-14      1.000      -0.011       0.011
C(item_nbr)[T.69]        -6.711e-16      0.005  -1.25e-13      1.000      -0.011       0.011
C(item_nbr)[T.70]        -7.532e-16      0.005   -1.4e-13      1.000      -0.011       0.011
C(item_nbr)[T.71]        -6.816e-16      0.005  -1.27e-13      1.000      -0.011       0.011
C(item_nbr)[T.72]         6.377e-16      0.005   1.18e-13      1.000      -0.011       0.011
C(item_nbr)[T.73]         -3.82e-16      0.005  -7.09e-14      1.000      -0.011       0.011
C(item_nbr)[T.74]         7.966e-16      0.005   1.48e-13      1.000      -0.011       0.011
C(item_nbr)[T.75]        -1.062e-15      0.005  -1.97e-13      1.000      -0.011       0.011
C(item_nbr)[T.76]         3.186e-16      0.005   5.91e-14      1.000      -0.011       0.011
C(item_nbr)[T.77]          1.17e-16      0.005   2.17e-14      1.000      -0.011       0.011
C(item_nbr)[T.78]         4.805e-16      0.005   8.92e-14      1.000      -0.011       0.011
C(item_nbr)[T.79]        -8.054e-16      0.005   -1.5e-13      1.000      -0.011       0.011
C(item_nbr)[T.80]        -1.588e-16      0.005  -2.95e-14      1.000      -0.011       0.011
C(item_nbr)[T.81]          5.28e-16      0.005    9.8e-14      1.000      -0.011       0.011
C(item_nbr)[T.82]         4.347e-16      0.005   8.07e-14      1.000      -0.011       0.011
C(item_nbr)[T.83]        -9.072e-16      0.005  -1.68e-13      1.000      -0.011       0.011
C(item_nbr)[T.84]        -7.271e-16      0.005  -1.35e-13      1.000      -0.011       0.011
C(item_nbr)[T.85]         6.921e-16      0.005   1.28e-13      1.000      -0.011       0.011
C(item_nbr)[T.86]         4.195e-16      0.005   7.79e-14      1.000      -0.011       0.011
C(item_nbr)[T.87]         5.115e-16      0.005   9.49e-14      1.000      -0.011       0.011
C(item_nbr)[T.88]        -4.783e-16      0.005  -8.88e-14      1.000      -0.011       0.011
C(item_nbr)[T.89]        -5.983e-16      0.005  -1.11e-13      1.000      -0.011       0.011
C(item_nbr)[T.90]        -2.131e-16      0.005  -3.96e-14      1.000      -0.011       0.011
C(item_nbr)[T.91]        -5.905e-16      0.005   -1.1e-13      1.000      -0.011       0.011
C(item_nbr)[T.92]         1.561e-16      0.005    2.9e-14      1.000      -0.011       0.011
C(item_nbr)[T.93]        -3.788e-16      0.005  -7.03e-14      1.000      -0.011       0.011
C(item_nbr)[T.94]        -4.228e-16      0.005  -7.85e-14      1.000      -0.011       0.011
C(item_nbr)[T.95]        -4.891e-16      0.005  -9.08e-14      1.000      -0.011       0.011
C(item_nbr)[T.96]        -8.238e-16      0.005  -1.53e-13      1.000      -0.011       0.011
C(item_nbr)[T.97]         1.014e-15      0.005   1.88e-13      1.000      -0.011       0.011
C(item_nbr)[T.98]         9.004e-16      0.005   1.67e-13      1.000      -0.011       0.011
C(item_nbr)[T.99]        -1.986e-15      0.005  -3.69e-13      1.000      -0.011       0.011
C(item_nbr)[T.100]        2.831e-16      0.005   5.26e-14      1.000      -0.011       0.011
C(item_nbr)[T.101]         6.44e-17      0.005    1.2e-14      1.000      -0.011       0.011
C(item_nbr)[T.102]       -1.162e-16      0.005  -2.16e-14      1.000      -0.011       0.011
C(item_nbr)[T.103]       -2.147e-16      0.005  -3.98e-14      1.000      -0.011       0.011
C(item_nbr)[T.104]         1.17e-15      0.005   2.17e-13      1.000      -0.011       0.011
C(item_nbr)[T.105]        1.123e-15      0.005   2.09e-13      1.000      -0.011       0.011
C(item_nbr)[T.106]       -1.468e-16      0.005  -2.72e-14      1.000      -0.011       0.011
C(item_nbr)[T.107]        8.379e-16      0.005   1.56e-13      1.000      -0.011       0.011
C(item_nbr)[T.108]        1.117e-15      0.005   2.07e-13      1.000      -0.011       0.011
C(item_nbr)[T.109]       -8.557e-16      0.005  -1.59e-13      1.000      -0.011       0.011
C(item_nbr)[T.110]        1.088e-15      0.005   2.02e-13      1.000      -0.011       0.011
C(item_nbr)[T.111]       -8.676e-16      0.005  -1.61e-13      1.000      -0.011       0.011
scale(tmax)                  0.0071      0.006      1.115      0.265      -0.005       0.020
scale(tmin)                  0.0025      0.006      0.425      0.671      -0.009       0.014
scale(tavg)                  0.0049      0.006      0.826      0.409      -0.007       0.017
scale(dewpoint)             -0.0146      0.008     -1.937      0.053      -0.029       0.000
scale(wetbulb)              -0.0006      0.004     -0.167      0.868      -0.007       0.006
scale(heat)                  0.0054      0.003      1.664      0.096      -0.001       0.012
scale(cool)                 -0.0009      0.001     -1.034      0.301      -0.002       0.001
scale(preciptotal)           0.0003      0.000      0.695      0.487      -0.001       0.001
scale(stnpressure)       -9.685e-05      0.002     -0.058      0.954      -0.003       0.003
scale(sealevel)              0.0004      0.002      0.257      0.797      -0.003       0.004
scale(resultspeed)          -0.0006      0.001     -0.566      0.571      -0.003       0.001
scale(avgspeed)              0.0004      0.001      0.274      0.784      -0.002       0.003
scale(relative_humility)     0.0037      0.002      1.810      0.070      -0.000       0.008
scale(windchill)             0.0043      0.015      0.294      0.769      -0.024       0.033
==============================================================================
Omnibus:                    95720.771   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         53296127.843
Skew:                           4.074   Prob(JB):                         0.00
Kurtosis:                     117.933   Cond. No.                     2.25e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.45e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### 2. 변수변환 : df2 (log1p_units) + 아웃라이어 제거

In [17]:
# 아웃라이어 제거
# Cook's distance > 2 인 값 제거
influence = result2.get_influence()
cooks_d2, pvals = influence.cooks_distance
fox_cr = 4 / (len(df2) - 2)
idx_outlier = np.where(cooks_d2 > fox_cr)[0]
len(idx_outlier)

3103

In [18]:
idx = list(set(range(len(df2))).difference(idx_outlier))
df2_1 = df2.iloc[idx, :].reset_index(drop=True)
df2_1

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr,log1p_units
0,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,1,0.0
1,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,2,0.0
2,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,3,0.0
3,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,4,0.0
4,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,5,0.0
5,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,6,0.0
6,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,7,0.0
7,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,8,0.0
8,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,9,0.0
9,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,10,0.0
10,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,11,0.0
11,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,12,0.0
12,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,14,0.0
13,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,15,0.0
14,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,17,0.0
15,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,18,0.0
16,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,19,0.0
17,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,20,0.0
18,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,21,0.0
19,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,22,0.0
20,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,23,0.0
21,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,24,0.0
22,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,25,0.0
23,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,26,0.0
24,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,27,0.0
25,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,28,0.0
26,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,29,0.0
27,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,30,0.0
28,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,31,0.0
29,19,2012-01-01,38.0,25.0,31.5,10.0,26.0,30.0,33.0,0.0,...,9.083333,6,1,2,1,0,0,30,32,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93215,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,82,0.0
93216,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,83,0.0
93217,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,84,0.0
93218,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,85,0.0
93219,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,86,0.0
93220,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,87,0.0
93221,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,88,0.0
93222,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,89,0.0
93223,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,90,0.0
93224,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,91,0.0
93225,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,92,0.0
93226,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,93,0.0
93227,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,94,0.0
93228,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,95,0.0
93229,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,96,0.0
93230,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,97,0.0
93231,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,98,0.0
93232,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,99,0.0
93233,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,100,0.0
93234,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,101,0.0
93235,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,102,0.0
93236,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,103,0.0
93237,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,104,0.0
93238,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,105,0.0
93239,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,106,0.0
93240,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,107,0.0
93241,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,108,0.0
93242,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,109,0.0
93243,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,110,0.0
93244,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,...,10.366667,4,0,2,1,0,0,30,111,0.0

In [19]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                           + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                            + C(resultdir) + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 6.125e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:51:58   Log-Likelihood:             3.0244e+05
No. Observations:               93245   AIC:                        -6.045e+05
Df Residuals:                   93073   BIC:                        -6.029e+05
Df Model:                         171
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(resultdir)[1.0]            0.0005      0.000      1.171      0.242      -0.000       0.001
C(resultdir)[2.0]            0.0004      0.000      0.924      0.356      -0.000       0.001
C(resultdir)[3.0]            0.0004      0.000      1.017      0.309      -0.000       0.001
C(resultdir)[4.0]            0.0004      0.000      0.989      0.322      -0.000       0.001
C(resultdir)[5.0]          4.89e-05      0.000      0.119      0.905      -0.001       0.001
C(resultdir)[6.0]         5.713e-05      0.000      0.126      0.900      -0.001       0.001
C(resultdir)[7.0]        -3.225e-05      0.000     -0.076      0.939      -0.001       0.001
C(resultdir)[8.0]            0.0007      0.000      1.528      0.127      -0.000       0.001
C(resultdir)[9.0]           -0.0002      0.001     -0.351      0.726      -0.001       0.001
C(resultdir)[10.0]           0.0003      0.000      0.712      0.476      -0.001       0.001
C(resultdir)[11.0]           0.0004      0.000      0.936      0.349      -0.000       0.001
C(resultdir)[12.0]           0.0005      0.000      1.212      0.226      -0.000       0.001
C(resultdir)[13.0]           0.0001      0.000      0.275      0.783      -0.001       0.001
C(resultdir)[14.0]           0.0003      0.000      0.737      0.461      -0.001       0.001
C(resultdir)[15.0]           0.0002      0.000      0.526      0.599      -0.001       0.001
C(resultdir)[16.0]           0.0006      0.000      1.436      0.151      -0.000       0.001
C(resultdir)[17.0]           0.0007      0.000      1.832      0.067   -5.11e-05       0.002
C(resultdir)[18.0]           0.0007      0.000      1.634      0.102      -0.000       0.001
C(resultdir)[19.0]           0.0002      0.000      0.463      0.643      -0.001       0.001
C(resultdir)[20.0]           0.0004      0.000      0.910      0.363      -0.000       0.001
C(resultdir)[21.0]           0.0006      0.000      1.420      0.156      -0.000       0.001
C(resultdir)[22.0]           0.0004      0.000      0.901      0.368      -0.000       0.001
C(resultdir)[23.0]           0.0004      0.000      1.051      0.293      -0.000       0.001
C(resultdir)[24.0]           0.0005      0.000      1.341      0.180      -0.000       0.001
C(resultdir)[25.0]           0.0003      0.000      0.811      0.417      -0.000       0.001
C(resultdir)[26.0]           0.0002      0.000      0.480      0.631      -0.001       0.001
C(resultdir)[27.0]           0.0003      0.000      0.654      0.513      -0.001       0.001
C(resultdir)[28.0]           0.0003      0.000      0.710      0.478      -0.000       0.001
C(resultdir)[29.0]        4.367e-05      0.000      0.109      0.913      -0.001       0.001
C(resultdir)[30.0]           0.0002      0.000      0.548      0.584      -0.001       0.001
C(resultdir)[31.0]           0.0004      0.000      1.070      0.284      -0.000       0.001
C(resultdir)[32.0]           0.0002      0.000      0.382      0.702      -0.001       0.001
C(resultdir)[33.0]       -6.086e-05      0.000     -0.128      0.898      -0.001       0.001
C(resultdir)[34.0]           0.0004      0.000      0.883      0.377      -0.000       0.001
C(resultdir)[35.0]           0.0006      0.000      1.366      0.172      -0.000       0.001
C(resultdir)[36.0]           0.0003      0.000      0.709      0.478      -0.001       0.001
C(year)[T.2013]             -0.0004   7.95e-05     -5.289      0.000      -0.001      -0.000
C(year)[T.2014]             -0.0004   8.96e-05     -4.820      0.000      -0.001      -0.000
C(month)[T.2]            -3.924e-05      0.000     -0.244      0.807      -0.000       0.000
C(month)[T.3]             2.913e-05      0.000      0.168      0.866      -0.000       0.000
C(month)[T.4]            -9.092e-05      0.000     -0.442      0.659      -0.000       0.000
C(month)[T.5]               -0.0002      0.000     -0.781      0.435      -0.001       0.000
C(month)[T.6]               -0.0003      0.000     -1.072      0.284      -0.001       0.000
C(month)[T.7]               -0.0002      0.000     -0.848      0.397      -0.001       0.000
C(month)[T.8]               -0.0004      0.000     -1.369      0.171      -0.001       0.000
C(month)[T.9]               -0.0001      0.000     -0.597      0.551      -0.001       0.000
C(month)[T.10]              -0.0002      0.000     -0.990      0.322      -0.001       0.000
C(month)[T.11]              -0.0001      0.000     -0.779      0.436      -0.001       0.000
C(month)[T.12]              -0.0004      0.000     -2.023      0.043      -0.001   -1.16e-05
C(weekend)[T.1]          -6.728e-05   7.07e-05     -0.951      0.342      -0.000    7.14e-05
C(rainY)[T.1]                0.0002   8.03e-05      2.249      0.025    2.32e-05       0.000
C(item_nbr)[T.2]          5.106e-16      0.000   1.13e-12      1.000      -0.001       0.001
C(item_nbr)[T.3]          4.071e-16      0.000   8.97e-13      1.000      -0.001       0.001
C(item_nbr)[T.4]          3.337e-16      0.000   7.35e-13      1.000      -0.001       0.001
C(item_nbr)[T.5]          3.127e-16      0.000   6.89e-13      1.000      -0.001       0.001
C(item_nbr)[T.6]          5.995e-16      0.000   1.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.7]          5.363e-16      0.000   1.18e-12      1.000      -0.001       0.001
C(item_nbr)[T.8]          4.321e-16      0.000   9.52e-13      1.000      -0.001       0.001
C(item_nbr)[T.9]          1.373e-16      0.000   3.03e-13      1.000      -0.001       0.001
C(item_nbr)[T.10]         6.341e-16      0.000    1.4e-12      1.000      -0.001       0.001
C(item_nbr)[T.11]          7.97e-16      0.000   1.76e-12      1.000      -0.001       0.001
C(item_nbr)[T.12]         2.726e-16      0.000   6.01e-13      1.000      -0.001       0.001
C(item_nbr)[T.14]         8.318e-16      0.000   1.83e-12      1.000      -0.001       0.001
C(item_nbr)[T.15]         8.413e-16      0.000   1.85e-12      1.000      -0.001       0.001
C(item_nbr)[T.16]            3.5505      0.001   5132.432      0.000       3.549       3.552
C(item_nbr)[T.17]         4.672e-16      0.000   1.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.18]          4.91e-16      0.000   1.08e-12      1.000      -0.001       0.001
C(item_nbr)[T.19]         3.782e-16      0.000   8.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.20]         4.025e-16      0.000   8.87e-13      1.000      -0.001       0.001
C(item_nbr)[T.21]         4.557e-16      0.000      1e-12      1.000      -0.001       0.001
C(item_nbr)[T.22]         6.097e-16      0.000   1.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.23]         3.753e-16      0.000   8.27e-13      1.000      -0.001       0.001
C(item_nbr)[T.24]         4.039e-16      0.000    8.9e-13      1.000      -0.001       0.001
C(item_nbr)[T.25]         5.142e-16      0.000   1.13e-12      1.000      -0.001       0.001
C(item_nbr)[T.26]         3.428e-16      0.000   7.55e-13      1.000      -0.001       0.001
C(item_nbr)[T.27]         4.551e-16      0.000      1e-12      1.000      -0.001       0.001
C(item_nbr)[T.28]         3.113e-16      0.000   6.86e-13      1.000      -0.001       0.001
C(item_nbr)[T.29]         4.249e-16      0.000   9.36e-13      1.000      -0.001       0.001
C(item_nbr)[T.30]         5.454e-16      0.000    1.2e-12      1.000      -0.001       0.001
C(item_nbr)[T.31]         4.842e-16      0.000   1.07e-12      1.000      -0.001       0.001
C(item_nbr)[T.32]         6.886e-16      0.000   1.52e-12      1.000      -0.001       0.001
C(item_nbr)[T.33]         4.223e-16      0.000   9.31e-13      1.000      -0.001       0.001
C(item_nbr)[T.34]         2.848e-16      0.000   6.28e-13      1.000      -0.001       0.001
C(item_nbr)[T.35]         4.695e-16      0.000   1.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.36]         4.288e-16      0.000   9.45e-13      1.000      -0.001       0.001
C(item_nbr)[T.37]         5.926e-16      0.000   1.31e-12      1.000      -0.001       0.001
C(item_nbr)[T.38]         4.725e-16      0.000   1.04e-12      1.000      -0.001       0.001
C(item_nbr)[T.39]         4.328e-16      0.000   9.54e-13      1.000      -0.001       0.001
C(item_nbr)[T.40]         4.569e-16      0.000   1.01e-12      1.000      -0.001       0.001
C(item_nbr)[T.41]         5.802e-16      0.000   1.28e-12      1.000      -0.001       0.001
C(item_nbr)[T.42]         3.325e-16      0.000   7.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.43]          4.89e-16      0.000   1.08e-12      1.000      -0.001       0.001
C(item_nbr)[T.44]            4.9734      0.001   7427.810      0.000       4.972       4.975
C(item_nbr)[T.45]         5.691e-16      0.000   1.25e-12      1.000      -0.001       0.001
C(item_nbr)[T.46]         4.352e-16      0.000   9.59e-13      1.000      -0.001       0.001
C(item_nbr)[T.47]         5.159e-16      0.000   1.14e-12      1.000      -0.001       0.001
C(item_nbr)[T.48]         6.111e-16      0.000   1.35e-12      1.000      -0.001       0.001
C(item_nbr)[T.49]        -1.496e-06      0.000     -0.003      0.997      -0.001       0.001
C(item_nbr)[T.50]          6.41e-16      0.000   1.41e-12      1.000      -0.001       0.001
C(item_nbr)[T.51]         -4.44e-07      0.000     -0.001      0.999      -0.001       0.001
C(item_nbr)[T.52]         4.513e-16      0.000   9.95e-13      1.000      -0.001       0.001
C(item_nbr)[T.53]         4.851e-16      0.000   1.07e-12      1.000      -0.001       0.001
C(item_nbr)[T.54]         4.416e-16      0.000   9.73e-13      1.000      -0.001       0.001
C(item_nbr)[T.55]         4.964e-16      0.000   1.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.56]          4.23e-16      0.000   9.32e-13      1.000      -0.001       0.001
C(item_nbr)[T.57]         4.247e-16      0.000   9.36e-13      1.000      -0.001       0.001
C(item_nbr)[T.58]         4.743e-16      0.000   1.05e-12      1.000      -0.001       0.001
C(item_nbr)[T.59]         4.168e-16      0.000   9.19e-13      1.000      -0.001       0.001
C(item_nbr)[T.60]         5.418e-16      0.000   1.19e-12      1.000      -0.001       0.001
C(item_nbr)[T.61]         3.456e-16      0.000   7.62e-13      1.000      -0.001       0.001
C(item_nbr)[T.62]         5.671e-16      0.000   1.25e-12      1.000      -0.001       0.001
C(item_nbr)[T.63]         3.545e-16      0.000   7.81e-13      1.000      -0.001       0.001
C(item_nbr)[T.64]          5.08e-16      0.000   1.12e-12      1.000      -0.001       0.001
C(item_nbr)[T.66]         4.352e-16      0.000   9.59e-13      1.000      -0.001       0.001
C(item_nbr)[T.67]          3.17e-16      0.000   6.99e-13      1.000      -0.001       0.001
C(item_nbr)[T.68]         5.287e-16      0.000   1.17e-12      1.000      -0.001       0.001
C(item_nbr)[T.69]         4.911e-16      0.000   1.08e-12      1.000      -0.001       0.001
C(item_nbr)[T.70]         2.675e-16      0.000    5.9e-13      1.000      -0.001       0.001
C(item_nbr)[T.71]         5.382e-16      0.000   1.19e-12      1.000      -0.001       0.001
C(item_nbr)[T.72]         4.167e-16      0.000   9.18e-13      1.000      -0.001       0.001
C(item_nbr)[T.73]         4.749e-16      0.000   1.05e-12      1.000      -0.001       0.001
C(item_nbr)[T.74]         3.999e-16      0.000   8.81e-13      1.000      -0.001       0.001
C(item_nbr)[T.75]         4.416e-16      0.000   9.73e-13      1.000      -0.001       0.001
C(item_nbr)[T.76]         4.636e-16      0.000   1.02e-12      1.000      -0.001       0.001
C(item_nbr)[T.77]         5.978e-16      0.000   1.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.78]         5.512e-16      0.000   1.21e-12      1.000      -0.001       0.001
C(item_nbr)[T.79]         5.285e-16      0.000   1.16e-12      1.000      -0.001       0.001
C(item_nbr)[T.80]         5.624e-16      0.000   1.24e-12      1.000      -0.001       0.001
C(item_nbr)[T.81]         3.797e-16      0.000   8.37e-13      1.000      -0.001       0.001
C(item_nbr)[T.82]         6.165e-16      0.000   1.36e-12      1.000      -0.001       0.001
C(item_nbr)[T.83]         4.152e-16      0.000   9.15e-13      1.000      -0.001       0.001
C(item_nbr)[T.84]         5.074e-16      0.000   1.12e-12      1.000      -0.001       0.001
C(item_nbr)[T.85]          3.43e-16      0.000   7.56e-13      1.000      -0.001       0.001
C(item_nbr)[T.86]         4.944e-16      0.000   1.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.87]         4.535e-16      0.000      1e-12      1.000      -0.001       0.001
C(item_nbr)[T.88]         3.739e-16      0.000   8.24e-13      1.000      -0.001       0.001
C(item_nbr)[T.89]         6.033e-16      0.000   1.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.90]         4.224e-16      0.000   9.31e-13      1.000      -0.001       0.001
C(item_nbr)[T.91]         4.925e-16      0.000   1.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.92]         2.505e-16      0.000   5.52e-13      1.000      -0.001       0.001
C(item_nbr)[T.93]         3.355e-16      0.000   7.39e-13      1.000      -0.001       0.001
C(item_nbr)[T.94]         3.852e-16      0.000   8.49e-13      1.000      -0.001       0.001
C(item_nbr)[T.95]         4.545e-16      0.000      1e-12      1.000      -0.001       0.001
C(item_nbr)[T.96]         6.227e-16      0.000   1.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.97]         6.467e-16      0.000   1.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.98]          7.19e-16      0.000   1.58e-12      1.000      -0.001       0.001
C(item_nbr)[T.99]         7.564e-16      0.000   1.67e-12      1.000      -0.001       0.001
C(item_nbr)[T.100]        -3.71e-17      0.000  -8.18e-14      1.000      -0.001       0.001
C(item_nbr)[T.101]        7.893e-16      0.000   1.74e-12      1.000      -0.001       0.001
C(item_nbr)[T.102]        4.641e-16      0.000   1.02e-12      1.000      -0.001       0.001
C(item_nbr)[T.103]        8.701e-16      0.000   1.92e-12      1.000      -0.001       0.001
C(item_nbr)[T.104]        2.567e-16      0.000   5.66e-13      1.000      -0.001       0.001
C(item_nbr)[T.105]        8.005e-16      0.000   1.76e-12      1.000      -0.001       0.001
C(item_nbr)[T.106]        2.428e-16      0.000   5.35e-13      1.000      -0.001       0.001
C(item_nbr)[T.107]        1.109e-15      0.000   2.45e-12      1.000      -0.001       0.001
C(item_nbr)[T.108]        7.758e-16      0.000   1.71e-12      1.000      -0.001       0.001
C(item_nbr)[T.109]        6.899e-16      0.000   1.52e-12      1.000      -0.001       0.001
C(item_nbr)[T.110]       -2.384e-16      0.000  -5.25e-13      1.000      -0.001       0.001
C(item_nbr)[T.111]        9.169e-16      0.000   2.02e-12      1.000      -0.001       0.001
scale(tmax)                  0.0003      0.001      0.625      0.532      -0.001       0.001
scale(tmin)                  0.0007      0.000      1.372      0.170      -0.000       0.002
scale(tavg)                  0.0005      0.001      0.993      0.321      -0.000       0.002
scale(dewpoint)             -0.0007      0.001     -1.038      0.299      -0.002       0.001
scale(wetbulb)               0.0004      0.000      1.376      0.169      -0.000       0.001
scale(heat)              -4.775e-05      0.000     -0.173      0.863      -0.001       0.000
scale(cool)               5.049e-05    7.1e-05      0.711      0.477   -8.87e-05       0.000
scale(preciptotal)        2.271e-05   3.79e-05      0.600      0.549   -5.15e-05    9.69e-05
scale(stnpressure)           0.0002      0.000      1.344      0.179   -8.82e-05       0.000
scale(sealevel)             -0.0002      0.000     -1.527      0.127      -0.001    6.43e-05
scale(resultspeed)        4.687e-05   8.59e-05      0.545      0.585      -0.000       0.000
scale(avgspeed)             -0.0002      0.000     -1.865      0.062      -0.000     1.1e-05
scale(relative_humility)  7.082e-05      0.000      0.403      0.687      -0.000       0.000
scale(windchill)            -0.0014      0.001     -1.114      0.265      -0.004       0.001
==============================================================================
Omnibus:                    84690.446   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        473178788.113
Skew:                          -2.883   Prob(JB):                         0.00
Kurtosis:                     351.936   Cond. No.                     2.25e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.4e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [20]:
ls1

['depart', 'sunrise', 'sunset', 'daytime']

### 3. VIF 확인

In [21]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# all_cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
#         'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
#         'windchill', 'depart', 'sunrise', 'sunset', 'snowfall' ]
cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
        'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
        'windchill', 'snowfall' ]

y = df2_1.loc[:,cols]
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(y.values, i) for i in range(y.shape[1])]
vif["features"] = y.columns
vif = vif.sort_values("VIF Factor", ascending=False).reset_index(drop=True)
vif

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:167: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

      VIF Factor           features
0            inf               tmax
1            inf               tmin
2            inf               tavg
3   4.653765e+05        stnpressure
4   4.602972e+05           sealevel
5   6.669657e+03          windchill
6   2.100139e+03           dewpoint
7   7.544254e+02  relative_humility
8   6.487507e+02            wetbulb
9   1.389899e+02               heat
10  9.598250e+01           avgspeed
11  3.430270e+01        resultspeed
12  5.685598e+00               cool
13  1.521429e+00        preciptotal
14  1.477927e+00           snowfall

### 4. VIF 근거, 빼고 다시 Model 돌림.

In [22]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(heat)\
                            + scale(snowfall) + scale(preciptotal) + scale(resultspeed)  \
                            + scale(avgspeed) + C(year) + C(month) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 8.183e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:52:09   Log-Likelihood:             3.0242e+05
No. Observations:               93245   AIC:                        -6.046e+05
Df Residuals:                   93116   BIC:                        -6.034e+05
Df Model:                         128
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(year)[2012]          0.0003      0.000      0.843      0.399      -0.000       0.001
C(year)[2013]         -0.0002      0.000     -0.466      0.641      -0.001       0.001
C(year)[2014]         -0.0002      0.000     -0.562      0.574      -0.001       0.001
C(month)[T.2]       -3.48e-05      0.000     -0.223      0.824      -0.000       0.000
C(month)[T.3]       9.281e-05      0.000      0.590      0.556      -0.000       0.000
C(month)[T.4]      -1.107e-05      0.000     -0.061      0.951      -0.000       0.000
C(month)[T.5]         -0.0001      0.000     -0.552      0.581      -0.001       0.000
C(month)[T.6]         -0.0001      0.000     -0.670      0.503      -0.001       0.000
C(month)[T.7]      -7.386e-05      0.000     -0.329      0.742      -0.001       0.000
C(month)[T.8]         -0.0003      0.000     -1.137      0.255      -0.001       0.000
C(month)[T.9]      -3.682e-05      0.000     -0.173      0.863      -0.000       0.000
C(month)[T.10]        -0.0001      0.000     -0.706      0.480      -0.000       0.000
C(month)[T.11]        -0.0001      0.000     -0.775      0.438      -0.000       0.000
C(month)[T.12]        -0.0004      0.000     -2.112      0.035      -0.001    -2.7e-05
C(weekend)[T.1]    -4.991e-05    6.9e-05     -0.724      0.469      -0.000    8.53e-05
C(rainY)[T.1]          0.0002   6.87e-05      2.505      0.012    3.74e-05       0.000
C(item_nbr)[T.2]    3.046e-16      0.000   6.71e-13      1.000      -0.001       0.001
C(item_nbr)[T.3]   -1.776e-15      0.000  -3.92e-12      1.000      -0.001       0.001
C(item_nbr)[T.4]   -4.293e-15      0.000  -9.46e-12      1.000      -0.001       0.001
C(item_nbr)[T.5]   -1.015e-15      0.000  -2.24e-12      1.000      -0.001       0.001
C(item_nbr)[T.6]   -1.411e-15      0.000  -3.11e-12      1.000      -0.001       0.001
C(item_nbr)[T.7]   -9.161e-16      0.000  -2.02e-12      1.000      -0.001       0.001
C(item_nbr)[T.8]   -1.661e-15      0.000  -3.66e-12      1.000      -0.001       0.001
C(item_nbr)[T.9]    1.698e-15      0.000   3.74e-12      1.000      -0.001       0.001
C(item_nbr)[T.10]  -4.256e-16      0.000  -9.38e-13      1.000      -0.001       0.001
C(item_nbr)[T.11]  -5.042e-16      0.000  -1.11e-12      1.000      -0.001       0.001
C(item_nbr)[T.12]    1.68e-16      0.000    3.7e-13      1.000      -0.001       0.001
C(item_nbr)[T.14]   7.813e-17      0.000   1.72e-13      1.000      -0.001       0.001
C(item_nbr)[T.15]  -4.697e-16      0.000  -1.04e-12      1.000      -0.001       0.001
C(item_nbr)[T.16]      3.5505      0.001   5133.402      0.000       3.549       3.552
C(item_nbr)[T.17]   7.199e-16      0.000   1.59e-12      1.000      -0.001       0.001
C(item_nbr)[T.18]   3.896e-16      0.000   8.59e-13      1.000      -0.001       0.001
C(item_nbr)[T.19]   -2.87e-16      0.000  -6.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.20]   1.733e-16      0.000   3.82e-13      1.000      -0.001       0.001
C(item_nbr)[T.21]  -2.138e-16      0.000  -4.71e-13      1.000      -0.001       0.001
C(item_nbr)[T.22]   3.879e-17      0.000   8.55e-14      1.000      -0.001       0.001
C(item_nbr)[T.23]   1.808e-16      0.000   3.99e-13      1.000      -0.001       0.001
C(item_nbr)[T.24]  -1.763e-17      0.000  -3.89e-14      1.000      -0.001       0.001
C(item_nbr)[T.25]   2.271e-16      0.000   5.01e-13      1.000      -0.001       0.001
C(item_nbr)[T.26]   8.736e-17      0.000   1.93e-13      1.000      -0.001       0.001
C(item_nbr)[T.27]  -8.518e-17      0.000  -1.88e-13      1.000      -0.001       0.001
C(item_nbr)[T.28]   1.714e-16      0.000   3.78e-13      1.000      -0.001       0.001
C(item_nbr)[T.29]   6.036e-17      0.000   1.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.30]   6.504e-17      0.000   1.43e-13      1.000      -0.001       0.001
C(item_nbr)[T.31]   8.862e-17      0.000   1.95e-13      1.000      -0.001       0.001
C(item_nbr)[T.32]    1.51e-16      0.000   3.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.33]   2.625e-16      0.000   5.79e-13      1.000      -0.001       0.001
C(item_nbr)[T.34]   8.745e-18      0.000   1.93e-14      1.000      -0.001       0.001
C(item_nbr)[T.35]   3.054e-18      0.000   6.73e-15      1.000      -0.001       0.001
C(item_nbr)[T.36]  -1.019e-16      0.000  -2.25e-13      1.000      -0.001       0.001
C(item_nbr)[T.37]   1.815e-16      0.000      4e-13      1.000      -0.001       0.001
C(item_nbr)[T.38]   1.751e-16      0.000   3.86e-13      1.000      -0.001       0.001
C(item_nbr)[T.39]   9.334e-18      0.000   2.06e-14      1.000      -0.001       0.001
C(item_nbr)[T.40]   1.524e-17      0.000   3.36e-14      1.000      -0.001       0.001
C(item_nbr)[T.41]   1.643e-16      0.000   3.62e-13      1.000      -0.001       0.001
C(item_nbr)[T.42]    2.13e-16      0.000   4.69e-13      1.000      -0.001       0.001
C(item_nbr)[T.43]   9.313e-18      0.000   2.05e-14      1.000      -0.001       0.001
C(item_nbr)[T.44]      4.9735      0.001   7429.187      0.000       4.972       4.975
C(item_nbr)[T.45]   2.522e-16      0.000   5.56e-13      1.000      -0.001       0.001
C(item_nbr)[T.46]   6.519e-17      0.000   1.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.47]   2.909e-16      0.000   6.41e-13      1.000      -0.001       0.001
C(item_nbr)[T.48]   1.776e-16      0.000   3.91e-13      1.000      -0.001       0.001
C(item_nbr)[T.49]  -4.499e-06      0.000     -0.010      0.992      -0.001       0.001
C(item_nbr)[T.50]   1.562e-16      0.000   3.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.51]  -4.071e-06      0.000     -0.009      0.993      -0.001       0.001
C(item_nbr)[T.52]   6.434e-17      0.000   1.42e-13      1.000      -0.001       0.001
C(item_nbr)[T.53]   2.084e-16      0.000   4.59e-13      1.000      -0.001       0.001
C(item_nbr)[T.54]   2.086e-16      0.000    4.6e-13      1.000      -0.001       0.001
C(item_nbr)[T.55]   2.926e-17      0.000   6.45e-14      1.000      -0.001       0.001
C(item_nbr)[T.56]    -7.7e-17      0.000   -1.7e-13      1.000      -0.001       0.001
C(item_nbr)[T.57]   2.478e-16      0.000   5.46e-13      1.000      -0.001       0.001
C(item_nbr)[T.58]   2.191e-16      0.000   4.83e-13      1.000      -0.001       0.001
C(item_nbr)[T.59]   1.355e-16      0.000   2.99e-13      1.000      -0.001       0.001
C(item_nbr)[T.60]  -1.174e-17      0.000  -2.59e-14      1.000      -0.001       0.001
C(item_nbr)[T.61]   1.092e-16      0.000   2.41e-13      1.000      -0.001       0.001
C(item_nbr)[T.62]    1.54e-16      0.000   3.39e-13      1.000      -0.001       0.001
C(item_nbr)[T.63]   9.435e-17      0.000   2.08e-13      1.000      -0.001       0.001
C(item_nbr)[T.64]   1.255e-16      0.000   2.77e-13      1.000      -0.001       0.001
C(item_nbr)[T.66]   2.253e-16      0.000   4.97e-13      1.000      -0.001       0.001
C(item_nbr)[T.67]  -1.419e-17      0.000  -3.13e-14      1.000      -0.001       0.001
C(item_nbr)[T.68]  -2.122e-17      0.000  -4.68e-14      1.000      -0.001       0.001
C(item_nbr)[T.69]  -3.721e-17      0.000   -8.2e-14      1.000      -0.001       0.001
C(item_nbr)[T.70]   1.148e-16      0.000   2.53e-13      1.000      -0.001       0.001
C(item_nbr)[T.71]   2.822e-17      0.000   6.22e-14      1.000      -0.001       0.001
C(item_nbr)[T.72]   2.409e-16      0.000   5.31e-13      1.000      -0.001       0.001
C(item_nbr)[T.73]   2.679e-17      0.000    5.9e-14      1.000      -0.001       0.001
C(item_nbr)[T.74]  -9.579e-17      0.000  -2.11e-13      1.000      -0.001       0.001
C(item_nbr)[T.75]  -5.502e-17      0.000  -1.21e-13      1.000      -0.001       0.001
C(item_nbr)[T.76]   1.004e-16      0.000   2.21e-13      1.000      -0.001       0.001
C(item_nbr)[T.77]  -3.153e-17      0.000  -6.95e-14      1.000      -0.001       0.001
C(item_nbr)[T.78]   2.236e-16      0.000   4.93e-13      1.000      -0.001       0.001
C(item_nbr)[T.79]    2.11e-17      0.000   4.65e-14      1.000      -0.001       0.001
C(item_nbr)[T.80]   3.923e-17      0.000   8.65e-14      1.000      -0.001       0.001
C(item_nbr)[T.81]   2.099e-16      0.000   4.63e-13      1.000      -0.001       0.001
C(item_nbr)[T.82]   1.341e-16      0.000   2.96e-13      1.000      -0.001       0.001
C(item_nbr)[T.83]   8.323e-18      0.000   1.83e-14      1.000      -0.001       0.001
C(item_nbr)[T.84]   4.059e-17      0.000   8.95e-14      1.000      -0.001       0.001
C(item_nbr)[T.85]  -7.239e-18      0.000   -1.6e-14      1.000      -0.001       0.001
C(item_nbr)[T.86]   6.078e-17      0.000   1.34e-13      1.000      -0.001       0.001
C(item_nbr)[T.87]   -1.77e-17      0.000   -3.9e-14      1.000      -0.001       0.001
C(item_nbr)[T.88]   1.636e-16      0.000   3.61e-13      1.000      -0.001       0.001
C(item_nbr)[T.89]   1.734e-16      0.000   3.82e-13      1.000      -0.001       0.001
C(item_nbr)[T.90]   1.174e-17      0.000   2.59e-14      1.000      -0.001       0.001
C(item_nbr)[T.91]  -5.322e-18      0.000  -1.17e-14      1.000      -0.001       0.001
C(item_nbr)[T.92]  -1.891e-17      0.000  -4.17e-14      1.000      -0.001       0.001
C(item_nbr)[T.93]   2.425e-16      0.000   5.34e-13      1.000      -0.001       0.001
C(item_nbr)[T.94]   2.007e-16      0.000   4.42e-13      1.000      -0.001       0.001
C(item_nbr)[T.95]  -2.162e-17      0.000  -4.76e-14      1.000      -0.001       0.001
C(item_nbr)[T.96]   6.557e-17      0.000   1.45e-13      1.000      -0.001       0.001
C(item_nbr)[T.97]   5.261e-17      0.000   1.16e-13      1.000      -0.001       0.001
C(item_nbr)[T.98]  -9.553e-17      0.000  -2.11e-13      1.000      -0.001       0.001
C(item_nbr)[T.99]   2.704e-17      0.000   5.96e-14      1.000      -0.001       0.001
C(item_nbr)[T.100]  -6.51e-17      0.000  -1.43e-13      1.000      -0.001       0.001
C(item_nbr)[T.101]  1.378e-18      0.000   3.04e-15      1.000      -0.001       0.001
C(item_nbr)[T.102]  4.803e-16      0.000   1.06e-12      1.000      -0.001       0.001
C(item_nbr)[T.103] -1.507e-16      0.000  -3.32e-13      1.000      -0.001       0.001
C(item_nbr)[T.104] -3.501e-16      0.000  -7.72e-13      1.000      -0.001       0.001
C(item_nbr)[T.105]  3.374e-16      0.000   7.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.106]  2.376e-16      0.000   5.24e-13      1.000      -0.001       0.001
C(item_nbr)[T.107]  -1.61e-16      0.000  -3.55e-13      1.000      -0.001       0.001
C(item_nbr)[T.108]  5.189e-16      0.000   1.14e-12      1.000      -0.001       0.001
C(item_nbr)[T.109]  4.225e-16      0.000   9.31e-13      1.000      -0.001       0.001
C(item_nbr)[T.110] -2.589e-16      0.000  -5.71e-13      1.000      -0.001       0.001
C(item_nbr)[T.111]  3.057e-16      0.000   6.74e-13      1.000      -0.001       0.001
scale(heat)         2.362e-05   6.83e-05      0.346      0.729      -0.000       0.000
scale(snowfall)    -8.027e-05   3.43e-05     -2.342      0.019      -0.000   -1.31e-05
scale(preciptotal)  1.708e-05   3.49e-05      0.489      0.625   -5.13e-05    8.55e-05
scale(resultspeed)  6.074e-05   8.17e-05      0.743      0.457   -9.94e-05       0.000
scale(avgspeed)       -0.0001   8.25e-05     -1.339      0.181      -0.000    5.12e-05
==============================================================================
Omnibus:                    84666.822   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        473854307.826
Skew:                          -2.881   Prob(JB):                         0.00
Kurtosis:                     352.185   Cond. No.                         160.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### 5. VIF 재확인

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# all_cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
#         'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
#         'windchill', 'depart', 'sunrise', 'sunset', 'snowfall' ]
cols = ['heat', 'snowfall', 'preciptotal', 'resultspeed', 'avgspeed']

y = df2_1.loc[:,cols]
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(y.values, i) for i in range(y.shape[1])]
vif["features"] = y.columns
vif = vif.sort_values("VIF Factor", ascending=False).reset_index(drop=True)
vif

   VIF Factor     features
0   29.215695     avgspeed
1   27.403626  resultspeed
2    2.224141         heat
3    1.267498  preciptotal
4    1.166539     snowfall

### 6. VIF 근거로 변수 제외하고  Model 돌림.

In [24]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(heat)\
                            + scale(snowfall) + scale(preciptotal) + C(year) + C(month) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 8.313e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:52:29   Log-Likelihood:             3.0242e+05
No. Observations:               93245   AIC:                        -6.046e+05
Df Residuals:                   93118   BIC:                        -6.034e+05
Df Model:                         126
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(year)[2012]          0.0003      0.000      0.824      0.410      -0.000       0.001
C(year)[2013]         -0.0002      0.000     -0.480      0.631      -0.001       0.001
C(year)[2014]         -0.0002      0.000     -0.590      0.555      -0.001       0.000
C(month)[T.2]      -3.219e-05      0.000     -0.206      0.837      -0.000       0.000
C(month)[T.3]       8.239e-05      0.000      0.524      0.601      -0.000       0.000
C(month)[T.4]      -2.545e-05      0.000     -0.141      0.888      -0.000       0.000
C(month)[T.5]         -0.0001      0.000     -0.537      0.591      -0.001       0.000
C(month)[T.6]         -0.0001      0.000     -0.611      0.541      -0.001       0.000
C(month)[T.7]      -5.366e-05      0.000     -0.239      0.811      -0.000       0.000
C(month)[T.8]         -0.0002      0.000     -0.983      0.325      -0.001       0.000
C(month)[T.9]      -1.666e-05      0.000     -0.078      0.938      -0.000       0.000
C(month)[T.10]        -0.0001      0.000     -0.663      0.508      -0.000       0.000
C(month)[T.11]        -0.0001      0.000     -0.710      0.478      -0.000       0.000
C(month)[T.12]        -0.0004      0.000     -2.086      0.037      -0.001   -2.23e-05
C(weekend)[T.1]    -4.516e-05   6.89e-05     -0.655      0.512      -0.000    8.99e-05
C(rainY)[T.1]          0.0002   6.86e-05      2.432      0.015    3.24e-05       0.000
C(item_nbr)[T.2]   -1.668e-15      0.000  -3.68e-12      1.000      -0.001       0.001
C(item_nbr)[T.3]    1.204e-15      0.000   2.65e-12      1.000      -0.001       0.001
C(item_nbr)[T.4]    2.846e-15      0.000   6.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.5]    9.525e-17      0.000    2.1e-13      1.000      -0.001       0.001
C(item_nbr)[T.6]    1.492e-15      0.000   3.29e-12      1.000      -0.001       0.001
C(item_nbr)[T.7]    1.794e-15      0.000   3.95e-12      1.000      -0.001       0.001
C(item_nbr)[T.8]    3.131e-15      0.000    6.9e-12      1.000      -0.001       0.001
C(item_nbr)[T.9]    1.823e-15      0.000   4.02e-12      1.000      -0.001       0.001
C(item_nbr)[T.10]   1.779e-15      0.000   3.92e-12      1.000      -0.001       0.001
C(item_nbr)[T.11]   2.209e-15      0.000   4.87e-12      1.000      -0.001       0.001
C(item_nbr)[T.12]   2.108e-15      0.000   4.65e-12      1.000      -0.001       0.001
C(item_nbr)[T.14]   2.654e-15      0.000   5.85e-12      1.000      -0.001       0.001
C(item_nbr)[T.15]   2.198e-15      0.000   4.85e-12      1.000      -0.001       0.001
C(item_nbr)[T.16]      3.5505      0.001   5133.370      0.000       3.549       3.552
C(item_nbr)[T.17]   1.856e-15      0.000   4.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.18]   2.127e-15      0.000   4.69e-12      1.000      -0.001       0.001
C(item_nbr)[T.19]   1.727e-15      0.000   3.81e-12      1.000      -0.001       0.001
C(item_nbr)[T.20]   2.268e-15      0.000      5e-12      1.000      -0.001       0.001
C(item_nbr)[T.21]   2.062e-15      0.000   4.54e-12      1.000      -0.001       0.001
C(item_nbr)[T.22]   2.037e-15      0.000   4.49e-12      1.000      -0.001       0.001
C(item_nbr)[T.23]   2.352e-15      0.000   5.18e-12      1.000      -0.001       0.001
C(item_nbr)[T.24]   1.965e-15      0.000   4.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.25]   2.105e-15      0.000   4.64e-12      1.000      -0.001       0.001
C(item_nbr)[T.26]   1.952e-15      0.000    4.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.27]   1.904e-15      0.000    4.2e-12      1.000      -0.001       0.001
C(item_nbr)[T.28]   1.714e-15      0.000   3.78e-12      1.000      -0.001       0.001
C(item_nbr)[T.29]   2.128e-15      0.000   4.69e-12      1.000      -0.001       0.001
C(item_nbr)[T.30]   2.049e-15      0.000   4.52e-12      1.000      -0.001       0.001
C(item_nbr)[T.31]    1.88e-15      0.000   4.14e-12      1.000      -0.001       0.001
C(item_nbr)[T.32]   2.055e-15      0.000   4.53e-12      1.000      -0.001       0.001
C(item_nbr)[T.33]   2.075e-15      0.000   4.57e-12      1.000      -0.001       0.001
C(item_nbr)[T.34]   2.006e-15      0.000   4.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.35]   2.156e-15      0.000   4.75e-12      1.000      -0.001       0.001
C(item_nbr)[T.36]   1.999e-15      0.000   4.41e-12      1.000      -0.001       0.001
C(item_nbr)[T.37]   2.057e-15      0.000   4.53e-12      1.000      -0.001       0.001
C(item_nbr)[T.38]   1.965e-15      0.000   4.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.39]   1.927e-15      0.000   4.25e-12      1.000      -0.001       0.001
C(item_nbr)[T.40]   2.297e-15      0.000   5.06e-12      1.000      -0.001       0.001
C(item_nbr)[T.41]   2.063e-15      0.000   4.55e-12      1.000      -0.001       0.001
C(item_nbr)[T.42]    2.07e-15      0.000   4.56e-12      1.000      -0.001       0.001
C(item_nbr)[T.43]   2.056e-15      0.000   4.53e-12      1.000      -0.001       0.001
C(item_nbr)[T.44]      4.9735      0.001   7429.143      0.000       4.972       4.975
C(item_nbr)[T.45]   1.985e-15      0.000   4.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.46]   1.829e-15      0.000   4.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.47]   2.012e-15      0.000   4.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.48]   1.959e-15      0.000   4.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.49]   -4.72e-06      0.000     -0.010      0.992      -0.001       0.001
C(item_nbr)[T.50]   1.991e-15      0.000   4.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.51]  -4.488e-06      0.000     -0.010      0.992      -0.001       0.001
C(item_nbr)[T.52]   2.064e-15      0.000   4.55e-12      1.000      -0.001       0.001
C(item_nbr)[T.53]   1.991e-15      0.000   4.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.54]   2.227e-15      0.000   4.91e-12      1.000      -0.001       0.001
C(item_nbr)[T.55]   2.235e-15      0.000   4.93e-12      1.000      -0.001       0.001
C(item_nbr)[T.56]   2.078e-15      0.000   4.58e-12      1.000      -0.001       0.001
C(item_nbr)[T.57]   2.178e-15      0.000    4.8e-12      1.000      -0.001       0.001
C(item_nbr)[T.58]   2.096e-15      0.000   4.62e-12      1.000      -0.001       0.001
C(item_nbr)[T.59]   2.004e-15      0.000   4.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.60]   2.076e-15      0.000   4.57e-12      1.000      -0.001       0.001
C(item_nbr)[T.61]   2.052e-15      0.000   4.52e-12      1.000      -0.001       0.001
C(item_nbr)[T.62]   1.815e-15      0.000      4e-12      1.000      -0.001       0.001
C(item_nbr)[T.63]   1.951e-15      0.000    4.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.64]   2.093e-15      0.000   4.61e-12      1.000      -0.001       0.001
C(item_nbr)[T.66]   2.165e-15      0.000   4.77e-12      1.000      -0.001       0.001
C(item_nbr)[T.67]   2.174e-15      0.000   4.79e-12      1.000      -0.001       0.001
C(item_nbr)[T.68]   2.148e-15      0.000   4.73e-12      1.000      -0.001       0.001
C(item_nbr)[T.69]   2.164e-15      0.000   4.77e-12      1.000      -0.001       0.001
C(item_nbr)[T.70]   2.096e-15      0.000   4.62e-12      1.000      -0.001       0.001
C(item_nbr)[T.71]    2.07e-15      0.000   4.56e-12      1.000      -0.001       0.001
C(item_nbr)[T.72]   2.078e-15      0.000   4.58e-12      1.000      -0.001       0.001
C(item_nbr)[T.73]   2.189e-15      0.000   4.82e-12      1.000      -0.001       0.001
C(item_nbr)[T.74]   2.128e-15      0.000   4.69e-12      1.000      -0.001       0.001
C(item_nbr)[T.75]   2.047e-15      0.000   4.51e-12      1.000      -0.001       0.001
C(item_nbr)[T.76]   2.018e-15      0.000   4.45e-12      1.000      -0.001       0.001
C(item_nbr)[T.77]   2.071e-15      0.000   4.56e-12      1.000      -0.001       0.001
C(item_nbr)[T.78]   2.064e-15      0.000   4.55e-12      1.000      -0.001       0.001
C(item_nbr)[T.79]   2.087e-15      0.000    4.6e-12      1.000      -0.001       0.001
C(item_nbr)[T.80]   2.021e-15      0.000   4.45e-12      1.000      -0.001       0.001
C(item_nbr)[T.81]   2.032e-15      0.000   4.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.82]   1.965e-15      0.000   4.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.83]   2.124e-15      0.000   4.68e-12      1.000      -0.001       0.001
C(item_nbr)[T.84]   1.963e-15      0.000   4.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.85]    2.11e-15      0.000   4.65e-12      1.000      -0.001       0.001
C(item_nbr)[T.86]   2.066e-15      0.000   4.55e-12      1.000      -0.001       0.001
C(item_nbr)[T.87]   2.147e-15      0.000   4.73e-12      1.000      -0.001       0.001
C(item_nbr)[T.88]       2e-15      0.000   4.41e-12      1.000      -0.001       0.001
C(item_nbr)[T.89]    2.01e-15      0.000   4.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.90]   2.224e-15      0.000    4.9e-12      1.000      -0.001       0.001
C(item_nbr)[T.91]   1.963e-15      0.000   4.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.92]    1.99e-15      0.000   4.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.93]   2.105e-15      0.000   4.64e-12      1.000      -0.001       0.001
C(item_nbr)[T.94]   2.197e-15      0.000   4.84e-12      1.000      -0.001       0.001
C(item_nbr)[T.95]   2.008e-15      0.000   4.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.96]   1.993e-15      0.000   4.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.97]   2.075e-15      0.000   4.57e-12      1.000      -0.001       0.001
C(item_nbr)[T.98]   2.258e-15      0.000   4.98e-12      1.000      -0.001       0.001
C(item_nbr)[T.99]   2.049e-15      0.000   4.52e-12      1.000      -0.001       0.001
C(item_nbr)[T.100]  1.955e-15      0.000   4.31e-12      1.000      -0.001       0.001
C(item_nbr)[T.101]  1.991e-15      0.000   4.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.102]  2.224e-15      0.000    4.9e-12      1.000      -0.001       0.001
C(item_nbr)[T.103]  2.256e-15      0.000   4.97e-12      1.000      -0.001       0.001
C(item_nbr)[T.104]  1.948e-15      0.000   4.29e-12      1.000      -0.001       0.001
C(item_nbr)[T.105]  1.904e-15      0.000    4.2e-12      1.000      -0.001       0.001
C(item_nbr)[T.106]  2.123e-15      0.000   4.68e-12      1.000      -0.001       0.001
C(item_nbr)[T.107]  1.676e-15      0.000   3.69e-12      1.000      -0.001       0.001
C(item_nbr)[T.108]  1.843e-15      0.000   4.06e-12      1.000      -0.001       0.001
C(item_nbr)[T.109]  2.111e-15      0.000   4.65e-12      1.000      -0.001       0.001
C(item_nbr)[T.110]  2.795e-15      0.000   6.16e-12      1.000      -0.001       0.001
C(item_nbr)[T.111]  1.055e-15      0.000   2.32e-12      1.000      -0.001       0.001
scale(heat)         2.349e-05   6.81e-05      0.345      0.730      -0.000       0.000
scale(snowfall)    -8.891e-05   3.39e-05     -2.624      0.009      -0.000   -2.25e-05
scale(preciptotal)  8.879e-06   3.44e-05      0.258      0.796   -5.85e-05    7.63e-05
==============================================================================
Omnibus:                    84675.615   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        473955170.656
Skew:                          -2.881   Prob(JB):                         0.00
Kurtosis:                     352.223   Cond. No.                         128.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Anova 분석을 통해 p-value가 0.05보다 큰것은 제외

In [25]:
anova_result2_1 = sm.stats.anova_lm(result2_1).sort_values(by=['PR(>F)'], ascending = False)
anova_result2_1[anova_result2_1['PR(>F)'] <= 0.05]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

                    df       sum_sq    mean_sq              F         PR(>F)
scale(snowfall)    1.0     0.000618   0.000618       6.913763   8.554883e-03
C(rainY)           1.0     0.094526   0.094526    1058.005235  8.793990e-231
C(year)            3.0    52.650625  17.550208  196435.592025   0.000000e+00
C(month)          11.0     0.669247   0.060841     680.976020   0.000000e+00
C(weekend)         1.0     0.317033   0.317033    3548.481329   0.000000e+00
C(item_nbr)      108.0  9352.997189  86.601826  969315.041772   0.000000e+00

### 최종 Anova 분석과 TIF 통과한 변수들을 바탕으로 최종 모델생성

In [26]:
# OLS - df2_1_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(snowfall) +  C(rainY) + C(year) + C(month) + \
+ C(item_nbr) + C(weekend) + 0', data = df2_1)

result = model2_1.fit()
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 8.447e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:52:59   Log-Likelihood:             3.0242e+05
No. Observations:               93245   AIC:                        -6.046e+05
Df Residuals:                   93120   BIC:                        -6.034e+05
Df Model:                         124
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(rainY)[0]            0.0003      0.000      0.936      0.349      -0.000       0.001
C(rainY)[1]            0.0005      0.000      1.437      0.151      -0.000       0.001
C(year)[T.2013]       -0.0005   7.29e-05     -6.304      0.000      -0.001      -0.000
C(year)[T.2014]       -0.0005   8.06e-05     -6.208      0.000      -0.001      -0.000
C(month)[T.2]      -3.626e-05      0.000     -0.233      0.816      -0.000       0.000
C(month)[T.3]       6.342e-05      0.000      0.433      0.665      -0.000       0.000
C(month)[T.4]       -5.43e-05      0.000     -0.347      0.729      -0.000       0.000
C(month)[T.5]         -0.0002      0.000     -1.012      0.312      -0.000       0.000
C(month)[T.6]         -0.0002      0.000     -1.208      0.227      -0.000       0.000
C(month)[T.7]         -0.0001      0.000     -0.755      0.450      -0.000       0.000
C(month)[T.8]         -0.0003      0.000     -1.801      0.072      -0.001     2.5e-05
C(month)[T.9]      -6.787e-05      0.000     -0.462      0.644      -0.000       0.000
C(month)[T.10]        -0.0002      0.000     -1.049      0.294      -0.000       0.000
C(month)[T.11]        -0.0001      0.000     -0.862      0.389      -0.000       0.000
C(month)[T.12]        -0.0004      0.000     -2.155      0.031      -0.001   -3.43e-05
C(item_nbr)[T.2]   -3.825e-15      0.000  -8.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.3]   -4.537e-15      0.000     -1e-11      1.000      -0.001       0.001
C(item_nbr)[T.4]   -8.583e-16      0.000  -1.89e-12      1.000      -0.001       0.001
C(item_nbr)[T.5]   -1.703e-15      0.000  -3.75e-12      1.000      -0.001       0.001
C(item_nbr)[T.6]   -7.781e-16      0.000  -1.72e-12      1.000      -0.001       0.001
C(item_nbr)[T.7]   -1.404e-15      0.000  -3.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.8]    -1.76e-15      0.000  -3.88e-12      1.000      -0.001       0.001
C(item_nbr)[T.9]   -1.161e-15      0.000  -2.56e-12      1.000      -0.001       0.001
C(item_nbr)[T.10]  -9.285e-16      0.000  -2.05e-12      1.000      -0.001       0.001
C(item_nbr)[T.11]  -7.727e-16      0.000   -1.7e-12      1.000      -0.001       0.001
C(item_nbr)[T.12]   -1.06e-15      0.000  -2.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.14]  -1.325e-15      0.000  -2.92e-12      1.000      -0.001       0.001
C(item_nbr)[T.15]  -9.483e-16      0.000  -2.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.16]      3.5505      0.001   5133.463      0.000       3.549       3.552
C(item_nbr)[T.17]  -7.572e-16      0.000  -1.67e-12      1.000      -0.001       0.001
C(item_nbr)[T.18]   -9.06e-16      0.000     -2e-12      1.000      -0.001       0.001
C(item_nbr)[T.19]  -1.029e-15      0.000  -2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.20]  -1.005e-15      0.000  -2.22e-12      1.000      -0.001       0.001
C(item_nbr)[T.21]  -1.127e-15      0.000  -2.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.22]  -1.183e-15      0.000  -2.61e-12      1.000      -0.001       0.001
C(item_nbr)[T.23]  -9.996e-16      0.000   -2.2e-12      1.000      -0.001       0.001
C(item_nbr)[T.24]  -9.559e-16      0.000  -2.11e-12      1.000      -0.001       0.001
C(item_nbr)[T.25]  -1.128e-15      0.000  -2.49e-12      1.000      -0.001       0.001
C(item_nbr)[T.26]  -1.097e-15      0.000  -2.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.27]  -1.199e-15      0.000  -2.64e-12      1.000      -0.001       0.001
C(item_nbr)[T.28]  -1.031e-15      0.000  -2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.29]  -1.085e-15      0.000  -2.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.30]  -1.019e-15      0.000  -2.25e-12      1.000      -0.001       0.001
C(item_nbr)[T.31]  -1.069e-15      0.000  -2.36e-12      1.000      -0.001       0.001
C(item_nbr)[T.32]  -1.043e-15      0.000   -2.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.33]  -1.064e-15      0.000  -2.35e-12      1.000      -0.001       0.001
C(item_nbr)[T.34]  -9.084e-16      0.000     -2e-12      1.000      -0.001       0.001
C(item_nbr)[T.35]  -9.688e-16      0.000  -2.14e-12      1.000      -0.001       0.001
C(item_nbr)[T.36]  -1.104e-15      0.000  -2.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.37]  -1.052e-15      0.000  -2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.38]  -8.011e-16      0.000  -1.77e-12      1.000      -0.001       0.001
C(item_nbr)[T.39]  -1.122e-15      0.000  -2.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.40]  -8.903e-16      0.000  -1.96e-12      1.000      -0.001       0.001
C(item_nbr)[T.41]  -1.009e-15      0.000  -2.22e-12      1.000      -0.001       0.001
C(item_nbr)[T.42]  -1.126e-15      0.000  -2.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.43]  -6.411e-16      0.000  -1.41e-12      1.000      -0.001       0.001
C(item_nbr)[T.44]      4.9735      0.001   7429.219      0.000       4.972       4.975
C(item_nbr)[T.45]  -1.076e-15      0.000  -2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.46]  -1.191e-15      0.000  -2.63e-12      1.000      -0.001       0.001
C(item_nbr)[T.47]  -1.153e-15      0.000  -2.54e-12      1.000      -0.001       0.001
C(item_nbr)[T.48]  -1.124e-15      0.000  -2.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.49]  -4.801e-06      0.000     -0.010      0.992      -0.001       0.001
C(item_nbr)[T.50]  -1.338e-15      0.000  -2.95e-12      1.000      -0.001       0.001
C(item_nbr)[T.51]  -4.668e-06      0.000     -0.010      0.992      -0.001       0.001
C(item_nbr)[T.52]  -9.496e-16      0.000  -2.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.53]  -8.546e-16      0.000  -1.88e-12      1.000      -0.001       0.001
C(item_nbr)[T.54]  -1.054e-15      0.000  -2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.55]  -1.055e-15      0.000  -2.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.56]  -1.246e-15      0.000  -2.75e-12      1.000      -0.001       0.001
C(item_nbr)[T.57]  -1.063e-15      0.000  -2.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.58]  -1.028e-15      0.000  -2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.59]   -9.09e-16      0.000     -2e-12      1.000      -0.001       0.001
C(item_nbr)[T.60]  -9.777e-16      0.000  -2.15e-12      1.000      -0.001       0.001
C(item_nbr)[T.61]  -1.176e-15      0.000  -2.59e-12      1.000      -0.001       0.001
C(item_nbr)[T.62]  -1.088e-15      0.000   -2.4e-12      1.000      -0.001       0.001
C(item_nbr)[T.63]  -1.066e-15      0.000  -2.35e-12      1.000      -0.001       0.001
C(item_nbr)[T.64]  -8.916e-16      0.000  -1.97e-12      1.000      -0.001       0.001
C(item_nbr)[T.66]  -8.857e-16      0.000  -1.95e-12      1.000      -0.001       0.001
C(item_nbr)[T.67]  -9.911e-16      0.000  -2.18e-12      1.000      -0.001       0.001
C(item_nbr)[T.68]  -9.612e-16      0.000  -2.12e-12      1.000      -0.001       0.001
C(item_nbr)[T.69]  -9.524e-16      0.000   -2.1e-12      1.000      -0.001       0.001
C(item_nbr)[T.70]  -1.049e-15      0.000  -2.31e-12      1.000      -0.001       0.001
C(item_nbr)[T.71]  -8.798e-16      0.000  -1.94e-12      1.000      -0.001       0.001
C(item_nbr)[T.72]  -1.061e-15      0.000  -2.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.73]  -9.149e-16      0.000  -2.02e-12      1.000      -0.001       0.001
C(item_nbr)[T.74]  -1.028e-15      0.000  -2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.75]  -1.052e-15      0.000  -2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.76]  -1.015e-15      0.000  -2.24e-12      1.000      -0.001       0.001
C(item_nbr)[T.77]  -9.075e-16      0.000     -2e-12      1.000      -0.001       0.001
C(item_nbr)[T.78]  -9.212e-16      0.000  -2.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.79]  -1.055e-15      0.000  -2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.80]  -1.125e-15      0.000  -2.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.81]  -1.156e-15      0.000  -2.55e-12      1.000      -0.001       0.001
C(item_nbr)[T.82]  -9.662e-16      0.000  -2.13e-12      1.000      -0.001       0.001
C(item_nbr)[T.83]  -1.075e-15      0.000  -2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.84]  -1.045e-15      0.000   -2.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.85]  -8.736e-16      0.000  -1.93e-12      1.000      -0.001       0.001
C(item_nbr)[T.86]  -1.111e-15      0.000  -2.45e-12      1.000      -0.001       0.001
C(item_nbr)[T.87]  -9.008e-16      0.000  -1.99e-12      1.000      -0.001       0.001
C(item_nbr)[T.88]  -8.663e-16      0.000  -1.91e-12      1.000      -0.001       0.001
C(item_nbr)[T.89]   -1.01e-15      0.000  -2.23e-12      1.000      -0.001       0.001
C(item_nbr)[T.90]  -9.386e-16      0.000  -2.07e-12      1.000      -0.001       0.001
C(item_nbr)[T.91]  -1.265e-15      0.000  -2.79e-12      1.000      -0.001       0.001
C(item_nbr)[T.92]  -9.423e-16      0.000  -2.08e-12      1.000      -0.001       0.001
C(item_nbr)[T.93]  -1.177e-15      0.000  -2.59e-12      1.000      -0.001       0.001
C(item_nbr)[T.94]   -1.06e-15      0.000  -2.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.95]  -1.122e-15      0.000  -2.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.96]  -9.374e-16      0.000  -2.07e-12      1.000      -0.001       0.001
C(item_nbr)[T.97]  -1.087e-15      0.000   -2.4e-12      1.000      -0.001       0.001
C(item_nbr)[T.98]  -1.109e-15      0.000  -2.44e-12      1.000      -0.001       0.001
C(item_nbr)[T.99]  -1.054e-15      0.000  -2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.100]  -1.26e-15      0.000  -2.78e-12      1.000      -0.001       0.001
C(item_nbr)[T.101] -1.029e-15      0.000  -2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.102] -1.074e-15      0.000  -2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.103] -1.341e-15      0.000  -2.96e-12      1.000      -0.001       0.001
C(item_nbr)[T.104] -1.146e-15      0.000  -2.53e-12      1.000      -0.001       0.001
C(item_nbr)[T.105] -9.232e-16      0.000  -2.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.106] -8.396e-16      0.000  -1.85e-12      1.000      -0.001       0.001
C(item_nbr)[T.107] -1.301e-15      0.000  -2.87e-12      1.000      -0.001       0.001
C(item_nbr)[T.108] -1.351e-15      0.000  -2.98e-12      1.000      -0.001       0.001
C(item_nbr)[T.109] -1.114e-15      0.000  -2.45e-12      1.000      -0.001       0.001
C(item_nbr)[T.110] -1.211e-16      0.000  -2.67e-13      1.000      -0.001       0.001
C(item_nbr)[T.111]  9.361e-16      0.000   2.06e-12      1.000      -0.001       0.001
C(weekend)[T.1]    -4.468e-05   6.89e-05     -0.648      0.517      -0.000    9.04e-05
scale(snowfall)    -8.645e-05   3.31e-05     -2.616      0.009      -0.000   -2.17e-05
==============================================================================
Omnibus:                    84674.679   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        473959403.130
Skew:                          -2.881   Prob(JB):                         0.00
Kurtosis:                     352.224   Cond. No.                         112.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [27]:
from patsy import dmatrix
# 독립변수와 종속변수로 나누기
df2_1_X = df2_1.drop(columns=['log1p_units'])
df2_1_target = df2_1['log1p_units']

In [30]:
formula = 'scale(snowfall) +  C(rainY) + C(year) + C(month) + \
+ C(item_nbr) + C(weekend) + 0'
dfX = dmatrix(formula, df2_1_X, return_type='dataframe')
dfy = pd.DataFrame(df2_1_target, columns=["log1p_units"])

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score

model = LinearRegression()
cv = KFold(10)

scores = np.zeros(10)
for i, (train_index, test_index) in enumerate(cv.split(dfX)):
    X_train = dfX.values[train_index]
    y_train = dfy.values[train_index]
    X_test = dfX.values[test_index]
    y_test = dfy.values[test_index]
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    scores[i] = r2_score(y_test, y_pred)

scores

array([0.99909385, 0.99907381, 0.99898116, 0.99924835, 0.9991755 ,
       0.99924112, 0.99912108, 0.99887775, 0.99873592, 0.99825757])