In [1]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score


%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}
pd.options.mode.chained_assignment = None  # default='warn'?

# data_key DataFrame
data_key = pd.read_csv('key.csv')

# data_train DataFrame
data_train = pd.read_csv('train.csv')

# data_weather DataFrame
data_weather = pd.read_csv('weather.csv')

rain_text = ['FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL', 'IC', 'FG', 'BR', 'UP', 'FG+']
other_text = ['HZ', 'FU', 'VA', 'DU', 'DS', 'PO', 'SA', 'SS', 'PY', 'SQ', 'DR', 'SH', 'FZ', 'MI', 'PR', 'BC', 'BL', 'VC' ]

data_weather['codesum'].replace("+", "")
a = []
for i in range(len(data_weather['codesum'])):
    a.append(data_weather['codesum'].values[i].split(" "))
    for i_text in a[i]:
        if len(i_text) == 4:
            a[i].append(i_text[:2])
            a[i].append(i_text[2:])
            
data_weather["nothing"] = 1
data_weather["rain"] = 0
data_weather["other"] = 0
b = -1
for ls in a:
    b += 1
    for text in ls:
        if text in rain_text:
            data_weather.loc[b, 'rain'] = 1
            data_weather.loc[b, 'nothing'] = 0
        elif text in other_text:
            data_weather.loc[b,'other'] = 1
            data_weather.loc[b, 'nothing'] = 0      
# 모든 데이터 Merge
df = pd.merge(data_weather, data_key)

station_nbr = df['station_nbr']
df.drop('station_nbr', axis=1, inplace=True)
df['station_nbr'] = station_nbr

df = pd.merge(df, data_train)

# T 값 처리 하기. Remained Subject = > 'M' and '-'
df['snowfall'][df['snowfall'] == '  T'] = 0.05
df['preciptotal'][df['preciptotal'] == '  T'] = 0.005

# 주말과 주중 구분 작업 하기
df['date'] = pd.to_datetime(df['date'])
df['week7'] = df['date'].dt.dayofweek
df['weekend'] = 0
df.loc[df['week7'] == 5, 'weekend'] = 1
df.loc[df['week7'] == 6, 'weekend'] = 1

df1 = df[df['station_nbr'] == 1]; df11 = df[df['station_nbr'] == 11]
df2 = df[df['station_nbr'] == 2]; df12 = df[df['station_nbr'] == 12]
df3 = df[df['station_nbr'] == 3]; df13 = df[df['station_nbr'] == 13]
df4 = df[df['station_nbr'] == 4]; df14 = df[df['station_nbr'] == 14]
df5 = df[df['station_nbr'] == 5]; df15 = df[df['station_nbr'] == 15]
df6 = df[df['station_nbr'] == 6]; df16 = df[df['station_nbr'] == 16]
df7 = df[df['station_nbr'] == 7]; df17 = df[df['station_nbr'] == 17]
df8 = df[df['station_nbr'] == 8]; df18 = df[df['station_nbr'] == 18]
df9 = df[df['station_nbr'] == 9]; df19 = df[df['station_nbr'] == 19]
df10 = df[df['station_nbr'] == 10]; df20 = df[df['station_nbr'] == 20]

In [8]:
df1 = df1.apply(pd.to_numeric, errors = 'coerce')
df1.describe().iloc[:, 13:]
# 없는 Column = date, codesum, depart, sunrise, sunset, station_nbr, snowfall,

,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,nothing,rain,other,store_nbr,station_nbr,item_nbr,units,week7,weekend
count,102564.000000,102786.00000,102231.000000,102675.000000,102675.000000,102786.000000,103119.000000,103119.000000,103119.000000,103119.0,103119.0,103119.000000,103119.000000,103119.00000,103119.000000
mean,0.075666,29.85054,30.016037,5.316649,20.257297,6.528402,0.493003,0.500538,0.079656,1.0,1.0,56.000000,0.364909,3.00000,0.285253
std,0.191589,0.22727,0.227675,3.378105,9.823834,3.247471,0.499953,0.500002,0.270761,0.0,0.0,32.041795,3.609916,2.00001,0.451537
min,0.000000,28.95000,29.200000,0.200000,1.000000,0.600000,0.000000,0.000000,0.000000,1.0,1.0,1.000000,0.000000,0.00000,0.000000
25%,0.000000,29.70000,29.870000,2.700000,11.000000,4.200000,0.000000,0.000000,0.000000,1.0,1.0,28.000000,0.000000,1.00000,0.000000
50%,0.005000,29.85000,30.020000,4.700000,22.000000,5.900000,0.000000,1.000000,0.000000,1.0,1.0,56.000000,0.000000,3.00000,0.000000
75%,0.030000,30.01000,30.170000,7.400000,28.000000,8.200000,1.000000,1.000000,0.000000,1.0,1.0,84.000000,0.000000,5.00000,1.000000
max,1.980000,30.59000,30.770000,17.900000,36.000000,19.800000,1.000000,1.000000,1.000000,1.0,1.0,111.000000,207.000000,6.00000,1.000000

In [9]:
df1.describe()

,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,...,avgspeed,nothing,rain,other,store_nbr,station_nbr,item_nbr,units,week7,weekend
count,1.031190e+05,102897.000000,102897.000000,102564.000000,0.0,102675.000000,102342.000000,102564.000000,102564.000000,0.0,...,102786.000000,103119.000000,103119.000000,103119.000000,103119.0,103119.0,103119.000000,103119.000000,103119.00000,103119.000000
mean,1.367872e+18,60.641855,41.666667,51.427489,NaN,37.944865,45.251627,15.636364,2.063853,NaN,...,6.528402,0.493003,0.500538,0.079656,1.0,1.0,56.000000,0.364909,3.00000,0.285253
std,2.591248e+16,18.975950,16.784905,17.591533,NaN,19.044399,16.126532,15.041496,4.321170,NaN,...,3.247471,0.499953,0.500002,0.270761,0.0,0.0,32.041795,3.609916,2.00001,0.451537
min,1.325376e+18,14.000000,-4.000000,8.000000,NaN,-12.000000,4.000000,0.000000,0.000000,NaN,...,0.600000,0.000000,0.000000,0.000000,1.0,1.0,1.000000,0.000000,0.00000,0.000000
25%,1.345421e+18,45.000000,29.000000,38.000000,NaN,23.000000,33.000000,0.000000,0.000000,NaN,...,4.200000,0.000000,0.000000,0.000000,1.0,1.0,28.000000,0.000000,1.00000,0.000000
50%,1.365552e+18,62.000000,42.000000,53.000000,NaN,39.000000,46.000000,12.000000,0.000000,NaN,...,5.900000,0.000000,1.000000,0.000000,1.0,1.0,56.000000,0.000000,3.00000,0.000000
75%,1.391040e+18,77.000000,56.000000,66.000000,NaN,54.000000,59.000000,27.000000,1.000000,NaN,...,8.200000,1.000000,1.000000,0.000000,1.0,1.0,84.000000,0.000000,5.00000,1.000000
max,1.414714e+18,97.000000,77.000000,86.000000,NaN,71.000000,76.000000,57.000000,21.000000,NaN,...,19.800000,1.000000,1.000000,1.000000,1.0,1.0,111.000000,207.000000,6.00000,1.000000

In [3]:
df13['store_nbr'].unique()

array([15, 25, 32, 37, 40], dtype=int64)

In [6]:
df13_drop_columns = ['date', 'codesum', 'depart', 'sunrise', 'sunset', 'station_nbr', 'snowfall']
df13 = df13.drop(columns = df13_drop_columns)

In [7]:
# np.nan를 포함하고 있는 변수(column)를 찾아서, 그 변수에 mean 값 대입해서 Frame의 모든 Value가 fill 되게 하기.
df13_columns = df13.columns

# Cateogry 값을 포함하는 변수는 np.nan에 mode값으로 대체하고, 나머지 실수 값을 포함한 변수는 np.nan에 mean값으로 대체
for i in df13_columns:
    if (i == 'resultdir'):
        df13[i].fillna(df13[i].mode()[0], inplace=True)
        print(df13[i].mode()[0])
    else:
        df13[i].fillna(df13[i].mean(), inplace=True)

# 이제 모든 변수가 숫자로 표기 되었기 때문에, 가능 함. 
# 상대 습도 추가 #
df13['relative_humility'] = 100*(np.exp((17.625*((df13['dewpoint']-32)/1.8))/(243.04+((df13['dewpoint']-32)/1.8)))/np.exp((17.625*((df13['tavg']-32)/1.8))/(243.04+((df13['tavg']-32)/1.8))))

# 체감온도 계산
df13["windchill"] = 35.74 + 0.6215*df13["tavg"] - 35.75*(df13["avgspeed"]**0.16) + 0.4275*df13["tavg"]*(df13["avgspeed"]**0.16)

df13 = df13[df13['units'] != 0]

16

In [8]:
# 'np.log1p(units) ~ tmax + tmin + tavg + depart + dewpoint + wetbulb + heat + cool + sunrise + sunset + codesume + \
# snowfall + preciptotal + stnpressure + sealevel + resultspeed + resultdir + avgspeed + nothing + rain + other + \
# store_nbr + station_nbr + item_nbr'

model_df13 = sm.OLS.from_formula('np.log1p(units) ~ tmax + tmin + tavg + dewpoint + heat + cool + preciptotal + \
resultspeed + sealevel + resultdir + avgspeed + C(nothing) + C(rain) + C(other) + C(item_nbr) + C(week7) + \
C(weekend) + relative_humility + windchill + 0', data = df13)
result_df13 = model_df13.fit()

print(result_df13.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        np.log1p(units)   R-squared:                       0.870
Model:                            OLS   Adj. R-squared:                  0.870
Method:                 Least Squares   F-statistic:                     2442.
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        16:28:57   Log-Likelihood:                -11474.
No. Observations:               15369   AIC:                         2.303e+04
Df Residuals:                   15326   BIC:                         2.336e+04
Df Model:                          42
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(nothing)[0]          0.0235      0.025      0.936      0.349      -0.026       0.073
C(nothing)[1]         -0.0184      0.025     -0.734      0.463      -0.067       0.031
C(rain)[T.1]          -0.0448      0.050     -0.893      0.372      -0.143       0.054
C(other)[T.1]         -0.0529      0.019     -2.782      0.005      -0.090      -0.016
C(item_nbr)[T.9]       0.2553      0.015     17.372      0.000       0.226       0.284
C(item_nbr)[T.12]     -2.9033      0.030    -97.618      0.000      -2.962      -2.845
C(item_nbr)[T.15]     -2.3209      0.026    -89.295      0.000      -2.372      -2.270
C(item_nbr)[T.17]     -2.8173      0.028   -101.137      0.000      -2.872      -2.763
C(item_nbr)[T.19]     -2.9556      0.028   -105.515      0.000      -3.010      -2.901
C(item_nbr)[T.38]     -1.9490      0.031    -63.186      0.000      -2.009      -1.889
C(item_nbr)[T.45]      0.3121      0.012     26.559      0.000       0.289       0.335
C(item_nbr)[T.49]     -2.7619      0.051    -54.567      0.000      -2.861      -2.663
C(item_nbr)[T.50]     -2.7647      0.045    -60.894      0.000      -2.854      -2.676
C(item_nbr)[T.51]     -2.7699      0.032    -87.773      0.000      -2.832      -2.708
C(item_nbr)[T.53]     -2.9035      0.030    -97.650      0.000      -2.962      -2.845
C(item_nbr)[T.55]     -2.6806      0.028    -96.425      0.000      -2.735      -2.626
C(item_nbr)[T.58]     -2.5869      0.029    -88.479      0.000      -2.644      -2.530
C(item_nbr)[T.61]     -2.7140      0.029    -93.173      0.000      -2.771      -2.657
C(item_nbr)[T.81]     -1.2704      0.028    -45.124      0.000      -1.326      -1.215
C(item_nbr)[T.84]     -3.0095      0.072    -41.637      0.000      -3.151      -2.868
C(item_nbr)[T.86]     -2.8575      0.044    -65.006      0.000      -2.944      -2.771
C(item_nbr)[T.93]     -2.1737      0.023    -96.576      0.000      -2.218      -2.130
C(item_nbr)[T.104]    -2.6041      0.042    -61.466      0.000      -2.687      -2.521
C(item_nbr)[T.105]    -2.7431      0.050    -54.382      0.000      -2.842      -2.644
C(item_nbr)[T.106]    -2.8552      0.078    -36.709      0.000      -3.008      -2.703
C(week7)[T.1]         -0.1197      0.016     -7.561      0.000      -0.151      -0.089
C(week7)[T.2]         -0.1814      0.016    -11.402      0.000      -0.213      -0.150
C(week7)[T.3]         -0.2017      0.016    -12.751      0.000      -0.233      -0.171
C(week7)[T.4]         -0.0486      0.016     -3.128      0.002      -0.079      -0.018
C(week7)[T.5]          0.0369      0.009      4.207      0.000       0.020       0.054
C(week7)[T.6]          0.0804      0.009      9.214      0.000       0.063       0.097
C(weekend)[T.1]        0.1172      0.009     13.115      0.000       0.100       0.135
tmax                  -0.0026      0.001     -1.934      0.053      -0.005    3.39e-05
tmin                  -0.0017      0.001     -1.168      0.243      -0.005       0.001
tavg                   0.1126      0.013      8.538      0.000       0.087       0.138
dewpoint              -0.0002      0.002     -0.109      0.913      -0.004       0.003
heat                   0.1137      0.012      9.508      0.000       0.090       0.137
cool                  -0.1033      0.012     -8.778      0.000      -0.126      -0.080
preciptotal            0.1002      0.033      3.014      0.003       0.035       0.165
resultspeed            0.0044      0.002      1.867      0.062      -0.000       0.009
sealevel              -0.1127      0.025     -4.499      0.000      -0.162      -0.064
resultdir             -0.0003      0.000     -0.713      0.476      -0.001       0.001
avgspeed              -0.0023      0.004     -0.616      0.538      -0.010       0.005
relative_humility      0.0005      0.001      0.422      0.673      -0.002       0.003
windchill              0.0017      0.005      0.324      0.746      -0.008       0.012
==============================================================================
Omnibus:                      858.575   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3600.329
Skew:                          -0.016   Prob(JB):                         0.00
Kurtosis:                       5.371   Cond. No.                     5.29e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.61e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [9]:
model_df13 = sm.OLS.from_formula('np.log1p(units) ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(heat) + scale(cool) + \
scale(preciptotal) + scale(resultspeed) + scale(sealevel) + scale(resultdir) + scale(avgspeed) + C(nothing) + C(rain) + \
C(other) + C(item_nbr) + C(week7) + C(weekend) + scale(relative_humility) + scale(windchill) + 0', data = df13)
result_df13 = model_df13.fit()

print(result_df13.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        np.log1p(units)   R-squared:                       0.870
Model:                            OLS   Adj. R-squared:                  0.870
Method:                 Least Squares   F-statistic:                     2442.
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        16:29:12   Log-Likelihood:                -11474.
No. Observations:               15369   AIC:                         2.303e+04
Df Residuals:                   15326   BIC:                         2.336e+04
Df Model:                          42
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(nothing)[0]                3.8687      0.052     74.821      0.000       3.767       3.970
C(nothing)[1]                3.8268      0.015    263.540      0.000       3.798       3.855
C(rain)[T.1]                -0.0448      0.050     -0.893      0.372      -0.143       0.054
C(other)[T.1]               -0.0529      0.019     -2.782      0.005      -0.090      -0.016
C(item_nbr)[T.9]             0.2553      0.015     17.372      0.000       0.226       0.284
C(item_nbr)[T.12]           -2.9033      0.030    -97.618      0.000      -2.962      -2.845
C(item_nbr)[T.15]           -2.3209      0.026    -89.295      0.000      -2.372      -2.270
C(item_nbr)[T.17]           -2.8173      0.028   -101.137      0.000      -2.872      -2.763
C(item_nbr)[T.19]           -2.9556      0.028   -105.515      0.000      -3.010      -2.901
C(item_nbr)[T.38]           -1.9490      0.031    -63.186      0.000      -2.009      -1.889
C(item_nbr)[T.45]            0.3121      0.012     26.559      0.000       0.289       0.335
C(item_nbr)[T.49]           -2.7619      0.051    -54.567      0.000      -2.861      -2.663
C(item_nbr)[T.50]           -2.7647      0.045    -60.894      0.000      -2.854      -2.676
C(item_nbr)[T.51]           -2.7699      0.032    -87.773      0.000      -2.832      -2.708
C(item_nbr)[T.53]           -2.9035      0.030    -97.650      0.000      -2.962      -2.845
C(item_nbr)[T.55]           -2.6806      0.028    -96.425      0.000      -2.735      -2.626
C(item_nbr)[T.58]           -2.5869      0.029    -88.479      0.000      -2.644      -2.530
C(item_nbr)[T.61]           -2.7140      0.029    -93.173      0.000      -2.771      -2.657
C(item_nbr)[T.81]           -1.2704      0.028    -45.124      0.000      -1.326      -1.215
C(item_nbr)[T.84]           -3.0095      0.072    -41.637      0.000      -3.151      -2.868
C(item_nbr)[T.86]           -2.8575      0.044    -65.006      0.000      -2.944      -2.771
C(item_nbr)[T.93]           -2.1737      0.023    -96.576      0.000      -2.218      -2.130
C(item_nbr)[T.104]          -2.6041      0.042    -61.466      0.000      -2.687      -2.521
C(item_nbr)[T.105]          -2.7431      0.050    -54.382      0.000      -2.842      -2.644
C(item_nbr)[T.106]          -2.8552      0.078    -36.709      0.000      -3.008      -2.703
C(week7)[T.1]               -0.1197      0.016     -7.561      0.000      -0.151      -0.089
C(week7)[T.2]               -0.1814      0.016    -11.402      0.000      -0.213      -0.150
C(week7)[T.3]               -0.2017      0.016    -12.751      0.000      -0.233      -0.171
C(week7)[T.4]               -0.0486      0.016     -3.128      0.002      -0.079      -0.018
C(week7)[T.5]                0.0369      0.009      4.207      0.000       0.020       0.054
C(week7)[T.6]                0.0804      0.009      9.214      0.000       0.063       0.097
C(weekend)[T.1]              0.1172      0.009     13.115      0.000       0.100       0.135
scale(tmax)                 -0.0506      0.026     -1.934      0.053      -0.102       0.001
scale(tmin)                 -0.0299      0.026     -1.168      0.243      -0.080       0.020
scale(tavg)                 -0.0039      0.057     -0.068      0.946      -0.116       0.108
scale(dewpoint)             -0.0028      0.026     -0.109      0.913      -0.053       0.048
scale(heat)                  0.0145      0.062      0.233      0.816      -0.107       0.136
scale(cool)                  0.0386      0.017      2.229      0.026       0.005       0.073
scale(preciptotal)           0.0144      0.005      3.014      0.003       0.005       0.024
scale(resultspeed)           0.0147      0.008      1.867      0.062      -0.001       0.030
scale(sealevel)             -0.0237      0.005     -4.499      0.000      -0.034      -0.013
scale(resultdir)            -0.0031      0.004     -0.713      0.476      -0.011       0.005
scale(avgspeed)             -0.0068      0.011     -0.616      0.538      -0.028       0.015
scale(relative_humility)     0.0084      0.020      0.422      0.673      -0.031       0.047
scale(windchill)             0.0359      0.111      0.324      0.746      -0.181       0.253
==============================================================================
Omnibus:                      858.575   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3600.329
Skew:                          -0.016   Prob(JB):                         0.00
Kurtosis:                       5.371   Cond. No.                     8.33e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.45e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [10]:
anova_result_df13 = sm.stats.anova_lm(result_df13).sort_values(by=['PR(>F)'], ascending = False)
anova_result_df13[anova_result_df13['PR(>F)'] <= 0.05]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

,df,sum_sq,mean_sq,F,PR(>F)
scale(resultspeed),1.0,2.088198,2.088198,7.989989,4.709759e-03
C(rain),1.0,2.816703,2.816703,10.777438,1.029748e-03
scale(preciptotal),1.0,2.879768,2.879768,11.018740,9.040573e-04
C(other),1.0,3.735580,3.735580,14.293303,1.570137e-04
scale(sealevel),1.0,4.951022,4.951022,18.943898,1.354910e-05
scale(heat),1.0,9.652312,9.652312,36.932257,1.252018e-09
scale(tmax),1.0,9.972551,9.972551,38.157577,6.690386e-10
C(week7),6.0,319.901395,53.316899,204.004335,3.119668e-251
C(item_nbr),21.0,26446.551292,1259.359585,4818.637580,0.000000e+00
C(nothing),2.0,144920.513412,72460.256706,277251.803302,0.000000e+00

In [11]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(df13.values, i) for i in range(df13.shape[1])]
vif["features"] = df13.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif
# 10순위까지 겹치는것만 쓴다
# resultspeed, preciptotal, other, week7, item_nb

      VIF Factor           features
0       1.012089          store_nbr
1       1.045838           item_nbr
2       1.054368              units
3       1.125243          resultdir
4       1.315151        preciptotal
5       1.714148              other
6       2.772391              week7
7       2.787085            weekend
8       3.670228        resultspeed
9       7.144415           avgspeed
10     23.529326  relative_humility
11     34.630420               rain
12     34.637987            nothing
13     49.500752           dewpoint
14     51.618880               tmin
15     53.644398               tmax
16     65.256577        stnpressure
17     76.770658           sealevel
18    110.189433            wetbulb
19    171.490917               cool
20    777.055070          windchill
21   4374.601680               heat
22  30959.632741               tavg

In [12]:
# resultspeed, preciptotal, other, week7, item_nb
model_df13 = sm.OLS.from_formula('np.log1p(units) ~ C(item_nbr) + C(other) + C(week7)+ scale(preciptotal) + \
+ scale(resultspeed) + 0', data = df13)
result_df13 = model_df13.fit()

print(result_df13.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        np.log1p(units)   R-squared:                       0.869
Model:                            OLS   Adj. R-squared:                  0.869
Method:                 Least Squares   F-statistic:                     3394.
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        16:31:10   Log-Likelihood:                -11530.
No. Observations:               15369   AIC:                         2.312e+04
Df Residuals:                   15338   BIC:                         2.336e+04
Df Model:                          30
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(item_nbr)[5]         3.8186      0.014    275.071      0.000       3.791       3.846
C(item_nbr)[9]         4.0739      0.015    264.983      0.000       4.044       4.104
C(item_nbr)[12]        0.9201      0.030     30.529      0.000       0.861       0.979
C(item_nbr)[15]        1.5299      0.026     58.371      0.000       1.479       1.581
C(item_nbr)[17]        1.0057      0.028     35.546      0.000       0.950       1.061
C(item_nbr)[19]        0.8675      0.028     30.622      0.000       0.812       0.923
C(item_nbr)[38]        1.8652      0.031     59.806      0.000       1.804       1.926
C(item_nbr)[45]        4.1307      0.013    328.687      0.000       4.106       4.155
C(item_nbr)[49]        1.0988      0.051     21.628      0.000       0.999       1.198
C(item_nbr)[50]        1.0924      0.046     23.939      0.000       1.003       1.182
C(item_nbr)[51]        1.0843      0.032     34.164      0.000       1.022       1.147
C(item_nbr)[53]        0.9181      0.030     30.406      0.000       0.859       0.977
C(item_nbr)[55]        1.1431      0.028     40.396      0.000       1.088       1.199
C(item_nbr)[58]        1.2366      0.030     41.637      0.000       1.178       1.295
C(item_nbr)[61]        1.1134      0.030     37.738      0.000       1.056       1.171
C(item_nbr)[81]        2.5508      0.029     89.401      0.000       2.495       2.607
C(item_nbr)[84]        0.8103      0.073     11.140      0.000       0.668       0.953
C(item_nbr)[86]        0.9584      0.044     21.668      0.000       0.872       1.045
C(item_nbr)[93]        1.6422      0.023     71.455      0.000       1.597       1.687
C(item_nbr)[104]       1.2019      0.043     28.155      0.000       1.118       1.286
C(item_nbr)[105]       1.0605      0.051     20.918      0.000       0.961       1.160
C(item_nbr)[106]       0.9575      0.078     12.267      0.000       0.805       1.111
C(other)[T.1]          0.0148      0.015      0.967      0.333      -0.015       0.045
C(week7)[T.1]         -0.1209      0.016     -7.668      0.000      -0.152      -0.090
C(week7)[T.2]         -0.1829      0.016    -11.588      0.000      -0.214      -0.152
C(week7)[T.3]         -0.2005      0.016    -12.764      0.000      -0.231      -0.170
C(week7)[T.4]         -0.0493      0.015     -3.183      0.001      -0.080      -0.019
C(week7)[T.5]          0.1509      0.015      9.827      0.000       0.121       0.181
C(week7)[T.6]          0.1971      0.015     12.850      0.000       0.167       0.227
scale(preciptotal)     0.0093      0.004      2.202      0.028       0.001       0.018
scale(resultspeed)     0.0105      0.004      2.516      0.012       0.002       0.019
==============================================================================
Omnibus:                      871.873   Durbin-Watson:                   1.750
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3712.081
Skew:                          -0.001   Prob(JB):                         0.00
Kurtosis:                       5.408   Cond. No.                         19.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [13]:
# resultspeed, avgspeed, C(weekend), preciptotal, C(other), C(week7), C(item_nbr),
X13 = df13[['item_nbr', 'other', 'week7', 'preciptotal', 'resultspeed']]
y13 = df13['units']
model13 = LinearRegression()

cv13 = KFold(n_splits=13, shuffle=True, random_state=0)

cross_val_score(model13, X13, y13, scoring="r2", cv=cv13)

array([0.09684695, 0.09322251, 0.1044634 , 0.10758238, 0.09287561,
       0.08017   , 0.09520012, 0.01905147, 0.07604049, 0.07482086,
       0.09209159, 0.08413179, 0.0086498 ])