In [1]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score


%matplotlib inline
%config InlineBackend.figure_formats = {'png', 'retina'}
pd.options.mode.chained_assignment = None  # default='warn'?

# data_key DataFrame
data_key = pd.read_csv('key.csv')

# data_train DataFrame
data_train = pd.read_csv('train.csv')

# data_weather DataFrame
data_weather = pd.read_csv('weather.csv')

rain_text = ['FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL', 'IC', 'FG', 'BR', 'UP', 'FG+']
other_text = ['HZ', 'FU', 'VA', 'DU', 'DS', 'PO', 'SA', 'SS', 'PY', 'SQ', 'DR', 'SH', 'FZ', 'MI', 'PR', 'BC', 'BL', 'VC' ]

data_weather['codesum'].replace("+", "")
a = []
for i in range(len(data_weather['codesum'])):
    a.append(data_weather['codesum'].values[i].split(" "))
    for i_text in a[i]:
        if len(i_text) == 4:
            a[i].append(i_text[:2])
            a[i].append(i_text[2:])
            
data_weather["nothing"] = 1
data_weather["rain"] = 0
data_weather["other"] = 0
b = -1
for ls in a:
    b += 1
    for text in ls:
        if text in rain_text:
            data_weather.loc[b, 'rain'] = 1
            data_weather.loc[b, 'nothing'] = 0
        elif text in other_text:
            data_weather.loc[b,'other'] = 1
            data_weather.loc[b, 'nothing'] = 0      
# 모든 데이터 Merge
df = pd.merge(data_weather, data_key)

station_nbr = df['station_nbr']
df.drop('station_nbr', axis=1, inplace=True)
df['station_nbr'] = station_nbr

df = pd.merge(df, data_train)

# T 값 처리 하기. Remained Subject = > 'M' and '-'
df['snowfall'][df['snowfall'] == '  T'] = 0.05
df['preciptotal'][df['preciptotal'] == '  T'] = 0.005

# 주말과 주중 구분 작업 하기
df['date'] = pd.to_datetime(df['date'])
df['week7'] = df['date'].dt.dayofweek
df['weekend'] = 0
df.loc[df['week7'] == 5, 'weekend'] = 1
df.loc[df['week7'] == 6, 'weekend'] = 1

df1 = df[df['station_nbr'] == 1]; df11 = df[df['station_nbr'] == 11]
df2 = df[df['station_nbr'] == 2]; df12 = df[df['station_nbr'] == 12]
df3 = df[df['station_nbr'] == 3]; df13 = df[df['station_nbr'] == 13]
df4 = df[df['station_nbr'] == 4]; df14 = df[df['station_nbr'] == 14]
df5 = df[df['station_nbr'] == 5]; df15 = df[df['station_nbr'] == 15]
df6 = df[df['station_nbr'] == 6]; df16 = df[df['station_nbr'] == 16]
df7 = df[df['station_nbr'] == 7]; df17 = df[df['station_nbr'] == 17]
df8 = df[df['station_nbr'] == 8]; df18 = df[df['station_nbr'] == 18]
df9 = df[df['station_nbr'] == 9]; df19 = df[df['station_nbr'] == 19]
df10 = df[df['station_nbr'] == 10]; df20 = df[df['station_nbr'] == 20]

In [4]:
df17 = df17.apply(pd.to_numeric, errors = 'coerce')
df17.describe().iloc[:, :15]
# 없는 Column = date, codesum, depart, sunrise, sunset, station_nbr

,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure
count,6.307020e+05,630036.000000,630036.000000,628038.00000,0.0,630036.000000,625374.000000,628038.000000,628038.000000,0.0,0.0,0.0,594738.000000,630036.000000,629370.000000
mean,1.367579e+18,73.488372,48.906977,61.45281,NaN,46.250529,53.312034,9.607635,6.060445,NaN,NaN,NaN,0.000056,0.068039,29.348487
std,2.515189e+16,18.809463,18.516844,18.13576,NaN,18.163112,16.052230,12.144894,8.059406,NaN,NaN,NaN,0.001672,0.215609,0.187040
min,1.325376e+18,19.000000,2.000000,12.00000,NaN,-3.000000,9.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,28.740000
25%,1.345766e+18,61.000000,33.000000,47.00000,NaN,31.000000,39.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,29.220000
50%,1.366330e+18,76.000000,50.000000,64.00000,NaN,49.000000,55.000000,1.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,29.330000
75%,1.389226e+18,89.000000,66.000000,77.00000,NaN,63.000000,68.000000,18.000000,12.000000,NaN,NaN,NaN,0.000000,0.005000,29.460000
max,1.414714e+18,114.000000,82.000000,97.00000,NaN,75.000000,78.000000,53.000000,32.000000,NaN,NaN,NaN,0.050000,3.050000,30.060000

In [3]:
df17['store_nbr'].unique()

array([ 9, 18, 23, 26, 31, 34], dtype=int64)

In [5]:
df17_drop_columns = ['date', 'codesum', 'depart', 'sunrise', 'sunset', 'station_nbr']
df17 = df17.drop(columns = df17_drop_columns)

In [6]:
# np.nan를 포함하고 있는 변수(column)를 찾아서, 그 변수에 mean 값 대입해서 Frame의 모든 Value가 fill 되게 하기.
df17_columns = df17.columns

# Cateogry 값을 포함하는 변수는 np.nan에 mode값으로 대체하고, 나머지 실수 값을 포함한 변수는 np.nan에 mean값으로 대체
for i in df17_columns:
    if (i == 'resultdir'):
        df17[i].fillna(df17[i].mode()[0], inplace=True)
        print(df17[i].mode()[0])
    else:
        df17[i].fillna(df17[i].mean(), inplace=True)

# 이제 모든 변수가 숫자로 표기 되었기 때문에, 가능 함. 
# 상대 습도 추가 #
df17['relative_humility'] = 100*(np.exp((17.625*((df17['dewpoint']-32)/1.8))/(243.04+((df17['dewpoint']-32)/1.8)))/np.exp((17.625*((df17['tavg']-32)/1.8))/(243.04+((df17['tavg']-32)/1.8))))

# 체감온도 계산
df17["windchill"] = 35.74 + 0.6217*df17["tavg"] - 35.75*(df17["avgspeed"]**0.17) + 0.4275*df17["tavg"]*(df17["avgspeed"]**0.17)

df17 = df17[df17['units'] != 0]

18.0

In [7]:
# 'np.log1p(units) ~ tmax + tmin + tavg + depart + dewpoint + wetbulb + heat + cool + sunrise + sunset + codesume + \
# snowfall + preciptotal + stnpressure + sealevel + resultspeed + resultdir + avgspeed + nothing + rain + other + \
# store_nbr + station_nbr + item_nbr'

model_df17 = sm.OLS.from_formula('np.log1p(units) ~ tmax + tmin + tavg + dewpoint + heat + cool + preciptotal + \
resultspeed + sealevel + snowfall + resultdir + avgspeed + C(nothing) + C(rain) + C(other) + C(item_nbr) + C(week7) + \
C(weekend) + relative_humility + windchill + 0', data = df17)
result_df17 = model_df17.fit()

print(result_df17.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        np.log1p(units)   R-squared:                       0.845
Model:                            OLS   Adj. R-squared:                  0.844
Method:                 Least Squares   F-statistic:                     2219.
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        16:55:50   Log-Likelihood:                -12164.
No. Observations:               16381   AIC:                         2.441e+04
Df Residuals:                   16340   BIC:                         2.473e+04
Df Model:                          40
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(nothing)[0]          0.0093      0.018      0.515      0.607      -0.026       0.045
C(nothing)[1]         -0.0054      0.018     -0.300      0.764      -0.041       0.030
C(rain)[T.1]          -0.0259      0.036     -0.728      0.467      -0.096       0.044
C(other)[T.1]          0.0230      0.015      1.503      0.133      -0.007       0.053
C(item_nbr)[T.5]       1.9051      0.028     68.647      0.000       1.851       1.960
C(item_nbr)[T.9]       2.3811      0.029     82.235      0.000       2.324       2.438
C(item_nbr)[T.10]     -0.3894      0.038    -10.155      0.000      -0.465      -0.314
C(item_nbr)[T.29]     -0.5296      0.035    -14.989      0.000      -0.599      -0.460
C(item_nbr)[T.31]     -0.5286      0.039    -13.615      0.000      -0.605      -0.453
C(item_nbr)[T.37]      1.0285      0.031     32.927      0.000       0.967       1.090
C(item_nbr)[T.42]      0.7258      0.035     20.662      0.000       0.657       0.795
C(item_nbr)[T.45]      2.6371      0.027     95.901      0.000       2.583       2.691
C(item_nbr)[T.52]     -0.4042      0.034    -11.903      0.000      -0.471      -0.338
C(item_nbr)[T.56]     -0.2568      0.038     -6.838      0.000      -0.330      -0.183
C(item_nbr)[T.57]     -0.4704      0.042    -11.121      0.000      -0.553      -0.387
C(item_nbr)[T.67]      0.9550      0.034     28.274      0.000       0.889       1.021
C(item_nbr)[T.72]     -0.6688      0.038    -17.782      0.000      -0.743      -0.595
C(item_nbr)[T.84]     -0.7166      0.087     -8.254      0.000      -0.887      -0.546
C(item_nbr)[T.93]      0.0308      0.036      0.851      0.395      -0.040       0.102
C(item_nbr)[T.98]     -0.4323      0.038    -11.502      0.000      -0.506      -0.359
C(item_nbr)[T.104]    -0.5868      0.087     -6.758      0.000      -0.757      -0.417
C(item_nbr)[T.105]    -0.6254      0.077     -8.146      0.000      -0.776      -0.475
C(week7)[T.1]         -0.0999      0.015     -6.623      0.000      -0.129      -0.070
C(week7)[T.2]         -0.1516      0.015    -10.031      0.000      -0.181      -0.122
C(week7)[T.3]         -0.1834      0.015    -12.208      0.000      -0.213      -0.154
C(week7)[T.4]         -0.0697      0.015     -4.669      0.000      -0.099      -0.040
C(week7)[T.5]         -0.0087      0.009     -1.016      0.310      -0.025       0.008
C(week7)[T.6]          0.0847      0.009      9.909      0.000       0.068       0.101
C(weekend)[T.1]        0.0760      0.009      8.820      0.000       0.059       0.093
tmax                   0.0033      0.004      0.746      0.455      -0.005       0.012
tmin                   0.0053      0.004      1.185      0.236      -0.003       0.014
tavg                   0.0873      0.018      4.846      0.000       0.052       0.123
dewpoint              -0.0021      0.003     -0.600      0.548      -0.009       0.005
heat                   0.0868      0.015      5.750      0.000       0.057       0.116
cool                  -0.0793      0.015     -5.313      0.000      -0.109      -0.050
preciptotal            0.0246      0.020      1.214      0.225      -0.015       0.064
resultspeed            0.0022      0.003      0.623      0.533      -0.005       0.009
sealevel              -0.1339      0.031     -4.335      0.000      -0.195      -0.073
snowfall               2.1571      2.332      0.925      0.355      -2.413       6.727
resultdir             -0.0003      0.000     -0.749      0.454      -0.001       0.001
avgspeed              -0.0085      0.004     -2.015      0.044      -0.017      -0.000
relative_humility      0.0010      0.002      0.623      0.533      -0.002       0.004
windchill             -0.0097      0.004     -2.387      0.017      -0.018      -0.002
==============================================================================
Omnibus:                      968.724   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2318.925
Skew:                          -0.365   Prob(JB):                         0.00
Kurtosis:                       4.693   Cond. No.                     2.65e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.51e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [8]:
model_df17 = sm.OLS.from_formula('np.log1p(units) ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(heat) + scale(cool) + \
scale(preciptotal) + scale(resultspeed) + scale(sealevel) + scale(snowfall)+ scale(resultdir) + scale(avgspeed) + C(nothing) + C(rain) + \
C(other) + C(item_nbr) + C(week7) + C(weekend) + scale(relative_humility) + scale(windchill) + 0', data = df17)
result_df17 = model_df17.fit()

print(result_df17.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        np.log1p(units)   R-squared:                       0.845
Model:                            OLS   Adj. R-squared:                  0.844
Method:                 Least Squares   F-statistic:                     2219.
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        16:55:56   Log-Likelihood:                -12164.
No. Observations:               16381   AIC:                         2.441e+04
Df Residuals:                   16340   BIC:                         2.473e+04
Df Model:                          40
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(nothing)[0]                1.5291      0.045     33.805      0.000       1.440       1.618
C(nothing)[1]                1.5143      0.029     52.923      0.000       1.458       1.570
C(rain)[T.1]                -0.0259      0.036     -0.728      0.467      -0.096       0.044
C(other)[T.1]                0.0230      0.015      1.503      0.133      -0.007       0.053
C(item_nbr)[T.5]             1.9051      0.028     68.647      0.000       1.851       1.960
C(item_nbr)[T.9]             2.3811      0.029     82.235      0.000       2.324       2.438
C(item_nbr)[T.10]           -0.3894      0.038    -10.155      0.000      -0.465      -0.314
C(item_nbr)[T.29]           -0.5296      0.035    -14.989      0.000      -0.599      -0.460
C(item_nbr)[T.31]           -0.5286      0.039    -13.615      0.000      -0.605      -0.453
C(item_nbr)[T.37]            1.0285      0.031     32.927      0.000       0.967       1.090
C(item_nbr)[T.42]            0.7258      0.035     20.662      0.000       0.657       0.795
C(item_nbr)[T.45]            2.6371      0.027     95.901      0.000       2.583       2.691
C(item_nbr)[T.52]           -0.4042      0.034    -11.903      0.000      -0.471      -0.338
C(item_nbr)[T.56]           -0.2568      0.038     -6.838      0.000      -0.330      -0.183
C(item_nbr)[T.57]           -0.4704      0.042    -11.121      0.000      -0.553      -0.387
C(item_nbr)[T.67]            0.9550      0.034     28.274      0.000       0.889       1.021
C(item_nbr)[T.72]           -0.6688      0.038    -17.782      0.000      -0.743      -0.595
C(item_nbr)[T.84]           -0.7166      0.087     -8.254      0.000      -0.887      -0.546
C(item_nbr)[T.93]            0.0308      0.036      0.851      0.395      -0.040       0.102
C(item_nbr)[T.98]           -0.4323      0.038    -11.502      0.000      -0.506      -0.359
C(item_nbr)[T.104]          -0.5868      0.087     -6.758      0.000      -0.757      -0.417
C(item_nbr)[T.105]          -0.6254      0.077     -8.146      0.000      -0.776      -0.475
C(week7)[T.1]               -0.0999      0.015     -6.623      0.000      -0.129      -0.070
C(week7)[T.2]               -0.1516      0.015    -10.031      0.000      -0.181      -0.122
C(week7)[T.3]               -0.1834      0.015    -12.208      0.000      -0.213      -0.154
C(week7)[T.4]               -0.0697      0.015     -4.669      0.000      -0.099      -0.040
C(week7)[T.5]               -0.0087      0.009     -1.016      0.310      -0.025       0.008
C(week7)[T.6]                0.0847      0.009      9.909      0.000       0.068       0.101
C(weekend)[T.1]              0.0760      0.009      8.820      0.000       0.059       0.093
scale(tmax)                  0.0622      0.083      0.746      0.455      -0.101       0.226
scale(tmin)                  0.0976      0.082      1.185      0.236      -0.064       0.259
scale(tavg)                  0.0201      0.074      0.270      0.787      -0.126       0.166
scale(dewpoint)             -0.0371      0.062     -0.600      0.548      -0.158       0.084
scale(heat)                  0.0070      0.077      0.090      0.928      -0.145       0.159
scale(cool)                  0.0557      0.051      1.086      0.277      -0.045       0.156
scale(preciptotal)           0.0056      0.005      1.214      0.225      -0.003       0.015
scale(resultspeed)           0.0072      0.012      0.623      0.533      -0.016       0.030
scale(sealevel)             -0.0254      0.006     -4.335      0.000      -0.037      -0.014
scale(snowfall)              0.0038      0.004      0.925      0.355      -0.004       0.012
scale(resultdir)            -0.0032      0.004     -0.749      0.454      -0.011       0.005
scale(avgspeed)             -0.0267      0.013     -2.015      0.044      -0.053      -0.001
scale(relative_humility)     0.0139      0.022      0.623      0.533      -0.030       0.058
scale(windchill)            -0.2105      0.088     -2.387      0.017      -0.383      -0.038
==============================================================================
Omnibus:                      968.724   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2318.925
Skew:                          -0.365   Prob(JB):                         0.00
Kurtosis:                       4.693   Cond. No.                     9.04e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.36e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [9]:
anova_result_df17 = sm.stats.anova_lm(result_df17).sort_values(by=['PR(>F)'], ascending = False)
anova_result_df17[anova_result_df17['PR(>F)'] <= 0.05]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

,df,sum_sq,mean_sq,F,PR(>F)
scale(tmin),1.0,1.211700,1.211700,4.675043,3.061840e-02
scale(windchill),1.0,1.481601,1.481601,5.716389,1.681851e-02
C(rain),1.0,2.262765,2.262765,8.730316,3.134086e-03
scale(sealevel),1.0,4.277806,4.277806,16.504850,4.875244e-05
scale(tmax),1.0,4.983769,4.983769,19.228635,1.166855e-05
scale(heat),1.0,13.008711,13.008711,50.190879,1.451852e-12
C(week7),6.0,211.958734,35.326456,136.298351,4.000273e-169
C(item_nbr),18.0,22766.218181,1264.789899,4879.877529,0.000000e+00
C(nothing),2.0,145092.097078,72546.048539,279900.900837,0.000000e+00

In [10]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(df17.values, i) for i in range(df17.shape[1])]
vif["features"] = df17.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif
# 10순위까지 겹치는것만 쓴다
# C(week7) + C(item_nbr)

      VIF Factor           features
0       1.041026           snowfall
1       1.052058           item_nbr
2       1.053852          store_nbr
3       1.079418              units
4       1.131880          resultdir
5       1.347866        preciptotal
6       1.502960              other
7       2.728118            weekend
8       2.734114              week7
9       8.657980        resultspeed
10     11.146005           avgspeed
11     19.239985               rain
12     20.151182            nothing
13     32.076813  relative_humility
14     41.438064        stnpressure
15     43.510948           sealevel
16     62.635766            wetbulb
17    269.719274           dewpoint
18    427.732693               tmin
19    441.589859               tmax
20    488.994634          windchill
21   1428.237036               cool
22   3452.444137               heat
23  83949.438944               tavg

In [11]:
# resultspeed, avgspeed, C(weekend), preciptotal, C(other), C(week7), C(item_nbr),
model_df17 = sm.OLS.from_formula('np.log1p(units) ~ C(week7) + C(item_nbr)  + 0', data = df17)
result_df17 = model_df17.fit()

print(result_df17.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        np.log1p(units)   R-squared:                       0.843
Model:                            OLS   Adj. R-squared:                  0.843
Method:                 Least Squares   F-statistic:                     3671.
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        16:56:51   Log-Likelihood:                -12224.
No. Observations:               16381   AIC:                         2.450e+04
Df Residuals:                   16356   BIC:                         2.469e+04
Df Model:                          24
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(week7)[0]            1.5076      0.028     53.313      0.000       1.452       1.563
C(week7)[1]            1.4051      0.028     49.683      0.000       1.350       1.461
C(week7)[2]            1.3554      0.028     47.857      0.000       1.300       1.411
C(week7)[3]            1.3225      0.028     46.802      0.000       1.267       1.378
C(week7)[4]            1.4373      0.028     50.782      0.000       1.382       1.493
C(week7)[5]            1.5715      0.028     55.647      0.000       1.516       1.627
C(week7)[6]            1.6669      0.028     59.205      0.000       1.612       1.722
C(item_nbr)[T.5]       1.9110      0.028     68.763      0.000       1.857       1.965
C(item_nbr)[T.9]       2.3870      0.029     82.309      0.000       2.330       2.444
C(item_nbr)[T.10]     -0.3853      0.038    -10.025      0.000      -0.461      -0.310
C(item_nbr)[T.29]     -0.5213      0.035    -14.729      0.000      -0.591      -0.452
C(item_nbr)[T.31]     -0.5158      0.039    -13.268      0.000      -0.592      -0.440
C(item_nbr)[T.37]      1.0344      0.031     33.058      0.000       0.973       1.096
C(item_nbr)[T.42]      0.7308      0.035     20.765      0.000       0.662       0.800
C(item_nbr)[T.45]      2.6430      0.028     95.982      0.000       2.589       2.697
C(item_nbr)[T.52]     -0.3953      0.034    -11.627      0.000      -0.462      -0.329
C(item_nbr)[T.56]     -0.2443      0.038     -6.492      0.000      -0.318      -0.171
C(item_nbr)[T.57]     -0.4619      0.042    -10.890      0.000      -0.545      -0.379
C(item_nbr)[T.67]      0.9631      0.034     28.496      0.000       0.897       1.029
C(item_nbr)[T.72]     -0.6575      0.038    -17.450      0.000      -0.731      -0.584
C(item_nbr)[T.84]     -0.7148      0.087     -8.213      0.000      -0.885      -0.544
C(item_nbr)[T.93]      0.0373      0.036      1.028      0.304      -0.034       0.108
C(item_nbr)[T.98]     -0.4233      0.038    -11.248      0.000      -0.497      -0.350
C(item_nbr)[T.104]    -0.5828      0.087     -6.699      0.000      -0.753      -0.412
C(item_nbr)[T.105]    -0.6196      0.077     -8.052      0.000      -0.770      -0.469
==============================================================================
Omnibus:                      951.424   Durbin-Watson:                   1.915
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2276.865
Skew:                          -0.358   Prob(JB):                         0.00
Kurtosis:                       4.680   Cond. No.                         20.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
# resultspeed, avgspeed, C(weekend), preciptotal, C(other), C(week7), C(item_nbr),
X17 = df17[['week7', 'item_nbr']]
y17 = df17['units']
model17 = LinearRegression()

cv17 = KFold(n_splits=17, shuffle=True, random_state=0)

cross_val_score(model17, X17, y17, scoring="r2", cv=cv17)

array([0.03616173, 0.03996442, 0.02550267, 0.03253181, 0.0133985 ,
       0.02296577, 0.03945545, 0.01691954, 0.02630364, 0.02502422,
       0.03575539, 0.03814722, 0.02396514, 0.04958402, 0.03274111,
       0.0341533 , 0.00610493])