In [1]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [2]:
weather = pd.read_csv("weather3_180703.csv")
weather['date'] = pd.to_datetime(weather["date"])
station = weather[weather['station_nbr'] == 20]

In [3]:
station['date'].count()

1035

In [4]:
# ls == 모든 값이 0인 것

ls = []
ls1 = []
for i in station.columns:
    if station[i].count() == 0:
        ls.append(i)
    if station[i].isna().sum() != 0:
        ls1.append(i)
ls, ls1

(['depart', 'sunrise', 'sunset', 'daytime'],
 ['depart', 'sunrise', 'sunset', 'resultdir', 'daytime'])

In [5]:
for i in station.columns:
    count_null = station[i].isna().sum()
    print(i, ":", count_null, "(",round((count_null / len(station) * 100),2),"%",")")

station_nbr : 0 ( 0.0 % )
date : 0 ( 0.0 % )
tmax : 0 ( 0.0 % )
tmin : 0 ( 0.0 % )
tavg : 0 ( 0.0 % )
depart : 1035 ( 100.0 % )
dewpoint : 0 ( 0.0 % )
wetbulb : 0 ( 0.0 % )
heat : 0 ( 0.0 % )
cool : 0 ( 0.0 % )
sunrise : 1035 ( 100.0 % )
sunset : 1035 ( 100.0 % )
codesum : 0 ( 0.0 % )
snowfall : 0 ( 0.0 % )
preciptotal : 0 ( 0.0 % )
stnpressure : 0 ( 0.0 % )
sealevel : 0 ( 0.0 % )
resultspeed : 0 ( 0.0 % )
resultdir : 9 ( 0.87 % )
avgspeed : 0 ( 0.0 % )
year : 0 ( 0.0 % )
month : 0 ( 0.0 % )
day : 0 ( 0.0 % )
relative_humility : 0 ( 0.0 % )
windchill : 0 ( 0.0 % )
daytime : 1035 ( 100.0 % )
week7 : 0 ( 0.0 % )
weekend : 0 ( 0.0 % )
code_change : 0 ( 0.0 % )
rainY : 0 ( 0.0 % )
otherY : 0 ( 0.0 % )
nothing : 0 ( 0.0 % )

In [6]:
train = pd.read_csv("train.csv")
train.date = pd.to_datetime(train.date)
train.tail()

              date  store_nbr  item_nbr  units
4617595 2014-10-31         45       107      0
4617596 2014-10-31         45       108      0
4617597 2014-10-31         45       109      0
4617598 2014-10-31         45       110      0
4617599 2014-10-31         45       111      0

In [7]:
key = pd.read_csv("key.csv")
station = station.merge(key)

In [8]:
station = station.merge(train)
station.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr,units
104224,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,107,0
104225,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,108,0
104226,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,109,0
104227,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,110,0
104228,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,111,0

In [9]:
station['log1p_units'] = np.log1p(station.units)

In [10]:
target1 = station['units']
target2 = station['log1p_units']

station.drop(columns=['units','log1p_units'],inplace=True)
station.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,windchill,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr
104224,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,56.913195,NaN,4,0,0,0,0,1,17,107
104225,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,56.913195,NaN,4,0,0,0,0,1,17,108
104226,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,56.913195,NaN,4,0,0,0,0,1,17,109
104227,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,56.913195,NaN,4,0,0,0,0,1,17,110
104228,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,56.913195,NaN,4,0,0,0,0,1,17,111

In [11]:
df1 = pd.concat([station,target1], axis=1)
df2 = pd.concat([station,target2], axis=1)

In [12]:
df2.to_csv('station20.csv', sep=',', index=False)

In [13]:
if df2.columns.tolist() and ls:
    print('공통 변수 있음')
    print(df2.columns.tolist() and ls)
else:
    print('공통 변수 없음')

공통 변수 있음
['depart', 'sunrise', 'sunset', 'daytime']

In [14]:
df2.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'year', 'month', 'day', 'relative_humility', 'windchill',
       'daytime', 'week7', 'weekend', 'code_change', 'rainY', 'otherY',
       'nothing', 'store_nbr', 'item_nbr', 'log1p_units'],
      dtype='object')

In [15]:
ls, ls1

(['depart', 'sunrise', 'sunset', 'daytime'],
 ['depart', 'sunrise', 'sunset', 'resultdir', 'daytime'])

### 1. 변수변환: df2 (log1p_units)

In [17]:
all_var = 'log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(depart) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                            + scale(sunrise) + scale(sunset) + scale(snowfall) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                            + C(resultdir) + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + C(daytime) + 0'

In [16]:
model2 = sm.OLS.from_formula('log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                           + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                         + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2)
result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.868
Model:                            OLS   Adj. R-squared:                  0.867
Method:                 Least Squares   F-statistic:                     4905.
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:54:14   Log-Likelihood:                -3769.1
No. Observations:              104229   AIC:                             7818.
Df Residuals:                  104089   BIC:                             9156.
Df Model:                         139
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(year)[2012]                0.0306      0.009      3.461      0.001       0.013       0.048
C(year)[2013]                0.0005      0.009      0.060      0.952      -0.017       0.018
C(year)[2014]               -0.0245      0.009     -2.744      0.006      -0.042      -0.007
C(month)[T.2]               -0.0034      0.004     -0.924      0.356      -0.011       0.004
C(month)[T.3]               -0.0016      0.004     -0.446      0.656      -0.009       0.006
C(month)[T.4]               -0.0014      0.004     -0.336      0.737      -0.010       0.007
C(month)[T.5]               -0.0074      0.005     -1.600      0.110      -0.017       0.002
C(month)[T.6]               -0.0067      0.005     -1.242      0.214      -0.017       0.004
C(month)[T.7]               -0.0074      0.006     -1.271      0.204      -0.019       0.004
C(month)[T.8]               -0.0068      0.006     -1.135      0.257      -0.018       0.005
C(month)[T.9]               -0.0067      0.005     -1.240      0.215      -0.017       0.004
C(month)[T.10]              -0.0132      0.004     -3.026      0.002      -0.022      -0.005
C(month)[T.11]              -0.0202      0.004     -4.790      0.000      -0.028      -0.012
C(month)[T.12]              -0.0203      0.004     -4.689      0.000      -0.029      -0.012
C(weekend)[T.1]              0.0058      0.002      3.341      0.001       0.002       0.009
C(rainY)[T.1]                0.0014      0.002      0.639      0.523      -0.003       0.006
C(item_nbr)[T.2]          6.167e-16      0.012   5.32e-14      1.000      -0.023       0.023
C(item_nbr)[T.3]         -2.639e-16      0.012  -2.28e-14      1.000      -0.023       0.023
C(item_nbr)[T.4]         -1.646e-15      0.012  -1.42e-13      1.000      -0.023       0.023
C(item_nbr)[T.5]         -7.478e-16      0.012  -6.45e-14      1.000      -0.023       0.023
C(item_nbr)[T.6]          5.833e-15      0.012   5.03e-13      1.000      -0.023       0.023
C(item_nbr)[T.7]         -8.079e-16      0.012  -6.97e-14      1.000      -0.023       0.023
C(item_nbr)[T.8]         -9.292e-16      0.012  -8.02e-14      1.000      -0.023       0.023
C(item_nbr)[T.9]             4.8419      0.012    417.906      0.000       4.819       4.865
C(item_nbr)[T.10]         3.333e-15      0.012   2.88e-13      1.000      -0.023       0.023
C(item_nbr)[T.11]         1.888e-15      0.012   1.63e-13      1.000      -0.023       0.023
C(item_nbr)[T.12]         2.965e-16      0.012   2.56e-14      1.000      -0.023       0.023
C(item_nbr)[T.13]         4.784e-16      0.012   4.13e-14      1.000      -0.023       0.023
C(item_nbr)[T.14]        -1.659e-15      0.012  -1.43e-13      1.000      -0.023       0.023
C(item_nbr)[T.15]         2.515e-15      0.012   2.17e-13      1.000      -0.023       0.023
C(item_nbr)[T.16]         -1.21e-15      0.012  -1.04e-13      1.000      -0.023       0.023
C(item_nbr)[T.17]          1.79e-16      0.012   1.54e-14      1.000      -0.023       0.023
C(item_nbr)[T.18]         4.203e-16      0.012   3.63e-14      1.000      -0.023       0.023
C(item_nbr)[T.19]         4.913e-16      0.012   4.24e-14      1.000      -0.023       0.023
C(item_nbr)[T.20]          2.32e-15      0.012      2e-13      1.000      -0.023       0.023
C(item_nbr)[T.21]         4.126e-16      0.012   3.56e-14      1.000      -0.023       0.023
C(item_nbr)[T.22]         4.035e-15      0.012   3.48e-13      1.000      -0.023       0.023
C(item_nbr)[T.23]        -1.774e-15      0.012  -1.53e-13      1.000      -0.023       0.023
C(item_nbr)[T.24]         7.225e-15      0.012   6.24e-13      1.000      -0.023       0.023
C(item_nbr)[T.25]         6.472e-16      0.012   5.59e-14      1.000      -0.023       0.023
C(item_nbr)[T.26]         2.214e-15      0.012   1.91e-13      1.000      -0.023       0.023
C(item_nbr)[T.27]         2.106e-15      0.012   1.82e-13      1.000      -0.023       0.023
C(item_nbr)[T.28]         1.366e-15      0.012   1.18e-13      1.000      -0.023       0.023
C(item_nbr)[T.29]         4.309e-15      0.012   3.72e-13      1.000      -0.023       0.023
C(item_nbr)[T.30]        -1.883e-16      0.012  -1.63e-14      1.000      -0.023       0.023
C(item_nbr)[T.31]          3.85e-15      0.012   3.32e-13      1.000      -0.023       0.023
C(item_nbr)[T.32]         2.338e-15      0.012   2.02e-13      1.000      -0.023       0.023
C(item_nbr)[T.33]         6.511e-15      0.012   5.62e-13      1.000      -0.023       0.023
C(item_nbr)[T.34]         3.522e-15      0.012   3.04e-13      1.000      -0.023       0.023
C(item_nbr)[T.35]         1.566e-15      0.012   1.35e-13      1.000      -0.023       0.023
C(item_nbr)[T.36]        -1.186e-15      0.012  -1.02e-13      1.000      -0.023       0.023
C(item_nbr)[T.37]            4.0951      0.012    353.448      0.000       4.072       4.118
C(item_nbr)[T.38]         7.225e-16      0.012   6.24e-14      1.000      -0.023       0.023
C(item_nbr)[T.39]         2.586e-15      0.012   2.23e-13      1.000      -0.023       0.023
C(item_nbr)[T.40]        -3.231e-15      0.012  -2.79e-13      1.000      -0.023       0.023
C(item_nbr)[T.41]        -3.213e-16      0.012  -2.77e-14      1.000      -0.023       0.023
C(item_nbr)[T.42]        -3.367e-16      0.012  -2.91e-14      1.000      -0.023       0.023
C(item_nbr)[T.43]          1.33e-15      0.012   1.15e-13      1.000      -0.023       0.023
C(item_nbr)[T.44]         1.357e-15      0.012   1.17e-13      1.000      -0.023       0.023
C(item_nbr)[T.45]         5.153e-16      0.012   4.45e-14      1.000      -0.023       0.023
C(item_nbr)[T.46]            -8e-16      0.012   -6.9e-14      1.000      -0.023       0.023
C(item_nbr)[T.47]         9.082e-16      0.012   7.84e-14      1.000      -0.023       0.023
C(item_nbr)[T.48]            2.5835      0.012    222.976      0.000       2.561       2.606
C(item_nbr)[T.49]         1.406e-15      0.012   1.21e-13      1.000      -0.023       0.023
C(item_nbr)[T.50]        -4.681e-15      0.012  -4.04e-13      1.000      -0.023       0.023
C(item_nbr)[T.51]           1.6e-15      0.012   1.38e-13      1.000      -0.023       0.023
C(item_nbr)[T.52]        -1.328e-15      0.012  -1.15e-13      1.000      -0.023       0.023
C(item_nbr)[T.53]          1.34e-15      0.012   1.16e-13      1.000      -0.023       0.023
C(item_nbr)[T.54]         4.906e-17      0.012   4.23e-15      1.000      -0.023       0.023
C(item_nbr)[T.55]         2.945e-15      0.012   2.54e-13      1.000      -0.023       0.023
C(item_nbr)[T.56]         2.058e-15      0.012   1.78e-13      1.000      -0.023       0.023
C(item_nbr)[T.57]         1.419e-15      0.012   1.23e-13      1.000      -0.023       0.023
C(item_nbr)[T.58]         2.602e-15      0.012   2.25e-13      1.000      -0.023       0.023
C(item_nbr)[T.59]         2.061e-15      0.012   1.78e-13      1.000      -0.023       0.023
C(item_nbr)[T.60]         7.404e-16      0.012   6.39e-14      1.000      -0.023       0.023
C(item_nbr)[T.61]          4.06e-16      0.012    3.5e-14      1.000      -0.023       0.023
C(item_nbr)[T.62]         3.978e-16      0.012   3.43e-14      1.000      -0.023       0.023
C(item_nbr)[T.63]         1.244e-15      0.012   1.07e-13      1.000      -0.023       0.023
C(item_nbr)[T.64]        -1.658e-15      0.012  -1.43e-13      1.000      -0.023       0.023
C(item_nbr)[T.65]        -5.137e-17      0.012  -4.43e-15      1.000      -0.023       0.023
C(item_nbr)[T.66]         2.392e-15      0.012   2.06e-13      1.000      -0.023       0.023
C(item_nbr)[T.67]         1.202e-15      0.012   1.04e-13      1.000      -0.023       0.023
C(item_nbr)[T.68]         2.826e-16      0.012   2.44e-14      1.000      -0.023       0.023
C(item_nbr)[T.69]         2.071e-15      0.012   1.79e-13      1.000      -0.023       0.023
C(item_nbr)[T.70]        -5.229e-16      0.012  -4.51e-14      1.000      -0.023       0.023
C(item_nbr)[T.71]            0.2591      0.012     22.364      0.000       0.236       0.282
C(item_nbr)[T.72]         1.764e-16      0.012   1.52e-14      1.000      -0.023       0.023
C(item_nbr)[T.73]        -4.042e-16      0.012  -3.49e-14      1.000      -0.023       0.023
C(item_nbr)[T.74]         6.096e-16      0.012   5.26e-14      1.000      -0.023       0.023
C(item_nbr)[T.75]         2.062e-15      0.012   1.78e-13      1.000      -0.023       0.023
C(item_nbr)[T.76]        -6.209e-16      0.012  -5.36e-14      1.000      -0.023       0.023
C(item_nbr)[T.77]         8.664e-16      0.012   7.48e-14      1.000      -0.023       0.023
C(item_nbr)[T.78]         1.623e-15      0.012    1.4e-13      1.000      -0.023       0.023
C(item_nbr)[T.79]         2.344e-15      0.012   2.02e-13      1.000      -0.023       0.023
C(item_nbr)[T.80]         2.464e-16      0.012   2.13e-14      1.000      -0.023       0.023
C(item_nbr)[T.81]         1.041e-15      0.012   8.99e-14      1.000      -0.023       0.023
C(item_nbr)[T.82]         1.044e-15      0.012   9.01e-14      1.000      -0.023       0.023
C(item_nbr)[T.83]         2.321e-15      0.012      2e-13      1.000      -0.023       0.023
C(item_nbr)[T.84]          1.56e-15      0.012   1.35e-13      1.000      -0.023       0.023
C(item_nbr)[T.85]        -9.685e-17      0.012  -8.36e-15      1.000      -0.023       0.023
C(item_nbr)[T.86]         2.188e-15      0.012   1.89e-13      1.000      -0.023       0.023
C(item_nbr)[T.87]          1.03e-15      0.012   8.89e-14      1.000      -0.023       0.023
C(item_nbr)[T.88]         1.159e-15      0.012      1e-13      1.000      -0.023       0.023
C(item_nbr)[T.89]         1.702e-15      0.012   1.47e-13      1.000      -0.023       0.023
C(item_nbr)[T.90]         1.207e-15      0.012   1.04e-13      1.000      -0.023       0.023
C(item_nbr)[T.91]         3.242e-16      0.012    2.8e-14      1.000      -0.023       0.023
C(item_nbr)[T.92]         1.681e-15      0.012   1.45e-13      1.000      -0.023       0.023
C(item_nbr)[T.93]        -4.378e-16      0.012  -3.78e-14      1.000      -0.023       0.023
C(item_nbr)[T.94]         2.656e-15      0.012   2.29e-13      1.000      -0.023       0.023
C(item_nbr)[T.95]         1.301e-15      0.012   1.12e-13      1.000      -0.023       0.023
C(item_nbr)[T.96]           8.7e-16      0.012   7.51e-14      1.000      -0.023       0.023
C(item_nbr)[T.97]         2.707e-15      0.012   2.34e-13      1.000      -0.023       0.023
C(item_nbr)[T.98]         1.535e-15      0.012   1.32e-13      1.000      -0.023       0.023
C(item_nbr)[T.99]         2.162e-15      0.012   1.87e-13      1.000      -0.023       0.023
C(item_nbr)[T.100]        1.683e-15      0.012   1.45e-13      1.000      -0.023       0.023
C(item_nbr)[T.101]        2.025e-15      0.012   1.75e-13      1.000      -0.023       0.023
C(item_nbr)[T.102]        1.027e-15      0.012   8.87e-14      1.000      -0.023       0.023
C(item_nbr)[T.103]        2.187e-15      0.012   1.89e-13      1.000      -0.023       0.023
C(item_nbr)[T.104]        1.658e-15      0.012   1.43e-13      1.000      -0.023       0.023
C(item_nbr)[T.105]        2.107e-15      0.012   1.82e-13      1.000      -0.023       0.023
C(item_nbr)[T.106]        2.298e-15      0.012   1.98e-13      1.000      -0.023       0.023
C(item_nbr)[T.107]        1.666e-15      0.012   1.44e-13      1.000      -0.023       0.023
C(item_nbr)[T.108]        1.647e-15      0.012   1.42e-13      1.000      -0.023       0.023
C(item_nbr)[T.109]        1.432e-15      0.012   1.24e-13      1.000      -0.023       0.023
C(item_nbr)[T.110]        2.089e-15      0.012    1.8e-13      1.000      -0.023       0.023
C(item_nbr)[T.111]        2.602e-15      0.012   2.25e-13      1.000      -0.023       0.023
scale(tmax)                  0.0025      0.014      0.183      0.855      -0.024       0.029
scale(tmin)                  0.0046      0.015      0.316      0.752      -0.024       0.033
scale(tavg)                 -0.0103      0.038     -0.270      0.787      -0.085       0.065
scale(dewpoint)              0.0066      0.012      0.574      0.566      -0.016       0.029
scale(wetbulb)              -0.0021      0.010     -0.209      0.834      -0.022       0.018
scale(heat)                  0.0002      0.006      0.040      0.968      -0.011       0.012
scale(cool)                 -0.0019      0.006     -0.324      0.746      -0.013       0.010
scale(preciptotal)          -0.0014      0.001     -1.609      0.108      -0.003       0.000
scale(stnpressure)          -0.0009      0.005     -0.180      0.857      -0.011       0.009
scale(sealevel)          -6.893e-05      0.006     -0.012      0.990      -0.011       0.011
scale(resultspeed)           0.0005      0.002      0.258      0.796      -0.003       0.004
scale(avgspeed)             -0.0003      0.002     -0.148      0.882      -0.005       0.004
scale(relative_humility)    -0.0028      0.005     -0.570      0.568      -0.013       0.007
scale(windchill)            -0.0039      0.029     -0.135      0.892      -0.060       0.052
==============================================================================
Omnibus:                    43603.578   Durbin-Watson:                   2.016
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         37108633.712
Skew:                          -0.485   Prob(JB):                         0.00
Kurtosis:                      95.433   Cond. No.                         324.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### 2. 변수변환 : df2 (log1p_units) + 아웃라이어 제거

In [17]:
# 아웃라이어 제거
# Cook's distance > 2 인 값 제거
influence = result2.get_influence()
cooks_d2, pvals = influence.cooks_distance
fox_cr = 4 / (len(df2) - 2)
idx_outlier = np.where(cooks_d2 > fox_cr)[0]
len(idx_outlier)

1476

In [18]:
idx = list(set(range(len(df2))).difference(idx_outlier))
df2_1 = df2.iloc[idx, :].reset_index(drop=True)
df2_1

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr,log1p_units
0,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,1,0.000000
1,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,2,0.000000
2,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,3,0.000000
3,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,4,0.000000
4,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,5,0.000000
5,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,6,0.000000
6,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,7,0.000000
7,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,8,0.000000
8,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,9,5.192957
9,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,10,0.000000
10,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,11,0.000000
11,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,12,0.000000
12,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,13,0.000000
13,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,14,0.000000
14,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,15,0.000000
15,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,16,0.000000
16,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,17,0.000000
17,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,18,0.000000
18,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,19,0.000000
19,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,20,0.000000
20,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,21,0.000000
21,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,22,0.000000
22,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,23,0.000000
23,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,24,0.000000
24,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,25,0.000000
25,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,26,0.000000
26,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,27,0.000000
27,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,28,0.000000
28,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,29,0.000000
29,20,2012-01-01,59.0,41.0,50.0,NaN,28.0,40.0,15.0,0.0,...,NaN,6,1,0,0,0,1,17,30,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102723,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,82,0.000000
102724,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,83,0.000000
102725,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,84,0.000000
102726,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,85,0.000000
102727,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,86,0.000000
102728,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,87,0.000000
102729,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,88,0.000000
102730,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,89,0.000000
102731,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,90,0.000000
102732,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,91,0.000000
102733,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,92,0.000000
102734,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,93,0.000000
102735,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,94,0.000000
102736,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,95,0.000000
102737,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,96,0.000000
102738,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,97,0.000000
102739,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,98,0.000000
102740,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,99,0.000000
102741,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,100,0.000000
102742,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,101,0.000000
102743,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,102,0.000000
102744,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,103,0.000000
102745,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,104,0.000000
102746,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,105,0.000000
102747,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,106,0.000000
102748,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,107,0.000000
102749,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,108,0.000000
102750,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,109,0.000000
102751,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,110,0.000000
102752,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,...,NaN,4,0,0,0,0,1,17,111,0.000000

In [20]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                           + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                         + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                 1.260e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:54:40   Log-Likelihood:             1.8396e+05
No. Observations:              102753   AIC:                        -3.676e+05
Df Residuals:                  102613   BIC:                        -3.663e+05
Df Model:                         139
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(year)[2012]             -2.63e-05      0.001     -0.018      0.985      -0.003       0.003
C(year)[2013]            -1.643e-05      0.001     -0.011      0.991      -0.003       0.003
C(year)[2014]               -0.0028      0.001     -1.952      0.051      -0.006    1.11e-05
C(month)[T.2]               -0.0010      0.001     -1.620      0.105      -0.002       0.000
C(month)[T.3]               -0.0002      0.001     -0.410      0.682      -0.001       0.001
C(month)[T.4]                0.0006      0.001      0.815      0.415      -0.001       0.002
C(month)[T.5]                0.0004      0.001      0.564      0.573      -0.001       0.002
C(month)[T.6]                0.0014      0.001      1.658      0.097      -0.000       0.003
C(month)[T.7]                0.0007      0.001      0.740      0.459      -0.001       0.003
C(month)[T.8]                0.0009      0.001      0.937      0.349      -0.001       0.003
C(month)[T.9]                0.0007      0.001      0.821      0.412      -0.001       0.002
C(month)[T.10]            1.073e-05      0.001      0.015      0.988      -0.001       0.001
C(month)[T.11]           -8.676e-05      0.001     -0.127      0.899      -0.001       0.001
C(month)[T.12]              -0.0008      0.001     -1.077      0.282      -0.002       0.001
C(weekend)[T.1]              0.0018      0.000      6.316      0.000       0.001       0.002
C(rainY)[T.1]                0.0002      0.000      0.584      0.560      -0.000       0.001
C(item_nbr)[T.2]         -2.931e-15      0.002  -1.57e-12      1.000      -0.004       0.004
C(item_nbr)[T.3]         -2.865e-15      0.002  -1.54e-12      1.000      -0.004       0.004
C(item_nbr)[T.4]         -1.771e-15      0.002   -9.5e-13      1.000      -0.004       0.004
C(item_nbr)[T.5]         -2.228e-15      0.002  -1.19e-12      1.000      -0.004       0.004
C(item_nbr)[T.6]         -3.187e-15      0.002  -1.71e-12      1.000      -0.004       0.004
C(item_nbr)[T.7]         -5.461e-15      0.002  -2.93e-12      1.000      -0.004       0.004
C(item_nbr)[T.8]         -3.343e-15      0.002  -1.79e-12      1.000      -0.004       0.004
C(item_nbr)[T.9]             4.8737      0.002   2375.071      0.000       4.870       4.878
C(item_nbr)[T.10]         -2.98e-15      0.002   -1.6e-12      1.000      -0.004       0.004
C(item_nbr)[T.11]        -1.386e-15      0.002  -7.43e-13      1.000      -0.004       0.004
C(item_nbr)[T.12]        -2.705e-15      0.002  -1.45e-12      1.000      -0.004       0.004
C(item_nbr)[T.13]        -3.218e-15      0.002  -1.73e-12      1.000      -0.004       0.004
C(item_nbr)[T.14]        -3.677e-15      0.002  -1.97e-12      1.000      -0.004       0.004
C(item_nbr)[T.15]         -5.66e-15      0.002  -3.03e-12      1.000      -0.004       0.004
C(item_nbr)[T.16]         1.082e-15      0.002    5.8e-13      1.000      -0.004       0.004
C(item_nbr)[T.17]        -3.052e-15      0.002  -1.64e-12      1.000      -0.004       0.004
C(item_nbr)[T.18]        -2.874e-15      0.002  -1.54e-12      1.000      -0.004       0.004
C(item_nbr)[T.19]        -4.243e-15      0.002  -2.28e-12      1.000      -0.004       0.004
C(item_nbr)[T.20]        -1.851e-15      0.002  -9.93e-13      1.000      -0.004       0.004
C(item_nbr)[T.21]        -2.846e-15      0.002  -1.53e-12      1.000      -0.004       0.004
C(item_nbr)[T.22]        -2.155e-15      0.002  -1.16e-12      1.000      -0.004       0.004
C(item_nbr)[T.23]        -2.666e-15      0.002  -1.43e-12      1.000      -0.004       0.004
C(item_nbr)[T.24]        -3.405e-15      0.002  -1.83e-12      1.000      -0.004       0.004
C(item_nbr)[T.25]          -2.9e-15      0.002  -1.55e-12      1.000      -0.004       0.004
C(item_nbr)[T.26]        -3.183e-15      0.002  -1.71e-12      1.000      -0.004       0.004
C(item_nbr)[T.27]        -3.034e-15      0.002  -1.63e-12      1.000      -0.004       0.004
C(item_nbr)[T.28]        -2.719e-15      0.002  -1.46e-12      1.000      -0.004       0.004
C(item_nbr)[T.29]        -3.098e-15      0.002  -1.66e-12      1.000      -0.004       0.004
C(item_nbr)[T.30]        -2.657e-15      0.002  -1.42e-12      1.000      -0.004       0.004
C(item_nbr)[T.31]        -2.429e-15      0.002   -1.3e-12      1.000      -0.004       0.004
C(item_nbr)[T.32]        -2.926e-15      0.002  -1.57e-12      1.000      -0.004       0.004
C(item_nbr)[T.33]        -2.659e-15      0.002  -1.43e-12      1.000      -0.004       0.004
C(item_nbr)[T.34]        -3.105e-15      0.002  -1.66e-12      1.000      -0.004       0.004
C(item_nbr)[T.35]        -3.144e-15      0.002  -1.69e-12      1.000      -0.004       0.004
C(item_nbr)[T.36]        -2.786e-15      0.002  -1.49e-12      1.000      -0.004       0.004
C(item_nbr)[T.37]            4.1052      0.002   2103.975      0.000       4.101       4.109
C(item_nbr)[T.38]        -2.532e-15      0.002  -1.36e-12      1.000      -0.004       0.004
C(item_nbr)[T.39]        -2.828e-15      0.002  -1.52e-12      1.000      -0.004       0.004
C(item_nbr)[T.40]        -2.955e-15      0.002  -1.58e-12      1.000      -0.004       0.004
C(item_nbr)[T.41]        -2.987e-15      0.002   -1.6e-12      1.000      -0.004       0.004
C(item_nbr)[T.42]        -2.811e-15      0.002  -1.51e-12      1.000      -0.004       0.004
C(item_nbr)[T.43]        -2.527e-15      0.002  -1.35e-12      1.000      -0.004       0.004
C(item_nbr)[T.44]         -2.72e-15      0.002  -1.46e-12      1.000      -0.004       0.004
C(item_nbr)[T.45]        -2.819e-15      0.002  -1.51e-12      1.000      -0.004       0.004
C(item_nbr)[T.46]        -2.567e-15      0.002  -1.38e-12      1.000      -0.004       0.004
C(item_nbr)[T.47]        -2.508e-15      0.002  -1.34e-12      1.000      -0.004       0.004
C(item_nbr)[T.48]            2.5650      0.040     63.427      0.000       2.486       2.644
C(item_nbr)[T.49]        -2.489e-15      0.002  -1.33e-12      1.000      -0.004       0.004
C(item_nbr)[T.50]        -2.702e-15      0.002  -1.45e-12      1.000      -0.004       0.004
C(item_nbr)[T.51]        -2.841e-15      0.002  -1.52e-12      1.000      -0.004       0.004
C(item_nbr)[T.52]        -2.722e-15      0.002  -1.46e-12      1.000      -0.004       0.004
C(item_nbr)[T.53]        -2.328e-15      0.002  -1.25e-12      1.000      -0.004       0.004
C(item_nbr)[T.54]        -2.772e-15      0.002  -1.49e-12      1.000      -0.004       0.004
C(item_nbr)[T.55]        -2.701e-15      0.002  -1.45e-12      1.000      -0.004       0.004
C(item_nbr)[T.56]        -2.655e-15      0.002  -1.42e-12      1.000      -0.004       0.004
C(item_nbr)[T.57]        -2.572e-15      0.002  -1.38e-12      1.000      -0.004       0.004
C(item_nbr)[T.58]        -2.676e-15      0.002  -1.43e-12      1.000      -0.004       0.004
C(item_nbr)[T.59]        -2.887e-15      0.002  -1.55e-12      1.000      -0.004       0.004
C(item_nbr)[T.60]        -2.769e-15      0.002  -1.48e-12      1.000      -0.004       0.004
C(item_nbr)[T.61]        -2.593e-15      0.002  -1.39e-12      1.000      -0.004       0.004
C(item_nbr)[T.62]        -2.545e-15      0.002  -1.36e-12      1.000      -0.004       0.004
C(item_nbr)[T.63]         -2.82e-15      0.002  -1.51e-12      1.000      -0.004       0.004
C(item_nbr)[T.64]        -2.728e-15      0.002  -1.46e-12      1.000      -0.004       0.004
C(item_nbr)[T.65]        -2.617e-15      0.002   -1.4e-12      1.000      -0.004       0.004
C(item_nbr)[T.66]        -2.863e-15      0.002  -1.53e-12      1.000      -0.004       0.004
C(item_nbr)[T.67]        -2.876e-15      0.002  -1.54e-12      1.000      -0.004       0.004
C(item_nbr)[T.68]        -2.638e-15      0.002  -1.41e-12      1.000      -0.004       0.004
C(item_nbr)[T.69]        -2.628e-15      0.002  -1.41e-12      1.000      -0.004       0.004
C(item_nbr)[T.70]        -2.596e-15      0.002  -1.39e-12      1.000      -0.004       0.004
C(item_nbr)[T.71]            0.1315      0.002     68.267      0.000       0.128       0.135
C(item_nbr)[T.72]        -2.958e-15      0.002  -1.59e-12      1.000      -0.004       0.004
C(item_nbr)[T.73]        -2.644e-15      0.002  -1.42e-12      1.000      -0.004       0.004
C(item_nbr)[T.74]        -2.721e-15      0.002  -1.46e-12      1.000      -0.004       0.004
C(item_nbr)[T.75]        -2.884e-15      0.002  -1.55e-12      1.000      -0.004       0.004
C(item_nbr)[T.76]        -2.756e-15      0.002  -1.48e-12      1.000      -0.004       0.004
C(item_nbr)[T.77]        -2.554e-15      0.002  -1.37e-12      1.000      -0.004       0.004
C(item_nbr)[T.78]        -2.711e-15      0.002  -1.45e-12      1.000      -0.004       0.004
C(item_nbr)[T.79]        -2.803e-15      0.002   -1.5e-12      1.000      -0.004       0.004
C(item_nbr)[T.80]        -2.806e-15      0.002   -1.5e-12      1.000      -0.004       0.004
C(item_nbr)[T.81]        -2.739e-15      0.002  -1.47e-12      1.000      -0.004       0.004
C(item_nbr)[T.82]        -2.837e-15      0.002  -1.52e-12      1.000      -0.004       0.004
C(item_nbr)[T.83]        -2.955e-15      0.002  -1.58e-12      1.000      -0.004       0.004
C(item_nbr)[T.84]         -2.71e-15      0.002  -1.45e-12      1.000      -0.004       0.004
C(item_nbr)[T.85]        -2.727e-15      0.002  -1.46e-12      1.000      -0.004       0.004
C(item_nbr)[T.86]        -2.789e-15      0.002   -1.5e-12      1.000      -0.004       0.004
C(item_nbr)[T.87]        -2.662e-15      0.002  -1.43e-12      1.000      -0.004       0.004
C(item_nbr)[T.88]        -2.574e-15      0.002  -1.38e-12      1.000      -0.004       0.004
C(item_nbr)[T.89]        -3.039e-15      0.002  -1.63e-12      1.000      -0.004       0.004
C(item_nbr)[T.90]        -2.741e-15      0.002  -1.47e-12      1.000      -0.004       0.004
C(item_nbr)[T.91]        -2.656e-15      0.002  -1.42e-12      1.000      -0.004       0.004
C(item_nbr)[T.92]         -2.85e-15      0.002  -1.53e-12      1.000      -0.004       0.004
C(item_nbr)[T.93]        -2.682e-15      0.002  -1.44e-12      1.000      -0.004       0.004
C(item_nbr)[T.94]        -2.688e-15      0.002  -1.44e-12      1.000      -0.004       0.004
C(item_nbr)[T.95]        -2.685e-15      0.002  -1.44e-12      1.000      -0.004       0.004
C(item_nbr)[T.96]        -2.662e-15      0.002  -1.43e-12      1.000      -0.004       0.004
C(item_nbr)[T.97]         -2.93e-15      0.002  -1.57e-12      1.000      -0.004       0.004
C(item_nbr)[T.98]        -2.733e-15      0.002  -1.47e-12      1.000      -0.004       0.004
C(item_nbr)[T.99]         -2.82e-15      0.002  -1.51e-12      1.000      -0.004       0.004
C(item_nbr)[T.100]       -2.638e-15      0.002  -1.41e-12      1.000      -0.004       0.004
C(item_nbr)[T.101]       -2.795e-15      0.002   -1.5e-12      1.000      -0.004       0.004
C(item_nbr)[T.102]       -2.582e-15      0.002  -1.38e-12      1.000      -0.004       0.004
C(item_nbr)[T.103]       -2.649e-15      0.002  -1.42e-12      1.000      -0.004       0.004
C(item_nbr)[T.104]       -2.712e-15      0.002  -1.45e-12      1.000      -0.004       0.004
C(item_nbr)[T.105]       -2.829e-15      0.002  -1.52e-12      1.000      -0.004       0.004
C(item_nbr)[T.106]       -2.694e-15      0.002  -1.44e-12      1.000      -0.004       0.004
C(item_nbr)[T.107]       -2.619e-15      0.002   -1.4e-12      1.000      -0.004       0.004
C(item_nbr)[T.108]       -2.586e-15      0.002  -1.39e-12      1.000      -0.004       0.004
C(item_nbr)[T.109]       -2.731e-15      0.002  -1.46e-12      1.000      -0.004       0.004
C(item_nbr)[T.110]       -2.805e-15      0.002   -1.5e-12      1.000      -0.004       0.004
C(item_nbr)[T.111]       -2.841e-15      0.002  -1.52e-12      1.000      -0.004       0.004
scale(tmax)                  0.0010      0.002      0.430      0.667      -0.003       0.005
scale(tmin)                  0.0020      0.002      0.853      0.394      -0.003       0.007
scale(tavg)                  0.0017      0.006      0.281      0.779      -0.010       0.014
scale(dewpoint)              0.0020      0.002      1.080      0.280      -0.002       0.006
scale(wetbulb)              -0.0024      0.002     -1.493      0.135      -0.006       0.001
scale(heat)                  0.0002      0.001      0.253      0.800      -0.002       0.002
scale(cool)                 -0.0002      0.001     -0.177      0.859      -0.002       0.002
scale(preciptotal)          -0.0002      0.000     -1.685      0.092      -0.001    3.86e-05
scale(stnpressure)          -0.0004      0.001     -0.444      0.657      -0.002       0.001
scale(sealevel)              0.0001      0.001      0.139      0.890      -0.002       0.002
scale(resultspeed)           0.0002      0.000      0.633      0.527      -0.000       0.001
scale(avgspeed)             -0.0005      0.000     -1.425      0.154      -0.001       0.000
scale(relative_humility)    -0.0005      0.001     -0.580      0.562      -0.002       0.001
scale(windchill)            -0.0051      0.005     -1.106      0.269      -0.014       0.004
==============================================================================
Omnibus:                    94615.023   Durbin-Watson:                   2.004
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         53190019.676
Skew:                           3.527   Prob(JB):                         0.00
Kurtosis:                     114.238   Cond. No.                         924.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [21]:
ls1

['depart', 'sunrise', 'sunset', 'resultdir', 'daytime']

### 3. VIF 확인

In [22]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# all_cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
#         'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
#         'windchill', 'depart', 'sunrise', 'sunset', 'snowfall' ]
cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
        'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
        'windchill', 'snowfall' ]

y = df2_1.loc[:,cols]
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(y.values, i) for i in range(y.shape[1])]
vif["features"] = y.columns
vif = vif.sort_values("VIF Factor", ascending=False).reset_index(drop=True)
vif

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1388: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.uncentered_tss

      VIF Factor           features
0   1.372775e+06        stnpressure
1   1.361055e+06           sealevel
2   4.132105e+04               tavg
3   1.601300e+04          windchill
4   7.085491e+03               tmax
5   4.535177e+03               tmin
6   2.910882e+03            wetbulb
7   2.315213e+03           dewpoint
8   6.249503e+02  relative_humility
9   1.004539e+02               cool
10  6.890396e+01               heat
11  5.791826e+01           avgspeed
12  2.462486e+01        resultspeed
13  1.219780e+00        preciptotal
14           NaN           snowfall

### 4. VIF 근거, 빼고 다시 Model 돌림.

In [24]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(heat)\
                         + scale(preciptotal) + scale(resultspeed)  \
                            + scale(avgspeed) + C(year) + C(month) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                 1.358e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:55:40   Log-Likelihood:             1.8395e+05
No. Observations:              102753   AIC:                        -3.676e+05
Df Residuals:                  102623   BIC:                        -3.664e+05
Df Model:                         129
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(year)[2012]          0.0005      0.001      0.335      0.738      -0.002       0.003
C(year)[2013]          0.0005      0.001      0.364      0.716      -0.002       0.003
C(year)[2014]         -0.0023      0.001     -1.627      0.104      -0.005       0.000
C(month)[T.2]         -0.0008      0.001     -1.336      0.182      -0.002       0.000
C(month)[T.3]         -0.0003      0.001     -0.517      0.605      -0.001       0.001
C(month)[T.4]          0.0003      0.001      0.396      0.692      -0.001       0.002
C(month)[T.5]         -0.0003      0.001     -0.450      0.653      -0.002       0.001
C(month)[T.6]          0.0003      0.001      0.466      0.641      -0.001       0.002
C(month)[T.7]         -0.0006      0.001     -0.827      0.408      -0.002       0.001
C(month)[T.8]         -0.0004      0.001     -0.538      0.591      -0.002       0.001
C(month)[T.9]         -0.0003      0.001     -0.429      0.668      -0.002       0.001
C(month)[T.10]        -0.0004      0.001     -0.616      0.538      -0.002       0.001
C(month)[T.11]        -0.0003      0.001     -0.507      0.612      -0.002       0.001
C(month)[T.12]        -0.0010      0.001     -1.479      0.139      -0.002       0.000
C(weekend)[T.1]        0.0018      0.000      6.344      0.000       0.001       0.002
C(rainY)[T.1]          0.0003      0.000      1.110      0.267      -0.000       0.001
C(item_nbr)[T.2]    3.017e-15      0.002   1.62e-12      1.000      -0.004       0.004
C(item_nbr)[T.3]      1.6e-15      0.002   8.58e-13      1.000      -0.004       0.004
C(item_nbr)[T.4]   -9.405e-16      0.002  -5.04e-13      1.000      -0.004       0.004
C(item_nbr)[T.5]   -8.132e-16      0.002  -4.36e-13      1.000      -0.004       0.004
C(item_nbr)[T.6]    4.282e-15      0.002    2.3e-12      1.000      -0.004       0.004
C(item_nbr)[T.7]    8.291e-16      0.002   4.44e-13      1.000      -0.004       0.004
C(item_nbr)[T.8]    2.573e-15      0.002   1.38e-12      1.000      -0.004       0.004
C(item_nbr)[T.9]       4.8737      0.002   2375.097      0.000       4.870       4.878
C(item_nbr)[T.10]   5.812e-16      0.002   3.12e-13      1.000      -0.004       0.004
C(item_nbr)[T.11]   2.182e-16      0.002   1.17e-13      1.000      -0.004       0.004
C(item_nbr)[T.12]   9.147e-16      0.002    4.9e-13      1.000      -0.004       0.004
C(item_nbr)[T.13]   1.402e-15      0.002   7.52e-13      1.000      -0.004       0.004
C(item_nbr)[T.14]     5.5e-16      0.002   2.95e-13      1.000      -0.004       0.004
C(item_nbr)[T.15]   5.516e-16      0.002   2.96e-13      1.000      -0.004       0.004
C(item_nbr)[T.16]   4.492e-16      0.002   2.41e-13      1.000      -0.004       0.004
C(item_nbr)[T.17]   4.572e-16      0.002   2.45e-13      1.000      -0.004       0.004
C(item_nbr)[T.18]   2.295e-17      0.002   1.23e-14      1.000      -0.004       0.004
C(item_nbr)[T.19]  -1.285e-17      0.002  -6.89e-15      1.000      -0.004       0.004
C(item_nbr)[T.20]   7.929e-16      0.002   4.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.21]   8.948e-16      0.002    4.8e-13      1.000      -0.004       0.004
C(item_nbr)[T.22]   7.871e-16      0.002   4.22e-13      1.000      -0.004       0.004
C(item_nbr)[T.23]   1.066e-15      0.002   5.71e-13      1.000      -0.004       0.004
C(item_nbr)[T.24]   1.463e-16      0.002   7.85e-14      1.000      -0.004       0.004
C(item_nbr)[T.25]   2.188e-16      0.002   1.17e-13      1.000      -0.004       0.004
C(item_nbr)[T.26]   6.858e-16      0.002   3.68e-13      1.000      -0.004       0.004
C(item_nbr)[T.27]    4.49e-16      0.002   2.41e-13      1.000      -0.004       0.004
C(item_nbr)[T.28]   5.663e-16      0.002   3.04e-13      1.000      -0.004       0.004
C(item_nbr)[T.29]   1.084e-15      0.002   5.81e-13      1.000      -0.004       0.004
C(item_nbr)[T.30]   1.365e-17      0.002   7.32e-15      1.000      -0.004       0.004
C(item_nbr)[T.31]   6.151e-16      0.002    3.3e-13      1.000      -0.004       0.004
C(item_nbr)[T.32]   9.548e-16      0.002   5.12e-13      1.000      -0.004       0.004
C(item_nbr)[T.33]   4.403e-16      0.002   2.36e-13      1.000      -0.004       0.004
C(item_nbr)[T.34]   5.338e-16      0.002   2.86e-13      1.000      -0.004       0.004
C(item_nbr)[T.35]   5.275e-16      0.002   2.83e-13      1.000      -0.004       0.004
C(item_nbr)[T.36]   9.323e-16      0.002      5e-13      1.000      -0.004       0.004
C(item_nbr)[T.37]      4.1052      0.002   2103.982      0.000       4.101       4.109
C(item_nbr)[T.38]   6.018e-16      0.002   3.23e-13      1.000      -0.004       0.004
C(item_nbr)[T.39]   5.698e-16      0.002   3.05e-13      1.000      -0.004       0.004
C(item_nbr)[T.40]   5.557e-16      0.002   2.98e-13      1.000      -0.004       0.004
C(item_nbr)[T.41]   5.202e-16      0.002   2.79e-13      1.000      -0.004       0.004
C(item_nbr)[T.42]   1.001e-15      0.002   5.37e-13      1.000      -0.004       0.004
C(item_nbr)[T.43]   2.957e-16      0.002   1.59e-13      1.000      -0.004       0.004
C(item_nbr)[T.44]   3.981e-16      0.002   2.13e-13      1.000      -0.004       0.004
C(item_nbr)[T.45]   7.091e-16      0.002    3.8e-13      1.000      -0.004       0.004
C(item_nbr)[T.46]    6.71e-16      0.002    3.6e-13      1.000      -0.004       0.004
C(item_nbr)[T.47]   4.966e-16      0.002   2.66e-13      1.000      -0.004       0.004
C(item_nbr)[T.48]      2.5652      0.040     63.433      0.000       2.486       2.644
C(item_nbr)[T.49]   3.664e-16      0.002   1.96e-13      1.000      -0.004       0.004
C(item_nbr)[T.50]   4.985e-16      0.002   2.67e-13      1.000      -0.004       0.004
C(item_nbr)[T.51]    8.57e-17      0.002   4.59e-14      1.000      -0.004       0.004
C(item_nbr)[T.52]   7.592e-16      0.002   4.07e-13      1.000      -0.004       0.004
C(item_nbr)[T.53]   7.595e-16      0.002   4.07e-13      1.000      -0.004       0.004
C(item_nbr)[T.54]   3.453e-16      0.002   1.85e-13      1.000      -0.004       0.004
C(item_nbr)[T.55]   5.978e-16      0.002    3.2e-13      1.000      -0.004       0.004
C(item_nbr)[T.56]   2.727e-16      0.002   1.46e-13      1.000      -0.004       0.004
C(item_nbr)[T.57]    5.14e-16      0.002   2.76e-13      1.000      -0.004       0.004
C(item_nbr)[T.58]   7.067e-16      0.002   3.79e-13      1.000      -0.004       0.004
C(item_nbr)[T.59]   4.594e-16      0.002   2.46e-13      1.000      -0.004       0.004
C(item_nbr)[T.60]   4.127e-16      0.002   2.21e-13      1.000      -0.004       0.004
C(item_nbr)[T.61]   4.508e-16      0.002   2.42e-13      1.000      -0.004       0.004
C(item_nbr)[T.62]   5.571e-16      0.002   2.99e-13      1.000      -0.004       0.004
C(item_nbr)[T.63]   6.284e-16      0.002   3.37e-13      1.000      -0.004       0.004
C(item_nbr)[T.64]    6.61e-16      0.002   3.54e-13      1.000      -0.004       0.004
C(item_nbr)[T.65]   5.463e-16      0.002   2.93e-13      1.000      -0.004       0.004
C(item_nbr)[T.66]    5.21e-16      0.002   2.79e-13      1.000      -0.004       0.004
C(item_nbr)[T.67]   5.811e-16      0.002   3.12e-13      1.000      -0.004       0.004
C(item_nbr)[T.68]   6.408e-16      0.002   3.44e-13      1.000      -0.004       0.004
C(item_nbr)[T.69]   5.076e-16      0.002   2.72e-13      1.000      -0.004       0.004
C(item_nbr)[T.70]   3.381e-16      0.002   1.81e-13      1.000      -0.004       0.004
C(item_nbr)[T.71]      0.1315      0.002     68.270      0.000       0.128       0.135
C(item_nbr)[T.72]   4.534e-16      0.002   2.43e-13      1.000      -0.004       0.004
C(item_nbr)[T.73]   3.604e-16      0.002   1.93e-13      1.000      -0.004       0.004
C(item_nbr)[T.74]   7.645e-16      0.002    4.1e-13      1.000      -0.004       0.004
C(item_nbr)[T.75]   4.594e-16      0.002   2.46e-13      1.000      -0.004       0.004
C(item_nbr)[T.76]   4.513e-16      0.002   2.42e-13      1.000      -0.004       0.004
C(item_nbr)[T.77]   7.099e-16      0.002   3.81e-13      1.000      -0.004       0.004
C(item_nbr)[T.78]   4.052e-16      0.002   2.17e-13      1.000      -0.004       0.004
C(item_nbr)[T.79]   4.999e-16      0.002   2.68e-13      1.000      -0.004       0.004
C(item_nbr)[T.80]   4.243e-16      0.002   2.27e-13      1.000      -0.004       0.004
C(item_nbr)[T.81]    4.56e-16      0.002   2.44e-13      1.000      -0.004       0.004
C(item_nbr)[T.82]    6.06e-16      0.002   3.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.83]   4.371e-16      0.002   2.34e-13      1.000      -0.004       0.004
C(item_nbr)[T.84]    7.65e-16      0.002    4.1e-13      1.000      -0.004       0.004
C(item_nbr)[T.85]   2.018e-16      0.002   1.08e-13      1.000      -0.004       0.004
C(item_nbr)[T.86]   4.723e-16      0.002   2.53e-13      1.000      -0.004       0.004
C(item_nbr)[T.87]   4.483e-16      0.002    2.4e-13      1.000      -0.004       0.004
C(item_nbr)[T.88]   7.185e-16      0.002   3.85e-13      1.000      -0.004       0.004
C(item_nbr)[T.89]   6.219e-16      0.002   3.33e-13      1.000      -0.004       0.004
C(item_nbr)[T.90]    1.23e-16      0.002    6.6e-14      1.000      -0.004       0.004
C(item_nbr)[T.91]   4.336e-16      0.002   2.32e-13      1.000      -0.004       0.004
C(item_nbr)[T.92]   6.713e-16      0.002    3.6e-13      1.000      -0.004       0.004
C(item_nbr)[T.93]   4.293e-16      0.002    2.3e-13      1.000      -0.004       0.004
C(item_nbr)[T.94]   4.498e-16      0.002   2.41e-13      1.000      -0.004       0.004
C(item_nbr)[T.95]    3.34e-16      0.002   1.79e-13      1.000      -0.004       0.004
C(item_nbr)[T.96]    5.83e-16      0.002   3.13e-13      1.000      -0.004       0.004
C(item_nbr)[T.97]   4.867e-16      0.002   2.61e-13      1.000      -0.004       0.004
C(item_nbr)[T.98]   1.467e-16      0.002   7.86e-14      1.000      -0.004       0.004
C(item_nbr)[T.99]   6.942e-16      0.002   3.72e-13      1.000      -0.004       0.004
C(item_nbr)[T.100]  3.517e-16      0.002   1.89e-13      1.000      -0.004       0.004
C(item_nbr)[T.101]  1.012e-15      0.002   5.43e-13      1.000      -0.004       0.004
C(item_nbr)[T.102]  6.804e-16      0.002   3.65e-13      1.000      -0.004       0.004
C(item_nbr)[T.103]   9.13e-16      0.002   4.89e-13      1.000      -0.004       0.004
C(item_nbr)[T.104]  4.629e-17      0.002   2.48e-14      1.000      -0.004       0.004
C(item_nbr)[T.105]  1.092e-16      0.002   5.86e-14      1.000      -0.004       0.004
C(item_nbr)[T.106]  1.265e-15      0.002   6.78e-13      1.000      -0.004       0.004
C(item_nbr)[T.107]  1.172e-15      0.002   6.28e-13      1.000      -0.004       0.004
C(item_nbr)[T.108]  1.108e-17      0.002   5.94e-15      1.000      -0.004       0.004
C(item_nbr)[T.109] -4.025e-16      0.002  -2.16e-13      1.000      -0.004       0.004
C(item_nbr)[T.110]   2.09e-15      0.002   1.12e-12      1.000      -0.004       0.004
C(item_nbr)[T.111] -2.105e-16      0.002  -1.13e-13      1.000      -0.004       0.004
scale(heat)            0.0007      0.000      3.820      0.000       0.000       0.001
scale(preciptotal)    -0.0002      0.000     -1.531      0.126      -0.000    5.84e-05
scale(resultspeed)     0.0003      0.000      0.984      0.325      -0.000       0.001
scale(avgspeed)       -0.0004      0.000     -1.259      0.208      -0.001       0.000
==============================================================================
Omnibus:                    94624.976   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         53214062.683
Skew:                           3.528   Prob(JB):                         0.00
Kurtosis:                     114.263   Cond. No.                         447.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### 5. VIF 재확인

In [25]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# all_cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
#         'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
#         'windchill', 'depart', 'sunrise', 'sunset', 'snowfall' ]
cols = ['heat', 'preciptotal', 'resultspeed', 'avgspeed']

y = df2_1.loc[:,cols]
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(y.values, i) for i in range(y.shape[1])]
vif["features"] = y.columns
vif = vif.sort_values("VIF Factor", ascending=False).reset_index(drop=True)
vif

   VIF Factor     features
0   19.951704     avgspeed
1   19.199488  resultspeed
2    1.383557         heat
3    1.066671  preciptotal

### 6. VIF 근거로 변수 제외하고  Model 돌림.

In [26]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(heat)\
                            + scale(preciptotal) + C(year) + C(month) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                 1.379e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:56:06   Log-Likelihood:             1.8395e+05
No. Observations:              102753   AIC:                        -3.676e+05
Df Residuals:                  102625   BIC:                        -3.664e+05
Df Model:                         127
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(year)[2012]          0.0004      0.001      0.301      0.764      -0.002       0.003
C(year)[2013]          0.0005      0.001      0.323      0.746      -0.002       0.003
C(year)[2014]         -0.0024      0.001     -1.681      0.093      -0.005       0.000
C(month)[T.2]         -0.0008      0.001     -1.410      0.159      -0.002       0.000
C(month)[T.3]         -0.0003      0.001     -0.512      0.609      -0.001       0.001
C(month)[T.4]          0.0003      0.001      0.464      0.642      -0.001       0.002
C(month)[T.5]         -0.0002      0.001     -0.328      0.743      -0.002       0.001
C(month)[T.6]          0.0004      0.001      0.600      0.548      -0.001       0.002
C(month)[T.7]         -0.0004      0.001     -0.658      0.511      -0.002       0.001
C(month)[T.8]         -0.0002      0.001     -0.356      0.722      -0.002       0.001
C(month)[T.9]         -0.0001      0.001     -0.203      0.839      -0.001       0.001
C(month)[T.10]        -0.0003      0.001     -0.496      0.620      -0.002       0.001
C(month)[T.11]        -0.0002      0.001     -0.371      0.711      -0.002       0.001
C(month)[T.12]        -0.0010      0.001     -1.443      0.149      -0.002       0.000
C(weekend)[T.1]        0.0018      0.000      6.424      0.000       0.001       0.002
C(rainY)[T.1]          0.0003      0.000      1.005      0.315      -0.000       0.001
C(item_nbr)[T.2]   -1.505e-15      0.002  -8.07e-13      1.000      -0.004       0.004
C(item_nbr)[T.3]    -3.96e-15      0.002  -2.12e-12      1.000      -0.004       0.004
C(item_nbr)[T.4]   -7.602e-16      0.002  -4.08e-13      1.000      -0.004       0.004
C(item_nbr)[T.5]    1.002e-16      0.002   5.37e-14      1.000      -0.004       0.004
C(item_nbr)[T.6]   -1.518e-15      0.002  -8.14e-13      1.000      -0.004       0.004
C(item_nbr)[T.7]    4.323e-16      0.002   2.32e-13      1.000      -0.004       0.004
C(item_nbr)[T.8]   -7.721e-16      0.002  -4.14e-13      1.000      -0.004       0.004
C(item_nbr)[T.9]       4.8737      0.002   2375.115      0.000       4.870       4.878
C(item_nbr)[T.10]  -1.724e-15      0.002  -9.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.11]  -1.434e-15      0.002  -7.69e-13      1.000      -0.004       0.004
C(item_nbr)[T.12]  -1.542e-15      0.002  -8.27e-13      1.000      -0.004       0.004
C(item_nbr)[T.13]   -1.07e-15      0.002  -5.73e-13      1.000      -0.004       0.004
C(item_nbr)[T.14]  -1.212e-15      0.002   -6.5e-13      1.000      -0.004       0.004
C(item_nbr)[T.15]   -1.54e-15      0.002  -8.26e-13      1.000      -0.004       0.004
C(item_nbr)[T.16]  -1.167e-15      0.002  -6.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.17]  -9.912e-16      0.002  -5.31e-13      1.000      -0.004       0.004
C(item_nbr)[T.18]  -1.015e-15      0.002  -5.44e-13      1.000      -0.004       0.004
C(item_nbr)[T.19]  -1.443e-15      0.002  -7.74e-13      1.000      -0.004       0.004
C(item_nbr)[T.20]  -1.299e-15      0.002  -6.97e-13      1.000      -0.004       0.004
C(item_nbr)[T.21]  -1.003e-15      0.002  -5.38e-13      1.000      -0.004       0.004
C(item_nbr)[T.22]   -9.82e-16      0.002  -5.26e-13      1.000      -0.004       0.004
C(item_nbr)[T.23]  -1.352e-15      0.002  -7.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.24]  -1.799e-15      0.002  -9.65e-13      1.000      -0.004       0.004
C(item_nbr)[T.25]  -1.471e-15      0.002  -7.89e-13      1.000      -0.004       0.004
C(item_nbr)[T.26]  -1.252e-15      0.002  -6.71e-13      1.000      -0.004       0.004
C(item_nbr)[T.27]  -9.289e-16      0.002  -4.98e-13      1.000      -0.004       0.004
C(item_nbr)[T.28]  -8.504e-16      0.002  -4.56e-13      1.000      -0.004       0.004
C(item_nbr)[T.29]  -1.256e-15      0.002  -6.74e-13      1.000      -0.004       0.004
C(item_nbr)[T.30]  -1.058e-15      0.002  -5.67e-13      1.000      -0.004       0.004
C(item_nbr)[T.31]  -1.151e-15      0.002  -6.17e-13      1.000      -0.004       0.004
C(item_nbr)[T.32]  -6.055e-16      0.002  -3.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.33]  -1.043e-15      0.002  -5.59e-13      1.000      -0.004       0.004
C(item_nbr)[T.34]  -9.509e-16      0.002   -5.1e-13      1.000      -0.004       0.004
C(item_nbr)[T.35]  -7.859e-16      0.002  -4.21e-13      1.000      -0.004       0.004
C(item_nbr)[T.36]  -4.154e-16      0.002  -2.23e-13      1.000      -0.004       0.004
C(item_nbr)[T.37]      4.1052      0.002   2103.985      0.000       4.101       4.109
C(item_nbr)[T.38]  -9.056e-16      0.002  -4.86e-13      1.000      -0.004       0.004
C(item_nbr)[T.39]  -1.315e-15      0.002  -7.05e-13      1.000      -0.004       0.004
C(item_nbr)[T.40]  -1.207e-15      0.002  -6.47e-13      1.000      -0.004       0.004
C(item_nbr)[T.41]  -1.122e-15      0.002  -6.02e-13      1.000      -0.004       0.004
C(item_nbr)[T.42]  -6.891e-16      0.002  -3.69e-13      1.000      -0.004       0.004
C(item_nbr)[T.43]  -1.175e-15      0.002   -6.3e-13      1.000      -0.004       0.004
C(item_nbr)[T.44]  -1.253e-15      0.002  -6.72e-13      1.000      -0.004       0.004
C(item_nbr)[T.45]  -1.156e-15      0.002   -6.2e-13      1.000      -0.004       0.004
C(item_nbr)[T.46]  -1.007e-15      0.002   -5.4e-13      1.000      -0.004       0.004
C(item_nbr)[T.47]  -1.159e-15      0.002  -6.21e-13      1.000      -0.004       0.004
C(item_nbr)[T.48]      2.5653      0.040     63.435      0.000       2.486       2.645
C(item_nbr)[T.49]  -1.196e-15      0.002  -6.41e-13      1.000      -0.004       0.004
C(item_nbr)[T.50]  -8.554e-16      0.002  -4.59e-13      1.000      -0.004       0.004
C(item_nbr)[T.51]  -6.028e-16      0.002  -3.23e-13      1.000      -0.004       0.004
C(item_nbr)[T.52]  -1.104e-15      0.002  -5.92e-13      1.000      -0.004       0.004
C(item_nbr)[T.53]  -1.011e-15      0.002  -5.42e-13      1.000      -0.004       0.004
C(item_nbr)[T.54]  -1.129e-15      0.002  -6.05e-13      1.000      -0.004       0.004
C(item_nbr)[T.55]  -1.184e-15      0.002  -6.35e-13      1.000      -0.004       0.004
C(item_nbr)[T.56]  -1.143e-15      0.002  -6.13e-13      1.000      -0.004       0.004
C(item_nbr)[T.57]  -1.339e-15      0.002  -7.18e-13      1.000      -0.004       0.004
C(item_nbr)[T.58]  -1.312e-15      0.002  -7.03e-13      1.000      -0.004       0.004
C(item_nbr)[T.59]  -1.042e-15      0.002  -5.59e-13      1.000      -0.004       0.004
C(item_nbr)[T.60]  -1.376e-15      0.002  -7.38e-13      1.000      -0.004       0.004
C(item_nbr)[T.61]  -8.694e-16      0.002  -4.66e-13      1.000      -0.004       0.004
C(item_nbr)[T.62]  -1.319e-15      0.002  -7.07e-13      1.000      -0.004       0.004
C(item_nbr)[T.63]  -1.233e-15      0.002  -6.61e-13      1.000      -0.004       0.004
C(item_nbr)[T.64]  -1.118e-15      0.002     -6e-13      1.000      -0.004       0.004
C(item_nbr)[T.65]  -8.598e-16      0.002  -4.61e-13      1.000      -0.004       0.004
C(item_nbr)[T.66]  -1.023e-15      0.002  -5.49e-13      1.000      -0.004       0.004
C(item_nbr)[T.67]  -9.179e-16      0.002  -4.92e-13      1.000      -0.004       0.004
C(item_nbr)[T.68]  -1.151e-15      0.002  -6.17e-13      1.000      -0.004       0.004
C(item_nbr)[T.69]  -1.143e-15      0.002  -6.13e-13      1.000      -0.004       0.004
C(item_nbr)[T.70]   -1.06e-15      0.002  -5.68e-13      1.000      -0.004       0.004
C(item_nbr)[T.71]      0.1315      0.002     68.270      0.000       0.128       0.135
C(item_nbr)[T.72]  -9.603e-16      0.002  -5.15e-13      1.000      -0.004       0.004
C(item_nbr)[T.73]  -1.281e-15      0.002  -6.87e-13      1.000      -0.004       0.004
C(item_nbr)[T.74]  -1.338e-15      0.002  -7.17e-13      1.000      -0.004       0.004
C(item_nbr)[T.75]   -1.11e-15      0.002  -5.95e-13      1.000      -0.004       0.004
C(item_nbr)[T.76]  -1.153e-15      0.002  -6.18e-13      1.000      -0.004       0.004
C(item_nbr)[T.77]  -1.313e-15      0.002  -7.04e-13      1.000      -0.004       0.004
C(item_nbr)[T.78]  -1.172e-15      0.002  -6.28e-13      1.000      -0.004       0.004
C(item_nbr)[T.79]  -1.153e-15      0.002  -6.18e-13      1.000      -0.004       0.004
C(item_nbr)[T.80]  -9.939e-16      0.002  -5.33e-13      1.000      -0.004       0.004
C(item_nbr)[T.81]  -1.077e-15      0.002  -5.78e-13      1.000      -0.004       0.004
C(item_nbr)[T.82]  -1.214e-15      0.002  -6.51e-13      1.000      -0.004       0.004
C(item_nbr)[T.83]  -1.005e-15      0.002  -5.39e-13      1.000      -0.004       0.004
C(item_nbr)[T.84]  -1.324e-15      0.002   -7.1e-13      1.000      -0.004       0.004
C(item_nbr)[T.85]  -1.212e-15      0.002   -6.5e-13      1.000      -0.004       0.004
C(item_nbr)[T.86]  -8.173e-16      0.002  -4.38e-13      1.000      -0.004       0.004
C(item_nbr)[T.87]  -1.155e-15      0.002  -6.19e-13      1.000      -0.004       0.004
C(item_nbr)[T.88]  -1.062e-15      0.002   -5.7e-13      1.000      -0.004       0.004
C(item_nbr)[T.89]  -1.385e-15      0.002  -7.43e-13      1.000      -0.004       0.004
C(item_nbr)[T.90]  -1.067e-15      0.002  -5.72e-13      1.000      -0.004       0.004
C(item_nbr)[T.91]  -1.101e-15      0.002   -5.9e-13      1.000      -0.004       0.004
C(item_nbr)[T.92]  -7.621e-16      0.002  -4.09e-13      1.000      -0.004       0.004
C(item_nbr)[T.93]  -1.133e-15      0.002  -6.08e-13      1.000      -0.004       0.004
C(item_nbr)[T.94]  -1.342e-15      0.002  -7.19e-13      1.000      -0.004       0.004
C(item_nbr)[T.95]  -1.318e-15      0.002  -7.07e-13      1.000      -0.004       0.004
C(item_nbr)[T.96]  -1.012e-15      0.002  -5.42e-13      1.000      -0.004       0.004
C(item_nbr)[T.97]  -9.271e-16      0.002  -4.97e-13      1.000      -0.004       0.004
C(item_nbr)[T.98]  -1.182e-15      0.002  -6.34e-13      1.000      -0.004       0.004
C(item_nbr)[T.99]  -9.928e-16      0.002  -5.32e-13      1.000      -0.004       0.004
C(item_nbr)[T.100] -9.015e-16      0.002  -4.83e-13      1.000      -0.004       0.004
C(item_nbr)[T.101] -1.187e-15      0.002  -6.36e-13      1.000      -0.004       0.004
C(item_nbr)[T.102] -8.892e-16      0.002  -4.77e-13      1.000      -0.004       0.004
C(item_nbr)[T.103] -1.039e-15      0.002  -5.57e-13      1.000      -0.004       0.004
C(item_nbr)[T.104] -1.204e-15      0.002  -6.45e-13      1.000      -0.004       0.004
C(item_nbr)[T.105] -9.233e-16      0.002  -4.95e-13      1.000      -0.004       0.004
C(item_nbr)[T.106] -1.411e-15      0.002  -7.57e-13      1.000      -0.004       0.004
C(item_nbr)[T.107] -1.109e-15      0.002  -5.95e-13      1.000      -0.004       0.004
C(item_nbr)[T.108]  -1.11e-15      0.002  -5.95e-13      1.000      -0.004       0.004
C(item_nbr)[T.109] -1.496e-15      0.002  -8.02e-13      1.000      -0.004       0.004
C(item_nbr)[T.110] -1.158e-15      0.002  -6.21e-13      1.000      -0.004       0.004
C(item_nbr)[T.111] -5.017e-16      0.002  -2.69e-13      1.000      -0.004       0.004
scale(heat)            0.0007      0.000      3.961      0.000       0.000       0.001
scale(preciptotal)    -0.0002      0.000     -1.633      0.102      -0.000    4.44e-05
==============================================================================
Omnibus:                    94631.109   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         53219861.793
Skew:                           3.528   Prob(JB):                         0.00
Kurtosis:                     114.269   Cond. No.                         331.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Anova 분석을 통해 p-value가 0.05보다 큰것은 제외

In [27]:
anova_result2_1 = sm.stats.anova_lm(result2_1).sort_values(by=['PR(>F)'], ascending = False)
anova_result2_1[anova_result2_1['PR(>F)'] <= 0.05]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

                df        sum_sq     mean_sq              F         PR(>F)
C(rainY)       1.0      0.009267    0.009267       5.673804   1.722188e-02
scale(heat)    1.0      0.025332    0.025332      15.509455   8.214778e-05
C(weekend)     1.0      0.028031    0.028031      17.161668   3.435686e-05
C(month)      11.0      1.497126    0.136102      83.326800  1.232725e-188
C(year)        3.0    421.386930  140.462310   85996.139339   0.000000e+00
C(item_nbr)  110.0  28612.637874  260.114890  159251.804218   0.000000e+00

### 최종 Anova 분석과 TIF 통과한 변수들을 바탕으로 최종 모델생성

In [28]:
# OLS - df2_1_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(heat) +  C(rainY) + C(year) + C(month) + \
+ C(item_nbr) + C(weekend) + 0', data = df2_1)

result = model2_1.fit()
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                 1.390e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:56:26   Log-Likelihood:             1.8395e+05
No. Observations:              102753   AIC:                        -3.676e+05
Df Residuals:                  102626   BIC:                        -3.664e+05
Df Model:                         126
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(rainY)[0]            0.0004      0.001      0.288      0.773      -0.002       0.003
C(rainY)[1]            0.0005      0.001      0.378      0.705      -0.002       0.003
C(year)[T.2013]     6.861e-05      0.000      0.225      0.822      -0.001       0.001
C(year)[T.2014]       -0.0027      0.000     -8.528      0.000      -0.003      -0.002
C(month)[T.2]         -0.0007      0.001     -1.282      0.200      -0.002       0.000
C(month)[T.3]         -0.0003      0.001     -0.474      0.635      -0.001       0.001
C(month)[T.4]          0.0003      0.001      0.499      0.618      -0.001       0.002
C(month)[T.5]         -0.0002      0.001     -0.254      0.799      -0.001       0.001
C(month)[T.6]          0.0004      0.001      0.629      0.529      -0.001       0.002
C(month)[T.7]         -0.0004      0.001     -0.574      0.566      -0.002       0.001
C(month)[T.8]         -0.0002      0.001     -0.296      0.767      -0.001       0.001
C(month)[T.9]         -0.0001      0.001     -0.176      0.861      -0.001       0.001
C(month)[T.10]        -0.0003      0.001     -0.427      0.669      -0.002       0.001
C(month)[T.11]        -0.0002      0.001     -0.263      0.792      -0.001       0.001
C(month)[T.12]        -0.0009      0.001     -1.279      0.201      -0.002       0.000
C(item_nbr)[T.2]   -1.963e-15      0.002  -1.05e-12      1.000      -0.004       0.004
C(item_nbr)[T.3]    2.238e-16      0.002    1.2e-13      1.000      -0.004       0.004
C(item_nbr)[T.4]    7.656e-16      0.002    4.1e-13      1.000      -0.004       0.004
C(item_nbr)[T.5]   -2.052e-15      0.002   -1.1e-12      1.000      -0.004       0.004
C(item_nbr)[T.6]   -7.241e-16      0.002  -3.88e-13      1.000      -0.004       0.004
C(item_nbr)[T.7]    -1.08e-15      0.002  -5.79e-13      1.000      -0.004       0.004
C(item_nbr)[T.8]   -1.648e-15      0.002  -8.84e-13      1.000      -0.004       0.004
C(item_nbr)[T.9]       4.8737      0.002   2375.102      0.000       4.870       4.878
C(item_nbr)[T.10]   -5.04e-16      0.002   -2.7e-13      1.000      -0.004       0.004
C(item_nbr)[T.11]  -1.901e-16      0.002  -1.02e-13      1.000      -0.004       0.004
C(item_nbr)[T.12]  -9.688e-16      0.002  -5.19e-13      1.000      -0.004       0.004
C(item_nbr)[T.13]   -3.24e-16      0.002  -1.74e-13      1.000      -0.004       0.004
C(item_nbr)[T.14]  -4.324e-16      0.002  -2.32e-13      1.000      -0.004       0.004
C(item_nbr)[T.15]   9.777e-17      0.002   5.24e-14      1.000      -0.004       0.004
C(item_nbr)[T.16]  -7.918e-16      0.002  -4.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.17]  -3.348e-16      0.002   -1.8e-13      1.000      -0.004       0.004
C(item_nbr)[T.18]  -3.822e-16      0.002  -2.05e-13      1.000      -0.004       0.004
C(item_nbr)[T.19]  -6.857e-16      0.002  -3.68e-13      1.000      -0.004       0.004
C(item_nbr)[T.20]  -6.867e-16      0.002  -3.68e-13      1.000      -0.004       0.004
C(item_nbr)[T.21]  -3.653e-16      0.002  -1.96e-13      1.000      -0.004       0.004
C(item_nbr)[T.22]  -5.554e-16      0.002  -2.98e-13      1.000      -0.004       0.004
C(item_nbr)[T.23]  -1.387e-16      0.002  -7.44e-14      1.000      -0.004       0.004
C(item_nbr)[T.24]  -5.656e-16      0.002  -3.03e-13      1.000      -0.004       0.004
C(item_nbr)[T.25]  -6.327e-16      0.002  -3.39e-13      1.000      -0.004       0.004
C(item_nbr)[T.26]  -8.224e-16      0.002  -4.41e-13      1.000      -0.004       0.004
C(item_nbr)[T.27]  -3.844e-16      0.002  -2.06e-13      1.000      -0.004       0.004
C(item_nbr)[T.28]  -5.882e-16      0.002  -3.15e-13      1.000      -0.004       0.004
C(item_nbr)[T.29]  -8.241e-16      0.002  -4.42e-13      1.000      -0.004       0.004
C(item_nbr)[T.30]  -4.063e-16      0.002  -2.18e-13      1.000      -0.004       0.004
C(item_nbr)[T.31]  -9.785e-16      0.002  -5.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.32]  -6.755e-16      0.002  -3.62e-13      1.000      -0.004       0.004
C(item_nbr)[T.33]  -5.055e-16      0.002  -2.71e-13      1.000      -0.004       0.004
C(item_nbr)[T.34]  -6.663e-16      0.002  -3.57e-13      1.000      -0.004       0.004
C(item_nbr)[T.35]  -3.779e-16      0.002  -2.03e-13      1.000      -0.004       0.004
C(item_nbr)[T.36]  -3.512e-16      0.002  -1.88e-13      1.000      -0.004       0.004
C(item_nbr)[T.37]      4.1052      0.002   2103.968      0.000       4.101       4.109
C(item_nbr)[T.38]  -9.154e-16      0.002  -4.91e-13      1.000      -0.004       0.004
C(item_nbr)[T.39]  -5.098e-16      0.002  -2.73e-13      1.000      -0.004       0.004
C(item_nbr)[T.40]  -5.265e-16      0.002  -2.82e-13      1.000      -0.004       0.004
C(item_nbr)[T.41]   -7.74e-16      0.002  -4.15e-13      1.000      -0.004       0.004
C(item_nbr)[T.42]  -1.123e-15      0.002  -6.02e-13      1.000      -0.004       0.004
C(item_nbr)[T.43]  -6.409e-16      0.002  -3.44e-13      1.000      -0.004       0.004
C(item_nbr)[T.44]  -8.565e-16      0.002  -4.59e-13      1.000      -0.004       0.004
C(item_nbr)[T.45]  -5.413e-16      0.002   -2.9e-13      1.000      -0.004       0.004
C(item_nbr)[T.46]  -8.519e-16      0.002  -4.57e-13      1.000      -0.004       0.004
C(item_nbr)[T.47]  -6.467e-16      0.002  -3.47e-13      1.000      -0.004       0.004
C(item_nbr)[T.48]      2.5653      0.040     63.435      0.000       2.486       2.645
C(item_nbr)[T.49]  -7.922e-16      0.002  -4.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.50]  -5.516e-16      0.002  -2.96e-13      1.000      -0.004       0.004
C(item_nbr)[T.51]   -8.04e-16      0.002  -4.31e-13      1.000      -0.004       0.004
C(item_nbr)[T.52]  -1.006e-15      0.002  -5.39e-13      1.000      -0.004       0.004
C(item_nbr)[T.53]  -8.769e-16      0.002   -4.7e-13      1.000      -0.004       0.004
C(item_nbr)[T.54]  -9.905e-16      0.002  -5.31e-13      1.000      -0.004       0.004
C(item_nbr)[T.55]    -7.1e-16      0.002  -3.81e-13      1.000      -0.004       0.004
C(item_nbr)[T.56]  -3.567e-16      0.002  -1.91e-13      1.000      -0.004       0.004
C(item_nbr)[T.57]  -5.424e-16      0.002  -2.91e-13      1.000      -0.004       0.004
C(item_nbr)[T.58]  -5.487e-16      0.002  -2.94e-13      1.000      -0.004       0.004
C(item_nbr)[T.59]  -6.824e-16      0.002  -3.66e-13      1.000      -0.004       0.004
C(item_nbr)[T.60]  -5.551e-16      0.002  -2.98e-13      1.000      -0.004       0.004
C(item_nbr)[T.61]  -3.703e-16      0.002  -1.99e-13      1.000      -0.004       0.004
C(item_nbr)[T.62]  -8.648e-16      0.002  -4.64e-13      1.000      -0.004       0.004
C(item_nbr)[T.63]  -1.003e-15      0.002  -5.38e-13      1.000      -0.004       0.004
C(item_nbr)[T.64]  -1.077e-15      0.002  -5.77e-13      1.000      -0.004       0.004
C(item_nbr)[T.65]   -6.82e-16      0.002  -3.66e-13      1.000      -0.004       0.004
C(item_nbr)[T.66]  -5.955e-16      0.002  -3.19e-13      1.000      -0.004       0.004
C(item_nbr)[T.67]  -7.357e-16      0.002  -3.94e-13      1.000      -0.004       0.004
C(item_nbr)[T.68]  -6.558e-16      0.002  -3.52e-13      1.000      -0.004       0.004
C(item_nbr)[T.69]    -8.7e-16      0.002  -4.66e-13      1.000      -0.004       0.004
C(item_nbr)[T.70]  -7.767e-16      0.002  -4.16e-13      1.000      -0.004       0.004
C(item_nbr)[T.71]      0.1315      0.002     68.269      0.000       0.128       0.135
C(item_nbr)[T.72]  -8.766e-16      0.002   -4.7e-13      1.000      -0.004       0.004
C(item_nbr)[T.73]  -6.297e-16      0.002  -3.38e-13      1.000      -0.004       0.004
C(item_nbr)[T.74]  -5.347e-16      0.002  -2.87e-13      1.000      -0.004       0.004
C(item_nbr)[T.75]  -4.829e-16      0.002  -2.59e-13      1.000      -0.004       0.004
C(item_nbr)[T.76]  -9.135e-16      0.002   -4.9e-13      1.000      -0.004       0.004
C(item_nbr)[T.77]  -7.038e-16      0.002  -3.77e-13      1.000      -0.004       0.004
C(item_nbr)[T.78]  -5.711e-16      0.002  -3.06e-13      1.000      -0.004       0.004
C(item_nbr)[T.79]  -7.729e-16      0.002  -4.14e-13      1.000      -0.004       0.004
C(item_nbr)[T.80]  -5.785e-16      0.002   -3.1e-13      1.000      -0.004       0.004
C(item_nbr)[T.81]  -7.373e-16      0.002  -3.95e-13      1.000      -0.004       0.004
C(item_nbr)[T.82]  -8.304e-16      0.002  -4.45e-13      1.000      -0.004       0.004
C(item_nbr)[T.83]  -6.598e-16      0.002  -3.54e-13      1.000      -0.004       0.004
C(item_nbr)[T.84]  -7.298e-16      0.002  -3.91e-13      1.000      -0.004       0.004
C(item_nbr)[T.85]  -8.163e-16      0.002  -4.38e-13      1.000      -0.004       0.004
C(item_nbr)[T.86]  -7.576e-16      0.002  -4.06e-13      1.000      -0.004       0.004
C(item_nbr)[T.87]  -6.443e-16      0.002  -3.45e-13      1.000      -0.004       0.004
C(item_nbr)[T.88]  -6.209e-16      0.002  -3.33e-13      1.000      -0.004       0.004
C(item_nbr)[T.89]  -6.546e-16      0.002  -3.51e-13      1.000      -0.004       0.004
C(item_nbr)[T.90]  -8.167e-16      0.002  -4.38e-13      1.000      -0.004       0.004
C(item_nbr)[T.91]  -3.871e-16      0.002  -2.08e-13      1.000      -0.004       0.004
C(item_nbr)[T.92]   -9.46e-16      0.002  -5.07e-13      1.000      -0.004       0.004
C(item_nbr)[T.93]  -9.931e-16      0.002  -5.32e-13      1.000      -0.004       0.004
C(item_nbr)[T.94]  -6.637e-16      0.002  -3.56e-13      1.000      -0.004       0.004
C(item_nbr)[T.95]  -6.801e-16      0.002  -3.65e-13      1.000      -0.004       0.004
C(item_nbr)[T.96]  -7.023e-16      0.002  -3.77e-13      1.000      -0.004       0.004
C(item_nbr)[T.97]  -5.877e-16      0.002  -3.15e-13      1.000      -0.004       0.004
C(item_nbr)[T.98]  -4.218e-16      0.002  -2.26e-13      1.000      -0.004       0.004
C(item_nbr)[T.99]  -1.049e-15      0.002  -5.63e-13      1.000      -0.004       0.004
C(item_nbr)[T.100] -7.404e-16      0.002  -3.97e-13      1.000      -0.004       0.004
C(item_nbr)[T.101] -4.343e-16      0.002  -2.33e-13      1.000      -0.004       0.004
C(item_nbr)[T.102] -8.571e-16      0.002   -4.6e-13      1.000      -0.004       0.004
C(item_nbr)[T.103] -6.507e-16      0.002  -3.49e-13      1.000      -0.004       0.004
C(item_nbr)[T.104]  -9.28e-16      0.002  -4.98e-13      1.000      -0.004       0.004
C(item_nbr)[T.105] -1.385e-15      0.002  -7.43e-13      1.000      -0.004       0.004
C(item_nbr)[T.106] -1.896e-16      0.002  -1.02e-13      1.000      -0.004       0.004
C(item_nbr)[T.107] -6.527e-16      0.002   -3.5e-13      1.000      -0.004       0.004
C(item_nbr)[T.108] -7.174e-16      0.002  -3.85e-13      1.000      -0.004       0.004
C(item_nbr)[T.109] -1.353e-15      0.002  -7.25e-13      1.000      -0.004       0.004
C(item_nbr)[T.110]  7.816e-16      0.002   4.19e-13      1.000      -0.004       0.004
C(item_nbr)[T.111] -1.316e-16      0.002  -7.06e-14      1.000      -0.004       0.004
C(weekend)[T.1]        0.0018      0.000      6.404      0.000       0.001       0.002
scale(heat)            0.0007      0.000      3.938      0.000       0.000       0.001
==============================================================================
Omnibus:                    94641.104   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         53231113.980
Skew:                           3.529   Prob(JB):                         0.00
Kurtosis:                     114.281   Cond. No.                         330.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [29]:
from patsy import dmatrix
# 독립변수와 종속변수로 나누기
df2_1_X = df2_1.drop(columns=['log1p_units'])
df2_1_target = df2_1['log1p_units']

In [32]:
formula = 'scale(heat) + C(rainY) + C(year) + C(item_nbr) + C(weekend) + 0'
dfX = dmatrix(formula, df2_1_X, return_type='dataframe')
dfy = pd.DataFrame(df2_1_target, columns=["log1p_units"])

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score

model = LinearRegression()
cv = KFold(10)

scores = np.zeros(10)
for i, (train_index, test_index) in enumerate(cv.split(dfX)):
    X_train = dfX.values[train_index]
    y_train = dfy.values[train_index]
    X_test = dfX.values[test_index]
    y_test = dfy.values[test_index]
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    scores[i] = r2_score(y_test, y_pred)

scores

array([0.99377413, 0.99458779, 0.99247362, 0.99382536, 0.99382384,
       0.99432931, 0.99428057, 0.99496592, 0.99374725, 0.99227627])