In [1]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

In [2]:
weather = pd.read_csv("weather3_180703.csv")
weather['date'] = pd.to_datetime(weather["date"])
station = weather[weather['station_nbr'] == 17]

In [3]:
station['date'].count()

1035

In [4]:
# ls == 모든 값이 0인 것

ls = []
ls1 = []
for i in station.columns:
    if station[i].count() == 0:
        ls.append(i)
    if station[i].isna().sum() != 0:
        ls1.append(i)
ls, ls1

(['depart', 'sunrise', 'sunset', 'daytime'],
 ['depart', 'sunrise', 'sunset', 'resultdir', 'daytime'])

In [5]:
for i in station.columns:
    count_null = station[i].isna().sum()
    print(i, ":", count_null, "(",round((count_null / len(station) * 100),2),"%",")")

station_nbr : 0 ( 0.0 % )
date : 0 ( 0.0 % )
tmax : 0 ( 0.0 % )
tmin : 0 ( 0.0 % )
tavg : 0 ( 0.0 % )
depart : 1035 ( 100.0 % )
dewpoint : 0 ( 0.0 % )
wetbulb : 0 ( 0.0 % )
heat : 0 ( 0.0 % )
cool : 0 ( 0.0 % )
sunrise : 1035 ( 100.0 % )
sunset : 1035 ( 100.0 % )
codesum : 0 ( 0.0 % )
snowfall : 0 ( 0.0 % )
preciptotal : 0 ( 0.0 % )
stnpressure : 0 ( 0.0 % )
sealevel : 0 ( 0.0 % )
resultspeed : 0 ( 0.0 % )
resultdir : 4 ( 0.39 % )
avgspeed : 0 ( 0.0 % )
year : 0 ( 0.0 % )
month : 0 ( 0.0 % )
day : 0 ( 0.0 % )
relative_humility : 0 ( 0.0 % )
windchill : 0 ( 0.0 % )
daytime : 1035 ( 100.0 % )
week7 : 0 ( 0.0 % )
weekend : 0 ( 0.0 % )
code_change : 0 ( 0.0 % )
rainY : 0 ( 0.0 % )
otherY : 0 ( 0.0 % )
nothing : 0 ( 0.0 % )

In [7]:
train = pd.read_csv("train.csv")
train.date = pd.to_datetime(train.date)
train.tail()

              date  store_nbr  item_nbr  units
4617595 2014-10-31         45       107      0
4617596 2014-10-31         45       108      0
4617597 2014-10-31         45       109      0
4617598 2014-10-31         45       110      0
4617599 2014-10-31         45       111      0

In [8]:
key = pd.read_csv("key.csv")
station = station.merge(key)

In [9]:
station = station.merge(train)
station.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr,units
630697,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,107,0
630698,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,108,0
630699,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,109,0
630700,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,110,0
630701,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,111,0

In [10]:
station['log1p_units'] = np.log1p(station.units)

In [11]:
target1 = station['units']
target2 = station['log1p_units']

station.drop(columns=['units','log1p_units'],inplace=True)
station.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,windchill,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr
630697,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,41.963648,NaN,4,0,2,1,0,0,34,107
630698,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,41.963648,NaN,4,0,2,1,0,0,34,108
630699,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,41.963648,NaN,4,0,2,1,0,0,34,109
630700,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,41.963648,NaN,4,0,2,1,0,0,34,110
630701,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,41.963648,NaN,4,0,2,1,0,0,34,111

In [12]:
df1 = pd.concat([station,target1], axis=1)
df2 = pd.concat([station,target2], axis=1)

In [13]:
df2.to_csv('station17.csv', sep=',', index=False)

In [14]:
if df2.columns.tolist() and ls:
    print('공통 변수 있음')
    print(df2.columns.tolist() and ls)
else:
    print('공통 변수 없음')

공통 변수 있음
['depart', 'sunrise', 'sunset', 'daytime']

In [15]:
df2.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed', 'year', 'month', 'day', 'relative_humility', 'windchill',
       'daytime', 'week7', 'weekend', 'code_change', 'rainY', 'otherY',
       'nothing', 'store_nbr', 'item_nbr', 'log1p_units'],
      dtype='object')

In [16]:
ls, ls1

(['depart', 'sunrise', 'sunset', 'daytime'],
 ['depart', 'sunrise', 'sunset', 'resultdir', 'daytime'])

### 1. 변수변환: df2 (log1p_units)

In [17]:
all_var = 'log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(depart) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                            + scale(sunrise) + scale(sunset) + scale(snowfall) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                            + C(resultdir) + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + C(daytime) + 0'

In [18]:
model2 = sm.OLS.from_formula('log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                            + scale(snowfall) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                            + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2)
result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.609
Model:                            OLS   Adj. R-squared:                  0.609
Method:                 Least Squares   F-statistic:                     6816.
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:36:56   Log-Likelihood:            -1.8280e+05
No. Observations:              630702   AIC:                         3.659e+05
Df Residuals:                  630557   BIC:                         3.675e+05
Df Model:                         144
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(year)[2012]                0.0131      0.005      2.763      0.006       0.004       0.022
C(year)[2013]                0.0099      0.005      2.074      0.038       0.001       0.019
C(year)[2014]                0.0019      0.005      0.394      0.694      -0.008       0.011
C(month)[T.2]                0.0002      0.002      0.090      0.928      -0.004       0.004
C(month)[T.3]                0.0019      0.002      0.971      0.331      -0.002       0.006
C(month)[T.4]                0.0018      0.002      0.805      0.421      -0.003       0.006
C(month)[T.5]                0.0024      0.003      0.925      0.355      -0.003       0.007
C(month)[T.6]                0.0017      0.003      0.554      0.579      -0.004       0.008
C(month)[T.7]                0.0011      0.003      0.330      0.741      -0.005       0.008
C(month)[T.8]               -0.0001      0.003     -0.040      0.968      -0.007       0.006
C(month)[T.9]               -0.0027      0.003     -0.916      0.360      -0.009       0.003
C(month)[T.10]              -0.0027      0.002     -1.150      0.250      -0.007       0.002
C(month)[T.11]              -0.0045      0.002     -1.994      0.046      -0.009   -7.63e-05
C(month)[T.12]              -0.0029      0.002     -1.318      0.187      -0.007       0.001
C(weekend)[T.1]              0.0068      0.001      7.500      0.000       0.005       0.009
C(rainY)[T.1]               -0.0002      0.001     -0.146      0.884      -0.002       0.002
C(store_nbr)[T.18]          -0.0360      0.001    -25.515      0.000      -0.039      -0.033
C(store_nbr)[T.23]          -0.0177      0.001    -12.580      0.000      -0.021      -0.015
C(store_nbr)[T.26]          -0.0151      0.001    -10.692      0.000      -0.018      -0.012
C(store_nbr)[T.31]           0.0059      0.001      4.172      0.000       0.003       0.009
C(store_nbr)[T.34]          -0.0022      0.001     -1.567      0.117      -0.005       0.001
C(item_nbr)[T.2]             0.0959      0.006     15.808      0.000       0.084       0.108
C(item_nbr)[T.3]         -9.537e-15      0.006  -1.57e-12      1.000      -0.012       0.012
C(item_nbr)[T.4]         -1.709e-14      0.006  -2.82e-12      1.000      -0.012       0.012
C(item_nbr)[T.5]             2.2391      0.006    369.081      0.000       2.227       2.251
C(item_nbr)[T.6]         -5.812e-15      0.006  -9.58e-13      1.000      -0.012       0.012
C(item_nbr)[T.7]         -1.359e-14      0.006  -2.24e-12      1.000      -0.012       0.012
C(item_nbr)[T.8]         -1.314e-14      0.006  -2.17e-12      1.000      -0.012       0.012
C(item_nbr)[T.9]             1.2827      0.006    211.428      0.000       1.271       1.295
C(item_nbr)[T.10]            0.0645      0.006     10.639      0.000       0.053       0.076
C(item_nbr)[T.11]        -9.233e-15      0.006  -1.52e-12      1.000      -0.012       0.012
C(item_nbr)[T.12]        -1.165e-14      0.006  -1.92e-12      1.000      -0.012       0.012
C(item_nbr)[T.13]        -9.768e-15      0.006  -1.61e-12      1.000      -0.012       0.012
C(item_nbr)[T.14]         -1.09e-14      0.006   -1.8e-12      1.000      -0.012       0.012
C(item_nbr)[T.15]        -1.068e-14      0.006  -1.76e-12      1.000      -0.012       0.012
C(item_nbr)[T.16]        -8.921e-15      0.006  -1.47e-12      1.000      -0.012       0.012
C(item_nbr)[T.17]        -1.138e-14      0.006  -1.88e-12      1.000      -0.012       0.012
C(item_nbr)[T.18]        -8.668e-15      0.006  -1.43e-12      1.000      -0.012       0.012
C(item_nbr)[T.19]        -1.159e-14      0.006  -1.91e-12      1.000      -0.012       0.012
C(item_nbr)[T.20]        -1.533e-14      0.006  -2.53e-12      1.000      -0.012       0.012
C(item_nbr)[T.21]        -9.566e-15      0.006  -1.58e-12      1.000      -0.012       0.012
C(item_nbr)[T.22]        -9.989e-15      0.006  -1.65e-12      1.000      -0.012       0.012
C(item_nbr)[T.23]        -1.328e-14      0.006  -2.19e-12      1.000      -0.012       0.012
C(item_nbr)[T.24]        -1.163e-14      0.006  -1.92e-12      1.000      -0.012       0.012
C(item_nbr)[T.25]        -1.405e-14      0.006  -2.32e-12      1.000      -0.012       0.012
C(item_nbr)[T.26]        -1.127e-14      0.006  -1.86e-12      1.000      -0.012       0.012
C(item_nbr)[T.27]        -1.226e-14      0.006  -2.02e-12      1.000      -0.012       0.012
C(item_nbr)[T.28]        -8.969e-15      0.006  -1.48e-12      1.000      -0.012       0.012
C(item_nbr)[T.29]            0.0800      0.006     13.193      0.000       0.068       0.092
C(item_nbr)[T.30]        -1.289e-14      0.006  -2.12e-12      1.000      -0.012       0.012
C(item_nbr)[T.31]            0.0550      0.006      9.071      0.000       0.043       0.067
C(item_nbr)[T.32]        -1.139e-14      0.006  -1.88e-12      1.000      -0.012       0.012
C(item_nbr)[T.33]        -1.068e-14      0.006  -1.76e-12      1.000      -0.012       0.012
C(item_nbr)[T.34]         -1.21e-14      0.006  -1.99e-12      1.000      -0.012       0.012
C(item_nbr)[T.35]        -1.104e-14      0.006  -1.82e-12      1.000      -0.012       0.012
C(item_nbr)[T.36]        -1.326e-14      0.006  -2.19e-12      1.000      -0.012       0.012
C(item_nbr)[T.37]            0.4160      0.006     68.573      0.000       0.404       0.428
C(item_nbr)[T.38]          -9.8e-15      0.006  -1.62e-12      1.000      -0.012       0.012
C(item_nbr)[T.39]        -1.195e-14      0.006  -1.97e-12      1.000      -0.012       0.012
C(item_nbr)[T.40]        -1.146e-14      0.006  -1.89e-12      1.000      -0.012       0.012
C(item_nbr)[T.41]        -1.014e-14      0.006  -1.67e-12      1.000      -0.012       0.012
C(item_nbr)[T.42]            0.1884      0.006     31.059      0.000       0.177       0.200
C(item_nbr)[T.43]        -1.108e-14      0.006  -1.83e-12      1.000      -0.012       0.012
C(item_nbr)[T.44]        -1.007e-14      0.006  -1.66e-12      1.000      -0.012       0.012
C(item_nbr)[T.45]            3.4214      0.006    563.967      0.000       3.410       3.433
C(item_nbr)[T.46]        -1.126e-14      0.006  -1.86e-12      1.000      -0.012       0.012
C(item_nbr)[T.47]        -1.257e-14      0.006  -2.07e-12      1.000      -0.012       0.012
C(item_nbr)[T.48]        -1.333e-14      0.006   -2.2e-12      1.000      -0.012       0.012
C(item_nbr)[T.49]        -1.286e-14      0.006  -2.12e-12      1.000      -0.012       0.012
C(item_nbr)[T.50]        -1.384e-14      0.006  -2.28e-12      1.000      -0.012       0.012
C(item_nbr)[T.51]        -1.487e-14      0.006  -2.45e-12      1.000      -0.012       0.012
C(item_nbr)[T.52]            0.1095      0.006     18.042      0.000       0.098       0.121
C(item_nbr)[T.53]        -1.044e-14      0.006  -1.72e-12      1.000      -0.012       0.012
C(item_nbr)[T.54]        -1.183e-14      0.006  -1.95e-12      1.000      -0.012       0.012
C(item_nbr)[T.55]        -1.252e-14      0.006  -2.06e-12      1.000      -0.012       0.012
C(item_nbr)[T.56]            0.0796      0.006     13.127      0.000       0.068       0.092
C(item_nbr)[T.57]            0.0423      0.006      6.965      0.000       0.030       0.054
C(item_nbr)[T.58]        -1.139e-14      0.006  -1.88e-12      1.000      -0.012       0.012
C(item_nbr)[T.59]        -8.964e-15      0.006  -1.48e-12      1.000      -0.012       0.012
C(item_nbr)[T.60]        -1.122e-14      0.006  -1.85e-12      1.000      -0.012       0.012
C(item_nbr)[T.61]        -1.236e-14      0.006  -2.04e-12      1.000      -0.012       0.012
C(item_nbr)[T.62]        -1.207e-14      0.006  -1.99e-12      1.000      -0.012       0.012
C(item_nbr)[T.63]        -1.076e-14      0.006  -1.77e-12      1.000      -0.012       0.012
C(item_nbr)[T.64]        -1.074e-14      0.006  -1.77e-12      1.000      -0.012       0.012
C(item_nbr)[T.65]        -1.238e-14      0.006  -2.04e-12      1.000      -0.012       0.012
C(item_nbr)[T.66]        -1.308e-14      0.006  -2.16e-12      1.000      -0.012       0.012
C(item_nbr)[T.67]            0.2540      0.006     41.870      0.000       0.242       0.266
C(item_nbr)[T.68]         -1.25e-14      0.006  -2.06e-12      1.000      -0.012       0.012
C(item_nbr)[T.69]        -1.112e-14      0.006  -1.83e-12      1.000      -0.012       0.012
C(item_nbr)[T.70]        -1.192e-14      0.006  -1.96e-12      1.000      -0.012       0.012
C(item_nbr)[T.71]        -1.123e-14      0.006  -1.85e-12      1.000      -0.012       0.012
C(item_nbr)[T.72]            0.0524      0.006      8.631      0.000       0.040       0.064
C(item_nbr)[T.73]        -1.231e-14      0.006  -2.03e-12      1.000      -0.012       0.012
C(item_nbr)[T.74]        -1.167e-14      0.006  -1.92e-12      1.000      -0.012       0.012
C(item_nbr)[T.75]        -1.508e-14      0.006  -2.49e-12      1.000      -0.012       0.012
C(item_nbr)[T.76]        -1.195e-14      0.006  -1.97e-12      1.000      -0.012       0.012
C(item_nbr)[T.77]        -1.055e-14      0.006  -1.74e-12      1.000      -0.012       0.012
C(item_nbr)[T.78]        -1.123e-14      0.006  -1.85e-12      1.000      -0.012       0.012
C(item_nbr)[T.79]        -1.178e-14      0.006  -1.94e-12      1.000      -0.012       0.012
C(item_nbr)[T.80]        -1.142e-14      0.006  -1.88e-12      1.000      -0.012       0.012
C(item_nbr)[T.81]        -1.147e-14      0.006  -1.89e-12      1.000      -0.012       0.012
C(item_nbr)[T.82]        -1.274e-14      0.006   -2.1e-12      1.000      -0.012       0.012
C(item_nbr)[T.83]        -1.187e-14      0.006  -1.96e-12      1.000      -0.012       0.012
C(item_nbr)[T.84]            0.0051      0.006      0.846      0.398      -0.007       0.017
C(item_nbr)[T.85]        -1.146e-14      0.006  -1.89e-12      1.000      -0.012       0.012
C(item_nbr)[T.86]         -1.09e-14      0.006   -1.8e-12      1.000      -0.012       0.012
C(item_nbr)[T.87]        -1.153e-14      0.006   -1.9e-12      1.000      -0.012       0.012
C(item_nbr)[T.88]        -1.158e-14      0.006  -1.91e-12      1.000      -0.012       0.012
C(item_nbr)[T.89]        -1.167e-14      0.006  -1.92e-12      1.000      -0.012       0.012
C(item_nbr)[T.90]        -1.171e-14      0.006  -1.93e-12      1.000      -0.012       0.012
C(item_nbr)[T.91]         -1.18e-14      0.006  -1.95e-12      1.000      -0.012       0.012
C(item_nbr)[T.92]        -1.016e-14      0.006  -1.67e-12      1.000      -0.012       0.012
C(item_nbr)[T.93]            0.1129      0.006     18.615      0.000       0.101       0.125
C(item_nbr)[T.94]        -1.124e-14      0.006  -1.85e-12      1.000      -0.012       0.012
C(item_nbr)[T.95]        -1.199e-14      0.006  -1.98e-12      1.000      -0.012       0.012
C(item_nbr)[T.96]        -1.176e-14      0.006  -1.94e-12      1.000      -0.012       0.012
C(item_nbr)[T.97]        -1.239e-14      0.006  -2.04e-12      1.000      -0.012       0.012
C(item_nbr)[T.98]            0.0677      0.006     11.161      0.000       0.056       0.080
C(item_nbr)[T.99]        -1.131e-14      0.006  -1.86e-12      1.000      -0.012       0.012
C(item_nbr)[T.100]        -1.17e-14      0.006  -1.93e-12      1.000      -0.012       0.012
C(item_nbr)[T.101]        -1.21e-14      0.006  -1.99e-12      1.000      -0.012       0.012
C(item_nbr)[T.102]       -1.178e-14      0.006  -1.94e-12      1.000      -0.012       0.012
C(item_nbr)[T.103]       -1.158e-14      0.006  -1.91e-12      1.000      -0.012       0.012
C(item_nbr)[T.104]           0.0059      0.006      0.972      0.331      -0.006       0.018
C(item_nbr)[T.105]           0.0076      0.006      1.245      0.213      -0.004       0.019
C(item_nbr)[T.106]       -1.272e-14      0.006   -2.1e-12      1.000      -0.012       0.012
C(item_nbr)[T.107]       -1.221e-14      0.006  -2.01e-12      1.000      -0.012       0.012
C(item_nbr)[T.108]       -1.173e-14      0.006  -1.93e-12      1.000      -0.012       0.012
C(item_nbr)[T.109]       -1.249e-14      0.006  -2.06e-12      1.000      -0.012       0.012
C(item_nbr)[T.110]       -1.157e-14      0.006  -1.91e-12      1.000      -0.012       0.012
C(item_nbr)[T.111]       -1.133e-14      0.006  -1.87e-12      1.000      -0.012       0.012
scale(tmax)                  0.0028      0.005      0.558      0.577      -0.007       0.013
scale(tmin)                  0.0033      0.005      0.699      0.485      -0.006       0.013
scale(tavg)                  0.0032      0.005      0.646      0.518      -0.006       0.013
scale(dewpoint)              0.0065      0.009      0.735      0.462      -0.011       0.024
scale(wetbulb)               0.0011      0.006      0.187      0.851      -0.010       0.013
scale(heat)                  0.0001      0.005      0.029      0.977      -0.009       0.010
scale(cool)                  0.0012      0.003      0.404      0.686      -0.005       0.007
scale(snowfall)              0.0003      0.000      0.640      0.522      -0.001       0.001
scale(preciptotal)           0.0005      0.000      1.001      0.317      -0.000       0.001
scale(stnpressure)          -0.0007      0.003     -0.240      0.810      -0.007       0.005
scale(sealevel)             -0.0005      0.003     -0.152      0.879      -0.006       0.006
scale(resultspeed)          -0.0001      0.001     -0.083      0.934      -0.003       0.002
scale(avgspeed)             -0.0005      0.001     -0.388      0.698      -0.003       0.002
scale(relative_humility)    -0.0024      0.003     -0.838      0.402      -0.008       0.003
scale(windchill)            -0.0192      0.010     -1.952      0.051      -0.039    7.64e-05
==============================================================================
Omnibus:                   236155.810   Durbin-Watson:                   2.019
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         69394173.258
Skew:                           0.532   Prob(JB):                         0.00
Kurtosis:                      54.376   Cond. No.                     2.02e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.28e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### 2. 변수변환 : df2 (log1p_units) + 아웃라이어 제거

In [19]:
# 아웃라이어 제거
# Cook's distance > 2 인 값 제거
influence = result2.get_influence()
cooks_d2, pvals = influence.cooks_distance
fox_cr = 4 / (len(df2) - 2)
idx_outlier = np.where(cooks_d2 > fox_cr)[0]
len(idx_outlier)

18887

In [20]:
idx = list(set(range(len(df2))).difference(idx_outlier))
df2_1 = df2.iloc[idx, :].reset_index(drop=True)
df2_1

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr,log1p_units
0,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,1,0.0
1,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,2,0.0
2,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,3,0.0
3,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,4,0.0
4,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,6,0.0
5,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,7,0.0
6,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,8,0.0
7,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,11,0.0
8,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,12,0.0
9,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,13,0.0
10,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,14,0.0
11,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,15,0.0
12,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,16,0.0
13,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,17,0.0
14,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,18,0.0
15,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,19,0.0
16,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,20,0.0
17,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,21,0.0
18,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,22,0.0
19,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,23,0.0
20,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,24,0.0
21,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,25,0.0
22,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,26,0.0
23,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,27,0.0
24,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,28,0.0
25,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,29,0.0
26,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,30,0.0
27,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,31,0.0
28,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,32,0.0
29,17,2012-01-01,56.0,38.0,47.0,NaN,23.0,37.0,18.0,0.0,...,NaN,6,1,0,0,0,1,9,33,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611785,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,82,0.0
611786,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,83,0.0
611787,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,84,0.0
611788,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,85,0.0
611789,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,86,0.0
611790,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,87,0.0
611791,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,88,0.0
611792,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,89,0.0
611793,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,90,0.0
611794,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,91,0.0
611795,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,92,0.0
611796,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,93,0.0
611797,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,94,0.0
611798,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,95,0.0
611799,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,96,0.0
611800,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,97,0.0
611801,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,98,0.0
611802,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,99,0.0
611803,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,100,0.0
611804,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,101,0.0
611805,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,102,0.0
611806,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,103,0.0
611807,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,104,0.0
611808,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,105,0.0
611809,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,106,0.0
611810,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,107,0.0
611811,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,108,0.0
611812,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,109,0.0
611813,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,110,0.0
611814,17,2014-10-31,59.0,34.0,46.5,NaN,32.0,41.0,18.0,0.0,...,NaN,4,0,2,1,0,0,34,111,0.0

In [21]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(tmax) + scale(tmin) + scale(tavg) + scale(dewpoint) + scale(wetbulb) + scale(heat) + scale(cool)\
                            + scale(snowfall) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(resultspeed)  \
                            + scale(avgspeed) + C(year) + C(month) + scale(relative_humility) + scale(windchill) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.977
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                 1.803e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:38:29   Log-Likelihood:             1.1609e+06
No. Observations:              611815   AIC:                        -2.322e+06
Df Residuals:                  611670   BIC:                        -2.320e+06
Df Model:                         144
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
C(year)[2012]                0.0005      0.001      0.986      0.324      -0.001       0.002
C(year)[2013]                0.0004      0.001      0.731      0.465      -0.001       0.001
C(year)[2014]               -0.0007      0.001     -1.341      0.180      -0.002       0.000
C(month)[T.2]               -0.0003      0.000     -1.336      0.182      -0.001       0.000
C(month)[T.3]               -0.0002      0.000     -0.912      0.362      -0.001       0.000
C(month)[T.4]                0.0001      0.000      0.511      0.609      -0.000       0.001
C(month)[T.5]             3.054e-06      0.000      0.011      0.992      -0.001       0.001
C(month)[T.6]                0.0002      0.000      0.536      0.592      -0.000       0.001
C(month)[T.7]                0.0002      0.000      0.498      0.618      -0.001       0.001
C(month)[T.8]               -0.0001      0.000     -0.305      0.760      -0.001       0.001
C(month)[T.9]               -0.0005      0.000     -1.438      0.150      -0.001       0.000
C(month)[T.10]              -0.0004      0.000     -1.459      0.144      -0.001       0.000
C(month)[T.11]              -0.0008      0.000     -2.983      0.003      -0.001      -0.000
C(month)[T.12]              -0.0006      0.000     -2.502      0.012      -0.001      -0.000
C(weekend)[T.1]              0.0004      0.000      4.311      0.000       0.000       0.001
C(rainY)[T.1]            -8.034e-05      0.000     -0.677      0.498      -0.000       0.000
C(store_nbr)[T.18]          -0.0012      0.000     -7.156      0.000      -0.001      -0.001
C(store_nbr)[T.23]          -0.0003      0.000     -1.710      0.087      -0.001    4.01e-05
C(store_nbr)[T.26]          -0.0005      0.000     -3.191      0.001      -0.001      -0.000
C(store_nbr)[T.31]        -3.68e-06      0.000     -0.023      0.982      -0.000       0.000
C(store_nbr)[T.34]           0.0015      0.000      9.124      0.000       0.001       0.002
C(item_nbr)[T.2]             0.0077      0.001     11.180      0.000       0.006       0.009
C(item_nbr)[T.3]         -3.002e-16      0.001  -4.41e-13      1.000      -0.001       0.001
C(item_nbr)[T.4]          1.466e-15      0.001   2.15e-12      1.000      -0.001       0.001
C(item_nbr)[T.5]             2.4666      0.001   1795.295      0.000       2.464       2.469
C(item_nbr)[T.6]         -6.423e-16      0.001  -9.43e-13      1.000      -0.001       0.001
C(item_nbr)[T.7]         -1.858e-15      0.001  -2.73e-12      1.000      -0.001       0.001
C(item_nbr)[T.8]          1.168e-15      0.001   1.72e-12      1.000      -0.001       0.001
C(item_nbr)[T.9]             1.3815      0.012    114.118      0.000       1.358       1.405
C(item_nbr)[T.10]            0.0139      0.001     20.146      0.000       0.013       0.015
C(item_nbr)[T.11]        -6.787e-16      0.001  -9.97e-13      1.000      -0.001       0.001
C(item_nbr)[T.12]        -3.397e-18      0.001  -4.99e-15      1.000      -0.001       0.001
C(item_nbr)[T.13]         6.067e-17      0.001   8.91e-14      1.000      -0.001       0.001
C(item_nbr)[T.14]        -5.749e-16      0.001  -8.45e-13      1.000      -0.001       0.001
C(item_nbr)[T.15]          3.68e-15      0.001   5.41e-12      1.000      -0.001       0.001
C(item_nbr)[T.16]         5.964e-16      0.001   8.76e-13      1.000      -0.001       0.001
C(item_nbr)[T.17]         6.842e-16      0.001      1e-12      1.000      -0.001       0.001
C(item_nbr)[T.18]         2.367e-16      0.001   3.48e-13      1.000      -0.001       0.001
C(item_nbr)[T.19]         9.251e-16      0.001   1.36e-12      1.000      -0.001       0.001
C(item_nbr)[T.20]         2.356e-15      0.001   3.46e-12      1.000      -0.001       0.001
C(item_nbr)[T.21]          1.31e-15      0.001   1.92e-12      1.000      -0.001       0.001
C(item_nbr)[T.22]          1.23e-15      0.001   1.81e-12      1.000      -0.001       0.001
C(item_nbr)[T.23]        -1.936e-16      0.001  -2.84e-13      1.000      -0.001       0.001
C(item_nbr)[T.24]        -3.485e-15      0.001  -5.12e-12      1.000      -0.001       0.001
C(item_nbr)[T.25]         1.135e-16      0.001   1.67e-13      1.000      -0.001       0.001
C(item_nbr)[T.26]         3.902e-16      0.001   5.73e-13      1.000      -0.001       0.001
C(item_nbr)[T.27]         2.761e-16      0.001   4.06e-13      1.000      -0.001       0.001
C(item_nbr)[T.28]         2.568e-16      0.001   3.77e-13      1.000      -0.001       0.001
C(item_nbr)[T.29]            0.0294      0.001     42.773      0.000       0.028       0.031
C(item_nbr)[T.30]         5.256e-16      0.001   7.72e-13      1.000      -0.001       0.001
C(item_nbr)[T.31]            0.0188      0.001     27.396      0.000       0.017       0.020
C(item_nbr)[T.32]         4.099e-16      0.001   6.02e-13      1.000      -0.001       0.001
C(item_nbr)[T.33]         3.222e-16      0.001   4.73e-13      1.000      -0.001       0.001
C(item_nbr)[T.34]         5.743e-16      0.001   8.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.35]         6.464e-16      0.001    9.5e-13      1.000      -0.001       0.001
C(item_nbr)[T.36]          7.23e-16      0.001   1.06e-12      1.000      -0.001       0.001
C(item_nbr)[T.37]         7.388e-05      0.001      0.103      0.918      -0.001       0.001
C(item_nbr)[T.38]         2.908e-16      0.001   4.27e-13      1.000      -0.001       0.001
C(item_nbr)[T.39]         4.514e-16      0.001   6.63e-13      1.000      -0.001       0.001
C(item_nbr)[T.40]         5.651e-16      0.001    8.3e-13      1.000      -0.001       0.001
C(item_nbr)[T.41]          4.23e-16      0.001   6.21e-13      1.000      -0.001       0.001
C(item_nbr)[T.42]            0.0006      0.001      0.821      0.412      -0.001       0.002
C(item_nbr)[T.43]          3.92e-16      0.001   5.76e-13      1.000      -0.001       0.001
C(item_nbr)[T.44]         3.759e-16      0.001   5.52e-13      1.000      -0.001       0.001
C(item_nbr)[T.45]            3.7130      0.001   4029.054      0.000       3.711       3.715
C(item_nbr)[T.46]         3.827e-16      0.001   5.62e-13      1.000      -0.001       0.001
C(item_nbr)[T.47]         3.603e-16      0.001   5.29e-13      1.000      -0.001       0.001
C(item_nbr)[T.48]         5.945e-16      0.001   8.73e-13      1.000      -0.001       0.001
C(item_nbr)[T.49]         6.285e-16      0.001   9.23e-13      1.000      -0.001       0.001
C(item_nbr)[T.50]          4.68e-16      0.001   6.87e-13      1.000      -0.001       0.001
C(item_nbr)[T.51]          4.65e-16      0.001   6.83e-13      1.000      -0.001       0.001
C(item_nbr)[T.52]            0.0279      0.001     40.265      0.000       0.027       0.029
C(item_nbr)[T.53]          6.49e-16      0.001   9.53e-13      1.000      -0.001       0.001
C(item_nbr)[T.54]         5.789e-16      0.001    8.5e-13      1.000      -0.001       0.001
C(item_nbr)[T.55]         4.413e-16      0.001   6.48e-13      1.000      -0.001       0.001
C(item_nbr)[T.56]            0.0142      0.001     20.573      0.000       0.013       0.016
C(item_nbr)[T.57]            0.0010      0.001      1.410      0.159      -0.000       0.002
C(item_nbr)[T.58]          5.25e-16      0.001   7.71e-13      1.000      -0.001       0.001
C(item_nbr)[T.59]        -5.452e-17      0.001  -8.01e-14      1.000      -0.001       0.001
C(item_nbr)[T.60]         4.194e-16      0.001   6.16e-13      1.000      -0.001       0.001
C(item_nbr)[T.61]         2.931e-16      0.001   4.31e-13      1.000      -0.001       0.001
C(item_nbr)[T.62]          5.54e-16      0.001   8.14e-13      1.000      -0.001       0.001
C(item_nbr)[T.63]         5.117e-16      0.001   7.52e-13      1.000      -0.001       0.001
C(item_nbr)[T.64]         5.312e-16      0.001    7.8e-13      1.000      -0.001       0.001
C(item_nbr)[T.65]         5.781e-16      0.001   8.49e-13      1.000      -0.001       0.001
C(item_nbr)[T.66]         5.049e-16      0.001   7.42e-13      1.000      -0.001       0.001
C(item_nbr)[T.67]            0.0001      0.001      0.207      0.836      -0.001       0.002
C(item_nbr)[T.68]         5.947e-16      0.001   8.74e-13      1.000      -0.001       0.001
C(item_nbr)[T.69]         4.622e-16      0.001   6.79e-13      1.000      -0.001       0.001
C(item_nbr)[T.70]         4.744e-16      0.001   6.97e-13      1.000      -0.001       0.001
C(item_nbr)[T.71]         4.192e-16      0.001   6.16e-13      1.000      -0.001       0.001
C(item_nbr)[T.72]            0.0119      0.001     17.201      0.000       0.011       0.013
C(item_nbr)[T.73]         6.811e-16      0.001      1e-12      1.000      -0.001       0.001
C(item_nbr)[T.74]         5.506e-16      0.001   8.09e-13      1.000      -0.001       0.001
C(item_nbr)[T.75]         4.625e-16      0.001   6.79e-13      1.000      -0.001       0.001
C(item_nbr)[T.76]         4.784e-16      0.001   7.03e-13      1.000      -0.001       0.001
C(item_nbr)[T.77]         4.412e-16      0.001   6.48e-13      1.000      -0.001       0.001
C(item_nbr)[T.78]         5.208e-16      0.001   7.65e-13      1.000      -0.001       0.001
C(item_nbr)[T.79]          3.04e-16      0.001   4.47e-13      1.000      -0.001       0.001
C(item_nbr)[T.80]         3.959e-16      0.001   5.81e-13      1.000      -0.001       0.001
C(item_nbr)[T.81]         5.429e-16      0.001   7.97e-13      1.000      -0.001       0.001
C(item_nbr)[T.82]          5.73e-16      0.001   8.42e-13      1.000      -0.001       0.001
C(item_nbr)[T.83]         4.028e-16      0.001   5.92e-13      1.000      -0.001       0.001
C(item_nbr)[T.84]            0.0001      0.001      0.197      0.844      -0.001       0.001
C(item_nbr)[T.85]         5.527e-16      0.001   8.12e-13      1.000      -0.001       0.001
C(item_nbr)[T.86]         5.435e-16      0.001   7.98e-13      1.000      -0.001       0.001
C(item_nbr)[T.87]         4.472e-16      0.001   6.57e-13      1.000      -0.001       0.001
C(item_nbr)[T.88]          5.27e-16      0.001   7.74e-13      1.000      -0.001       0.001
C(item_nbr)[T.89]         5.584e-16      0.001    8.2e-13      1.000      -0.001       0.001
C(item_nbr)[T.90]           3.6e-16      0.001   5.29e-13      1.000      -0.001       0.001
C(item_nbr)[T.91]         5.061e-16      0.001   7.43e-13      1.000      -0.001       0.001
C(item_nbr)[T.92]         5.411e-16      0.001   7.95e-13      1.000      -0.001       0.001
C(item_nbr)[T.93]            0.0109      0.001     15.830      0.000       0.010       0.012
C(item_nbr)[T.94]         5.894e-16      0.001   8.66e-13      1.000      -0.001       0.001
C(item_nbr)[T.95]         5.101e-16      0.001   7.49e-13      1.000      -0.001       0.001
C(item_nbr)[T.96]         5.464e-16      0.001   8.03e-13      1.000      -0.001       0.001
C(item_nbr)[T.97]         4.221e-16      0.001    6.2e-13      1.000      -0.001       0.001
C(item_nbr)[T.98]            0.0201      0.001     29.290      0.000       0.019       0.021
C(item_nbr)[T.99]         4.297e-16      0.001   6.31e-13      1.000      -0.001       0.001
C(item_nbr)[T.100]        5.139e-16      0.001   7.55e-13      1.000      -0.001       0.001
C(item_nbr)[T.101]         5.98e-16      0.001   8.78e-13      1.000      -0.001       0.001
C(item_nbr)[T.102]        4.428e-16      0.001    6.5e-13      1.000      -0.001       0.001
C(item_nbr)[T.103]        5.536e-16      0.001   8.13e-13      1.000      -0.001       0.001
C(item_nbr)[T.104]           0.0001      0.001      0.177      0.859      -0.001       0.001
C(item_nbr)[T.105]           0.0002      0.001      0.360      0.719      -0.001       0.002
C(item_nbr)[T.106]         6.68e-16      0.001   9.81e-13      1.000      -0.001       0.001
C(item_nbr)[T.107]        6.352e-16      0.001   9.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.108]        3.679e-16      0.001    5.4e-13      1.000      -0.001       0.001
C(item_nbr)[T.109]        3.091e-16      0.001   4.54e-13      1.000      -0.001       0.001
C(item_nbr)[T.110]        5.296e-16      0.001   7.78e-13      1.000      -0.001       0.001
C(item_nbr)[T.111]        1.925e-16      0.001   2.83e-13      1.000      -0.001       0.001
scale(tmax)                 -0.0003      0.001     -0.506      0.613      -0.001       0.001
scale(tmin)               5.695e-05      0.001      0.105      0.916      -0.001       0.001
scale(tavg)                 -0.0001      0.001     -0.220      0.826      -0.001       0.001
scale(dewpoint)              0.0031      0.001      3.116      0.002       0.001       0.005
scale(wetbulb)           -5.233e-05      0.001     -0.078      0.938      -0.001       0.001
scale(heat)                 -0.0007      0.001     -1.278      0.201      -0.002       0.000
scale(cool)                  0.0005      0.000      1.346      0.178      -0.000       0.001
scale(snowfall)          -6.128e-05   4.72e-05     -1.299      0.194      -0.000    3.12e-05
scale(preciptotal)        -8.43e-05   5.29e-05     -1.593      0.111      -0.000    1.94e-05
scale(stnpressure)       -4.742e-05      0.000     -0.140      0.889      -0.001       0.001
scale(sealevel)           6.945e-05      0.000      0.200      0.842      -0.001       0.001
scale(resultspeed)        6.519e-05      0.000      0.465      0.642      -0.000       0.000
scale(avgspeed)             -0.0003      0.000     -1.928      0.054      -0.001    5.07e-06
scale(relative_humility)    -0.0010      0.000     -3.243      0.001      -0.002      -0.000
scale(windchill)            -0.0035      0.001     -3.158      0.002      -0.006      -0.001
==============================================================================
Omnibus:                  1020631.169   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       2165508358.424
Skew:                          10.967   Prob(JB):                         0.00
Kurtosis:                     293.631   Cond. No.                     1.36e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.71e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [22]:
ls1

['depart', 'sunrise', 'sunset', 'resultdir', 'daytime']

### 3. VIF 확인

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# all_cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
#         'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
#         'windchill', 'depart', 'sunrise', 'sunset', 'snowfall' ]
cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
        'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
        'windchill', 'snowfall' ]

y = df2_1.loc[:,cols]
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(y.values, i) for i in range(y.shape[1])]
vif["features"] = y.columns
vif = vif.sort_values("VIF Factor", ascending=False).reset_index(drop=True)
vif

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:167: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

      VIF Factor           features
0            inf               tmax
1            inf               tmin
2            inf               tavg
3   1.307382e+06           sealevel
4   1.286596e+06        stnpressure
5   4.762758e+03          windchill
6   2.965890e+03           dewpoint
7   2.336441e+03            wetbulb
8   8.036914e+02  relative_humility
9   2.117969e+02               heat
10  8.219866e+01               cool
11  4.982277e+01           avgspeed
12  2.950416e+01        resultspeed
13  1.332450e+00        preciptotal
14  1.020124e+00           snowfall

### 4. VIF 근거, 빼고 다시 Model 돌림.

In [24]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(cool)\
                            + scale(snowfall) + scale(preciptotal) + scale(resultspeed)  \
                            + scale(avgspeed) + C(year) + C(month) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.977
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                 1.923e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:39:11   Log-Likelihood:             1.1609e+06
No. Observations:              611815   AIC:                        -2.322e+06
Df Residuals:                  611679   BIC:                        -2.320e+06
Df Model:                         135
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(year)[2012]          0.0004      0.001      0.800      0.424      -0.001       0.001
C(year)[2013]          0.0004      0.001      0.669      0.503      -0.001       0.001
C(year)[2014]         -0.0008      0.001     -1.537      0.124      -0.002       0.000
C(month)[T.2]         -0.0003      0.000     -1.451      0.147      -0.001       0.000
C(month)[T.3]         -0.0002      0.000     -0.957      0.339      -0.001       0.000
C(month)[T.4]          0.0002      0.000      0.765      0.444      -0.000       0.001
C(month)[T.5]       3.667e-05      0.000      0.155      0.877      -0.000       0.000
C(month)[T.6]          0.0004      0.000      1.378      0.168      -0.000       0.001
C(month)[T.7]          0.0004      0.000      1.263      0.207      -0.000       0.001
C(month)[T.8]          0.0001      0.000      0.399      0.690      -0.000       0.001
C(month)[T.9]         -0.0003      0.000     -1.069      0.285      -0.001       0.000
C(month)[T.10]        -0.0004      0.000     -1.569      0.117      -0.001    8.78e-05
C(month)[T.11]        -0.0008      0.000     -3.262      0.001      -0.001      -0.000
C(month)[T.12]        -0.0008      0.000     -3.351      0.001      -0.001      -0.000
C(weekend)[T.1]        0.0005      0.000      4.383      0.000       0.000       0.001
C(rainY)[T.1]      -4.887e-05      0.000     -0.464      0.643      -0.000       0.000
C(store_nbr)[T.18]    -0.0012      0.000     -7.156      0.000      -0.001      -0.001
C(store_nbr)[T.23]    -0.0003      0.000     -1.711      0.087      -0.001       4e-05
C(store_nbr)[T.26]    -0.0005      0.000     -3.192      0.001      -0.001      -0.000
C(store_nbr)[T.31] -3.898e-06      0.000     -0.024      0.981      -0.000       0.000
C(store_nbr)[T.34]     0.0015      0.000      9.124      0.000       0.001       0.002
C(item_nbr)[T.2]       0.0077      0.001     11.180      0.000       0.006       0.009
C(item_nbr)[T.3]    4.617e-15      0.001   6.78e-12      1.000      -0.001       0.001
C(item_nbr)[T.4]    2.268e-17      0.001   3.33e-14      1.000      -0.001       0.001
C(item_nbr)[T.5]       2.4666      0.001   1795.289      0.000       2.464       2.469
C(item_nbr)[T.6]    4.452e-15      0.001   6.54e-12      1.000      -0.001       0.001
C(item_nbr)[T.7]    2.887e-16      0.001   4.24e-13      1.000      -0.001       0.001
C(item_nbr)[T.8]   -2.011e-15      0.001  -2.95e-12      1.000      -0.001       0.001
C(item_nbr)[T.9]       1.3816      0.012    114.126      0.000       1.358       1.405
C(item_nbr)[T.10]      0.0139      0.001     20.147      0.000       0.013       0.015
C(item_nbr)[T.11]  -4.236e-17      0.001  -6.22e-14      1.000      -0.001       0.001
C(item_nbr)[T.12]  -8.284e-16      0.001  -1.22e-12      1.000      -0.001       0.001
C(item_nbr)[T.13]  -1.211e-15      0.001  -1.78e-12      1.000      -0.001       0.001
C(item_nbr)[T.14]  -9.673e-16      0.001  -1.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.15]   -1.07e-15      0.001  -1.57e-12      1.000      -0.001       0.001
C(item_nbr)[T.16]  -9.991e-16      0.001  -1.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.17]  -9.157e-16      0.001  -1.35e-12      1.000      -0.001       0.001
C(item_nbr)[T.18]  -9.093e-16      0.001  -1.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.19]  -9.441e-16      0.001  -1.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.20]  -9.847e-16      0.001  -1.45e-12      1.000      -0.001       0.001
C(item_nbr)[T.21]  -8.937e-16      0.001  -1.31e-12      1.000      -0.001       0.001
C(item_nbr)[T.22]  -9.903e-16      0.001  -1.45e-12      1.000      -0.001       0.001
C(item_nbr)[T.23]  -9.098e-16      0.001  -1.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.24]  -1.119e-15      0.001  -1.64e-12      1.000      -0.001       0.001
C(item_nbr)[T.25]  -8.884e-16      0.001   -1.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.26]  -1.005e-15      0.001  -1.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.27]  -8.811e-16      0.001  -1.29e-12      1.000      -0.001       0.001
C(item_nbr)[T.28]  -1.061e-15      0.001  -1.56e-12      1.000      -0.001       0.001
C(item_nbr)[T.29]      0.0294      0.001     42.773      0.000       0.028       0.031
C(item_nbr)[T.30]  -8.999e-16      0.001  -1.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.31]      0.0188      0.001     27.396      0.000       0.017       0.020
C(item_nbr)[T.32]  -9.315e-16      0.001  -1.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.33]  -8.855e-16      0.001   -1.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.34]  -9.933e-16      0.001  -1.46e-12      1.000      -0.001       0.001
C(item_nbr)[T.35]  -9.088e-16      0.001  -1.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.36]  -9.974e-16      0.001  -1.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.37]   7.624e-05      0.001      0.107      0.915      -0.001       0.001
C(item_nbr)[T.38]  -9.977e-16      0.001  -1.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.39]  -1.042e-15      0.001  -1.53e-12      1.000      -0.001       0.001
C(item_nbr)[T.40]  -8.696e-16      0.001  -1.28e-12      1.000      -0.001       0.001
C(item_nbr)[T.41]  -9.125e-16      0.001  -1.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.42]      0.0006      0.001      0.822      0.411      -0.001       0.002
C(item_nbr)[T.43]  -9.823e-16      0.001  -1.44e-12      1.000      -0.001       0.001
C(item_nbr)[T.44]   -8.49e-16      0.001  -1.25e-12      1.000      -0.001       0.001
C(item_nbr)[T.45]      3.7130      0.001   4029.035      0.000       3.711       3.715
C(item_nbr)[T.46]  -9.145e-16      0.001  -1.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.47]  -9.813e-16      0.001  -1.44e-12      1.000      -0.001       0.001
C(item_nbr)[T.48]  -9.185e-16      0.001  -1.35e-12      1.000      -0.001       0.001
C(item_nbr)[T.49]  -9.162e-16      0.001  -1.35e-12      1.000      -0.001       0.001
C(item_nbr)[T.50]  -1.017e-15      0.001  -1.49e-12      1.000      -0.001       0.001
C(item_nbr)[T.51]  -8.937e-16      0.001  -1.31e-12      1.000      -0.001       0.001
C(item_nbr)[T.52]      0.0279      0.001     40.267      0.000       0.027       0.029
C(item_nbr)[T.53]  -8.125e-16      0.001  -1.19e-12      1.000      -0.001       0.001
C(item_nbr)[T.54]  -9.222e-16      0.001  -1.35e-12      1.000      -0.001       0.001
C(item_nbr)[T.55]  -8.388e-16      0.001  -1.23e-12      1.000      -0.001       0.001
C(item_nbr)[T.56]      0.0142      0.001     20.572      0.000       0.013       0.016
C(item_nbr)[T.57]      0.0010      0.001      1.410      0.159      -0.000       0.002
C(item_nbr)[T.58]  -9.296e-16      0.001  -1.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.59]  -8.602e-16      0.001  -1.26e-12      1.000      -0.001       0.001
C(item_nbr)[T.60]  -8.895e-16      0.001  -1.31e-12      1.000      -0.001       0.001
C(item_nbr)[T.61]  -8.193e-16      0.001   -1.2e-12      1.000      -0.001       0.001
C(item_nbr)[T.62]  -9.955e-16      0.001  -1.46e-12      1.000      -0.001       0.001
C(item_nbr)[T.63]  -9.658e-16      0.001  -1.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.64]   -8.45e-16      0.001  -1.24e-12      1.000      -0.001       0.001
C(item_nbr)[T.65]  -9.405e-16      0.001  -1.38e-12      1.000      -0.001       0.001
C(item_nbr)[T.66]  -8.837e-16      0.001   -1.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.67]      0.0001      0.001      0.204      0.838      -0.001       0.002
C(item_nbr)[T.68]  -8.924e-16      0.001  -1.31e-12      1.000      -0.001       0.001
C(item_nbr)[T.69]  -8.762e-16      0.001  -1.29e-12      1.000      -0.001       0.001
C(item_nbr)[T.70]  -8.573e-16      0.001  -1.26e-12      1.000      -0.001       0.001
C(item_nbr)[T.71]  -8.226e-16      0.001  -1.21e-12      1.000      -0.001       0.001
C(item_nbr)[T.72]      0.0119      0.001     17.202      0.000       0.011       0.013
C(item_nbr)[T.73]  -9.255e-16      0.001  -1.36e-12      1.000      -0.001       0.001
C(item_nbr)[T.74]  -9.641e-16      0.001  -1.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.75]  -8.708e-16      0.001  -1.28e-12      1.000      -0.001       0.001
C(item_nbr)[T.76]  -9.471e-16      0.001  -1.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.77]  -8.838e-16      0.001   -1.3e-12      1.000      -0.001       0.001
C(item_nbr)[T.78]  -9.446e-16      0.001  -1.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.79]  -9.698e-16      0.001  -1.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.80]  -1.023e-15      0.001   -1.5e-12      1.000      -0.001       0.001
C(item_nbr)[T.81]  -8.524e-16      0.001  -1.25e-12      1.000      -0.001       0.001
C(item_nbr)[T.82]  -9.123e-16      0.001  -1.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.83]  -8.734e-16      0.001  -1.28e-12      1.000      -0.001       0.001
C(item_nbr)[T.84]      0.0001      0.001      0.198      0.843      -0.001       0.001
C(item_nbr)[T.85]  -9.111e-16      0.001  -1.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.86]  -9.721e-16      0.001  -1.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.87]  -8.453e-16      0.001  -1.24e-12      1.000      -0.001       0.001
C(item_nbr)[T.88]   -1.05e-15      0.001  -1.54e-12      1.000      -0.001       0.001
C(item_nbr)[T.89]   -8.57e-16      0.001  -1.26e-12      1.000      -0.001       0.001
C(item_nbr)[T.90]  -9.541e-16      0.001   -1.4e-12      1.000      -0.001       0.001
C(item_nbr)[T.91]  -9.586e-16      0.001  -1.41e-12      1.000      -0.001       0.001
C(item_nbr)[T.92]  -8.639e-16      0.001  -1.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.93]      0.0109      0.001     15.828      0.000       0.010       0.012
C(item_nbr)[T.94]  -1.079e-15      0.001  -1.58e-12      1.000      -0.001       0.001
C(item_nbr)[T.95]  -1.052e-15      0.001  -1.54e-12      1.000      -0.001       0.001
C(item_nbr)[T.96]  -9.787e-16      0.001  -1.44e-12      1.000      -0.001       0.001
C(item_nbr)[T.97]  -1.104e-15      0.001  -1.62e-12      1.000      -0.001       0.001
C(item_nbr)[T.98]      0.0201      0.001     29.289      0.000       0.019       0.021
C(item_nbr)[T.99]  -1.142e-15      0.001  -1.68e-12      1.000      -0.001       0.001
C(item_nbr)[T.100] -1.037e-15      0.001  -1.52e-12      1.000      -0.001       0.001
C(item_nbr)[T.101] -5.954e-16      0.001  -8.75e-13      1.000      -0.001       0.001
C(item_nbr)[T.102] -7.628e-16      0.001  -1.12e-12      1.000      -0.001       0.001
C(item_nbr)[T.103] -1.203e-15      0.001  -1.77e-12      1.000      -0.001       0.001
C(item_nbr)[T.104]     0.0001      0.001      0.177      0.859      -0.001       0.001
C(item_nbr)[T.105]     0.0002      0.001      0.360      0.719      -0.001       0.002
C(item_nbr)[T.106] -1.177e-15      0.001  -1.73e-12      1.000      -0.001       0.001
C(item_nbr)[T.107] -7.364e-16      0.001  -1.08e-12      1.000      -0.001       0.001
C(item_nbr)[T.108]  -6.38e-16      0.001  -9.37e-13      1.000      -0.001       0.001
C(item_nbr)[T.109] -1.126e-15      0.001  -1.65e-12      1.000      -0.001       0.001
C(item_nbr)[T.110]  1.122e-16      0.001   1.65e-13      1.000      -0.001       0.001
C(item_nbr)[T.111] -2.049e-15      0.001  -3.01e-12      1.000      -0.001       0.001
scale(cool)        -6.842e-05   9.49e-05     -0.721      0.471      -0.000       0.000
scale(snowfall)    -7.365e-05   4.68e-05     -1.574      0.115      -0.000    1.81e-05
scale(preciptotal) -8.946e-05   5.14e-05     -1.740      0.082      -0.000    1.13e-05
scale(resultspeed)     0.0001      0.000      0.799      0.424      -0.000       0.000
scale(avgspeed)       -0.0001      0.000     -1.112      0.266      -0.000       0.000
==============================================================================
Omnibus:                  1020669.459   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       2165842959.284
Skew:                          10.968   Prob(JB):                         0.00
Kurtosis:                     293.654   Cond. No.                         365.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### 5. VIF 재확인

In [25]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# all_cols = ['tmax','tmin','tavg','dewpoint','wetbulb','heat','cool','preciptotal',\
#         'stnpressure','sealevel','resultspeed','avgspeed','relative_humility',\
#         'windchill', 'depart', 'sunrise', 'sunset', 'snowfall' ]
cols = ['cool', 'snowfall', 'preciptotal', 'resultspeed', 'avgspeed']

y = df2_1.loc[:,cols]
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(y.values, i) for i in range(y.shape[1])]
vif["features"] = y.columns
vif = vif.sort_values("VIF Factor", ascending=False).reset_index(drop=True)
vif

   VIF Factor     features
0   25.764382     avgspeed
1   24.651152  resultspeed
2    1.421638         cool
3    1.139324  preciptotal
4    1.001385     snowfall

### 6. VIF 근거로 변수 제외하고  Model 돌림.

In [26]:
# OLS - df2_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(cool)\
                            + scale(snowfall) + scale(preciptotal) + C(year) + C(month) + C(weekend) \
                            + C(rainY) + C(store_nbr) + C(item_nbr) + 0', data = df2_1)
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.977
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                 1.952e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:39:39   Log-Likelihood:             1.1609e+06
No. Observations:              611815   AIC:                        -2.322e+06
Df Residuals:                  611681   BIC:                        -2.320e+06
Df Model:                         133
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(year)[2012]          0.0004      0.001      0.762      0.446      -0.001       0.001
C(year)[2013]          0.0003      0.001      0.628      0.530      -0.001       0.001
C(year)[2014]         -0.0009      0.001     -1.622      0.105      -0.002       0.000
C(month)[T.2]         -0.0003      0.000     -1.485      0.138      -0.001       0.000
C(month)[T.3]         -0.0002      0.000     -1.006      0.314      -0.001       0.000
C(month)[T.4]          0.0002      0.000      0.747      0.455      -0.000       0.001
C(month)[T.5]       5.262e-05      0.000      0.223      0.823      -0.000       0.001
C(month)[T.6]          0.0004      0.000      1.568      0.117      -0.000       0.001
C(month)[T.7]          0.0005      0.000      1.586      0.113      -0.000       0.001
C(month)[T.8]          0.0002      0.000      0.686      0.493      -0.000       0.001
C(month)[T.9]         -0.0002      0.000     -0.862      0.388      -0.001       0.000
C(month)[T.10]        -0.0003      0.000     -1.486      0.137      -0.001       0.000
C(month)[T.11]        -0.0008      0.000     -3.224      0.001      -0.001      -0.000
C(month)[T.12]        -0.0008      0.000     -3.266      0.001      -0.001      -0.000
C(weekend)[T.1]        0.0005      0.000      4.418      0.000       0.000       0.001
C(rainY)[T.1]      -4.755e-05      0.000     -0.453      0.651      -0.000       0.000
C(store_nbr)[T.18]    -0.0012      0.000     -7.156      0.000      -0.001      -0.001
C(store_nbr)[T.23]    -0.0003      0.000     -1.711      0.087      -0.001       4e-05
C(store_nbr)[T.26]    -0.0005      0.000     -3.192      0.001      -0.001      -0.000
C(store_nbr)[T.31] -3.911e-06      0.000     -0.024      0.981      -0.000       0.000
C(store_nbr)[T.34]     0.0015      0.000      9.124      0.000       0.001       0.002
C(item_nbr)[T.2]       0.0077      0.001     11.180      0.000       0.006       0.009
C(item_nbr)[T.3]    -1.73e-15      0.001  -2.54e-12      1.000      -0.001       0.001
C(item_nbr)[T.4]   -3.339e-15      0.001   -4.9e-12      1.000      -0.001       0.001
C(item_nbr)[T.5]       2.4666      0.001   1795.297      0.000       2.464       2.469
C(item_nbr)[T.6]    2.957e-16      0.001   4.34e-13      1.000      -0.001       0.001
C(item_nbr)[T.7]    1.996e-16      0.001   2.93e-13      1.000      -0.001       0.001
C(item_nbr)[T.8]    -1.25e-15      0.001  -1.84e-12      1.000      -0.001       0.001
C(item_nbr)[T.9]       1.3816      0.012    114.127      0.000       1.358       1.405
C(item_nbr)[T.10]      0.0139      0.001     20.147      0.000       0.013       0.015
C(item_nbr)[T.11]  -1.348e-16      0.001  -1.98e-13      1.000      -0.001       0.001
C(item_nbr)[T.12]  -3.735e-16      0.001  -5.49e-13      1.000      -0.001       0.001
C(item_nbr)[T.13]  -7.023e-16      0.001  -1.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.14]  -2.884e-16      0.001  -4.24e-13      1.000      -0.001       0.001
C(item_nbr)[T.15]  -4.846e-16      0.001  -7.12e-13      1.000      -0.001       0.001
C(item_nbr)[T.16]  -5.621e-16      0.001  -8.26e-13      1.000      -0.001       0.001
C(item_nbr)[T.17]  -5.803e-16      0.001  -8.52e-13      1.000      -0.001       0.001
C(item_nbr)[T.18]  -4.384e-16      0.001  -6.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.19]  -3.943e-16      0.001  -5.79e-13      1.000      -0.001       0.001
C(item_nbr)[T.20]  -5.203e-16      0.001  -7.64e-13      1.000      -0.001       0.001
C(item_nbr)[T.21]  -6.005e-16      0.001  -8.82e-13      1.000      -0.001       0.001
C(item_nbr)[T.22]  -7.638e-16      0.001  -1.12e-12      1.000      -0.001       0.001
C(item_nbr)[T.23]  -7.388e-16      0.001  -1.09e-12      1.000      -0.001       0.001
C(item_nbr)[T.24]  -6.144e-16      0.001  -9.03e-13      1.000      -0.001       0.001
C(item_nbr)[T.25]  -4.012e-16      0.001  -5.89e-13      1.000      -0.001       0.001
C(item_nbr)[T.26]  -5.064e-16      0.001  -7.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.27]  -4.773e-16      0.001  -7.01e-13      1.000      -0.001       0.001
C(item_nbr)[T.28]  -4.626e-16      0.001   -6.8e-13      1.000      -0.001       0.001
C(item_nbr)[T.29]      0.0294      0.001     42.773      0.000       0.028       0.031
C(item_nbr)[T.30]  -5.078e-16      0.001  -7.46e-13      1.000      -0.001       0.001
C(item_nbr)[T.31]      0.0188      0.001     27.396      0.000       0.017       0.020
C(item_nbr)[T.32]  -6.562e-16      0.001  -9.64e-13      1.000      -0.001       0.001
C(item_nbr)[T.33]  -3.357e-16      0.001  -4.93e-13      1.000      -0.001       0.001
C(item_nbr)[T.34]  -5.146e-16      0.001  -7.56e-13      1.000      -0.001       0.001
C(item_nbr)[T.35]  -5.145e-16      0.001  -7.56e-13      1.000      -0.001       0.001
C(item_nbr)[T.36]  -6.531e-16      0.001  -9.59e-13      1.000      -0.001       0.001
C(item_nbr)[T.37]   7.636e-05      0.001      0.107      0.915      -0.001       0.001
C(item_nbr)[T.38]  -4.877e-16      0.001  -7.16e-13      1.000      -0.001       0.001
C(item_nbr)[T.39]  -5.028e-16      0.001  -7.39e-13      1.000      -0.001       0.001
C(item_nbr)[T.40]   -5.22e-16      0.001  -7.67e-13      1.000      -0.001       0.001
C(item_nbr)[T.41]  -4.921e-16      0.001  -7.23e-13      1.000      -0.001       0.001
C(item_nbr)[T.42]      0.0006      0.001      0.821      0.411      -0.001       0.002
C(item_nbr)[T.43]  -4.122e-16      0.001  -6.05e-13      1.000      -0.001       0.001
C(item_nbr)[T.44]  -5.427e-16      0.001  -7.97e-13      1.000      -0.001       0.001
C(item_nbr)[T.45]      3.7130      0.001   4029.041      0.000       3.711       3.715
C(item_nbr)[T.46]  -4.677e-16      0.001  -6.87e-13      1.000      -0.001       0.001
C(item_nbr)[T.47]  -5.673e-16      0.001  -8.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.48]  -4.308e-16      0.001  -6.33e-13      1.000      -0.001       0.001
C(item_nbr)[T.49]  -5.715e-16      0.001  -8.39e-13      1.000      -0.001       0.001
C(item_nbr)[T.50]   -5.43e-16      0.001  -7.98e-13      1.000      -0.001       0.001
C(item_nbr)[T.51]  -4.699e-16      0.001   -6.9e-13      1.000      -0.001       0.001
C(item_nbr)[T.52]      0.0279      0.001     40.267      0.000       0.027       0.029
C(item_nbr)[T.53]  -3.682e-16      0.001  -5.41e-13      1.000      -0.001       0.001
C(item_nbr)[T.54]  -6.049e-16      0.001  -8.88e-13      1.000      -0.001       0.001
C(item_nbr)[T.55]  -5.059e-16      0.001  -7.43e-13      1.000      -0.001       0.001
C(item_nbr)[T.56]      0.0142      0.001     20.572      0.000       0.013       0.016
C(item_nbr)[T.57]      0.0010      0.001      1.410      0.159      -0.000       0.002
C(item_nbr)[T.58]  -3.862e-16      0.001  -5.67e-13      1.000      -0.001       0.001
C(item_nbr)[T.59]  -4.017e-16      0.001   -5.9e-13      1.000      -0.001       0.001
C(item_nbr)[T.60]  -4.324e-16      0.001  -6.35e-13      1.000      -0.001       0.001
C(item_nbr)[T.61]  -4.592e-16      0.001  -6.75e-13      1.000      -0.001       0.001
C(item_nbr)[T.62]  -4.375e-16      0.001  -6.43e-13      1.000      -0.001       0.001
C(item_nbr)[T.63]  -5.149e-16      0.001  -7.56e-13      1.000      -0.001       0.001
C(item_nbr)[T.64]  -3.338e-16      0.001   -4.9e-13      1.000      -0.001       0.001
C(item_nbr)[T.65]  -4.413e-16      0.001  -6.48e-13      1.000      -0.001       0.001
C(item_nbr)[T.66]  -5.269e-16      0.001  -7.74e-13      1.000      -0.001       0.001
C(item_nbr)[T.67]      0.0001      0.001      0.203      0.839      -0.001       0.002
C(item_nbr)[T.68]   -4.52e-16      0.001  -6.64e-13      1.000      -0.001       0.001
C(item_nbr)[T.69]   -4.69e-16      0.001  -6.89e-13      1.000      -0.001       0.001
C(item_nbr)[T.70]  -4.757e-16      0.001  -6.99e-13      1.000      -0.001       0.001
C(item_nbr)[T.71]  -4.168e-16      0.001  -6.12e-13      1.000      -0.001       0.001
C(item_nbr)[T.72]      0.0119      0.001     17.203      0.000       0.011       0.013
C(item_nbr)[T.73]  -4.101e-16      0.001  -6.02e-13      1.000      -0.001       0.001
C(item_nbr)[T.74]  -4.136e-16      0.001  -6.08e-13      1.000      -0.001       0.001
C(item_nbr)[T.75]  -4.687e-16      0.001  -6.88e-13      1.000      -0.001       0.001
C(item_nbr)[T.76]  -5.779e-16      0.001  -8.49e-13      1.000      -0.001       0.001
C(item_nbr)[T.77]  -3.537e-16      0.001  -5.19e-13      1.000      -0.001       0.001
C(item_nbr)[T.78]  -5.859e-16      0.001  -8.61e-13      1.000      -0.001       0.001
C(item_nbr)[T.79]  -3.666e-16      0.001  -5.38e-13      1.000      -0.001       0.001
C(item_nbr)[T.80]  -5.064e-16      0.001  -7.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.81]  -5.516e-16      0.001   -8.1e-13      1.000      -0.001       0.001
C(item_nbr)[T.82]  -4.662e-16      0.001  -6.85e-13      1.000      -0.001       0.001
C(item_nbr)[T.83]  -5.529e-16      0.001  -8.12e-13      1.000      -0.001       0.001
C(item_nbr)[T.84]      0.0001      0.001      0.198      0.843      -0.001       0.001
C(item_nbr)[T.85]  -5.175e-16      0.001   -7.6e-13      1.000      -0.001       0.001
C(item_nbr)[T.86]  -4.687e-16      0.001  -6.88e-13      1.000      -0.001       0.001
C(item_nbr)[T.87]  -4.147e-16      0.001  -6.09e-13      1.000      -0.001       0.001
C(item_nbr)[T.88]  -1.924e-16      0.001  -2.83e-13      1.000      -0.001       0.001
C(item_nbr)[T.89]  -3.128e-16      0.001  -4.59e-13      1.000      -0.001       0.001
C(item_nbr)[T.90]  -3.013e-16      0.001  -4.43e-13      1.000      -0.001       0.001
C(item_nbr)[T.91]  -3.312e-16      0.001  -4.87e-13      1.000      -0.001       0.001
C(item_nbr)[T.92]  -4.689e-16      0.001  -6.89e-13      1.000      -0.001       0.001
C(item_nbr)[T.93]      0.0109      0.001     15.829      0.000       0.010       0.012
C(item_nbr)[T.94]  -3.901e-16      0.001  -5.73e-13      1.000      -0.001       0.001
C(item_nbr)[T.95]  -6.342e-16      0.001  -9.32e-13      1.000      -0.001       0.001
C(item_nbr)[T.96]   -5.97e-16      0.001  -8.77e-13      1.000      -0.001       0.001
C(item_nbr)[T.97]  -4.081e-16      0.001  -5.99e-13      1.000      -0.001       0.001
C(item_nbr)[T.98]      0.0201      0.001     29.290      0.000       0.019       0.021
C(item_nbr)[T.99]  -3.684e-16      0.001  -5.41e-13      1.000      -0.001       0.001
C(item_nbr)[T.100] -3.484e-16      0.001  -5.12e-13      1.000      -0.001       0.001
C(item_nbr)[T.101] -5.063e-16      0.001  -7.44e-13      1.000      -0.001       0.001
C(item_nbr)[T.102] -5.927e-16      0.001  -8.71e-13      1.000      -0.001       0.001
C(item_nbr)[T.103] -4.467e-16      0.001  -6.56e-13      1.000      -0.001       0.001
C(item_nbr)[T.104]     0.0001      0.001      0.177      0.859      -0.001       0.001
C(item_nbr)[T.105]     0.0002      0.001      0.360      0.719      -0.001       0.002
C(item_nbr)[T.106] -4.289e-16      0.001   -6.3e-13      1.000      -0.001       0.001
C(item_nbr)[T.107] -1.262e-16      0.001  -1.85e-13      1.000      -0.001       0.001
C(item_nbr)[T.108]  7.171e-16      0.001   1.05e-12      1.000      -0.001       0.001
C(item_nbr)[T.109] -4.859e-16      0.001  -7.14e-13      1.000      -0.001       0.001
C(item_nbr)[T.110] -6.561e-16      0.001  -9.64e-13      1.000      -0.001       0.001
C(item_nbr)[T.111] -2.833e-15      0.001  -4.16e-12      1.000      -0.001       0.001
scale(cool)        -9.256e-05   8.99e-05     -1.030      0.303      -0.000    8.36e-05
scale(snowfall)    -7.271e-05   4.68e-05     -1.555      0.120      -0.000     1.9e-05
scale(preciptotal)    -0.0001   5.05e-05     -2.003      0.045      -0.000   -2.19e-06
==============================================================================
Omnibus:                  1020676.050   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       2165892043.617
Skew:                          10.968   Prob(JB):                         0.00
Kurtosis:                     293.657   Cond. No.                         278.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Anova 분석을 통해 p-value가 0.05보다 큰것은 제외

In [27]:
anova_result2_1 = sm.stats.anova_lm(result2_1).sort_values(by=['PR(>F)'], ascending = False)
anova_result2_1[anova_result2_1['PR(>F)'] <= 0.05]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

,df,sum_sq,mean_sq,F,PR(>F)
scale(preciptotal),1.0,0.005285,0.005285,4.013301,4.514313e-02
C(rainY),1.0,0.135035,0.135035,102.549448,4.225810e-24
C(month),11.0,1.188502,0.108046,82.052681,2.395980e-186
C(year),3.0,193.512423,64.504141,48986.146341,0.000000e+00
C(weekend),1.0,4.540032,4.540032,3447.820151,0.000000e+00
C(store_nbr),5.0,95.217366,19.043473,14462.115868,0.000000e+00
C(item_nbr),110.0,34083.759900,309.852363,235310.057915,0.000000e+00

### 최종 Anova 분석과 TIF 통과한 변수들을 바탕으로 최종 모델생성

In [28]:
# OLS - df2_1_1
model2_1 = sm.OLS.from_formula('log1p_units ~ scale(preciptotal) + C(rainY) + C(year) + C(month) + \
+ C(item_nbr) + C(weekend) + C(store_nbr) + 0', data = df2_1)

result = model2_1.fit()
result2_1 = model2_1.fit()
print(result2_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            log1p_units   R-squared:                       0.977
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                 1.982e+05
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        13:40:59   Log-Likelihood:             1.1609e+06
No. Observations:              611815   AIC:                        -2.322e+06
Df Residuals:                  611683   BIC:                        -2.320e+06
Df Model:                         131
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(rainY)[0]            0.0004      0.001      0.828      0.408      -0.001       0.001
C(rainY)[1]            0.0004      0.001      0.733      0.463      -0.001       0.001
C(year)[T.2013]    -5.566e-05      0.000     -0.513      0.608      -0.000       0.000
C(year)[T.2014]       -0.0012      0.000    -10.050      0.000      -0.001      -0.001
C(month)[T.2]         -0.0003      0.000     -1.380      0.168      -0.001       0.000
C(month)[T.3]         -0.0002      0.000     -0.945      0.345      -0.001       0.000
C(month)[T.4]          0.0002      0.000      0.749      0.454      -0.000       0.001
C(month)[T.5]      -2.043e-06      0.000     -0.009      0.993      -0.000       0.000
C(month)[T.6]          0.0003      0.000      1.304      0.192      -0.000       0.001
C(month)[T.7]          0.0003      0.000      1.331      0.183      -0.000       0.001
C(month)[T.8]       2.964e-05      0.000      0.137      0.891      -0.000       0.000
C(month)[T.9]         -0.0003      0.000     -1.389      0.165      -0.001       0.000
C(month)[T.10]        -0.0003      0.000     -1.508      0.131      -0.001    9.99e-05
C(month)[T.11]        -0.0007      0.000     -3.101      0.002      -0.001      -0.000
C(month)[T.12]        -0.0007      0.000     -3.132      0.002      -0.001      -0.000
C(item_nbr)[T.2]       0.0077      0.001     11.180      0.000       0.006       0.009
C(item_nbr)[T.3]    2.416e-15      0.001   3.55e-12      1.000      -0.001       0.001
C(item_nbr)[T.4]      1.5e-15      0.001    2.2e-12      1.000      -0.001       0.001
C(item_nbr)[T.5]       2.4666      0.001   1795.298      0.000       2.464       2.469
C(item_nbr)[T.6]    1.183e-15      0.001   1.74e-12      1.000      -0.001       0.001
C(item_nbr)[T.7]     1.99e-15      0.001   2.92e-12      1.000      -0.001       0.001
C(item_nbr)[T.8]    6.714e-16      0.001   9.86e-13      1.000      -0.001       0.001
C(item_nbr)[T.9]       1.3816      0.012    114.127      0.000       1.358       1.405
C(item_nbr)[T.10]      0.0139      0.001     20.147      0.000       0.013       0.015
C(item_nbr)[T.11]   1.774e-15      0.001   2.61e-12      1.000      -0.001       0.001
C(item_nbr)[T.12]   1.238e-15      0.001   1.82e-12      1.000      -0.001       0.001
C(item_nbr)[T.13]   1.968e-15      0.001   2.89e-12      1.000      -0.001       0.001
C(item_nbr)[T.14]   1.274e-15      0.001   1.87e-12      1.000      -0.001       0.001
C(item_nbr)[T.15]   1.542e-15      0.001   2.26e-12      1.000      -0.001       0.001
C(item_nbr)[T.16]   1.623e-15      0.001   2.38e-12      1.000      -0.001       0.001
C(item_nbr)[T.17]   1.707e-15      0.001   2.51e-12      1.000      -0.001       0.001
C(item_nbr)[T.18]   1.459e-15      0.001   2.14e-12      1.000      -0.001       0.001
C(item_nbr)[T.19]   1.554e-15      0.001   2.28e-12      1.000      -0.001       0.001
C(item_nbr)[T.20]   1.578e-15      0.001   2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.21]   1.609e-15      0.001   2.36e-12      1.000      -0.001       0.001
C(item_nbr)[T.22]    1.58e-15      0.001   2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.23]   1.543e-15      0.001   2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.24]   1.489e-15      0.001   2.19e-12      1.000      -0.001       0.001
C(item_nbr)[T.25]   1.416e-15      0.001   2.08e-12      1.000      -0.001       0.001
C(item_nbr)[T.26]   1.674e-15      0.001   2.46e-12      1.000      -0.001       0.001
C(item_nbr)[T.27]   1.663e-15      0.001   2.44e-12      1.000      -0.001       0.001
C(item_nbr)[T.28]   1.584e-15      0.001   2.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.29]      0.0294      0.001     42.773      0.000       0.028       0.031
C(item_nbr)[T.30]   1.576e-15      0.001   2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.31]      0.0188      0.001     27.397      0.000       0.017       0.020
C(item_nbr)[T.32]   1.544e-15      0.001   2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.33]   1.611e-15      0.001   2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.34]   1.546e-15      0.001   2.27e-12      1.000      -0.001       0.001
C(item_nbr)[T.35]   1.384e-15      0.001   2.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.36]   1.885e-15      0.001   2.77e-12      1.000      -0.001       0.001
C(item_nbr)[T.37]    7.83e-05      0.001      0.110      0.913      -0.001       0.001
C(item_nbr)[T.38]   1.407e-15      0.001   2.07e-12      1.000      -0.001       0.001
C(item_nbr)[T.39]   1.499e-15      0.001    2.2e-12      1.000      -0.001       0.001
C(item_nbr)[T.40]   7.043e-16      0.001   1.03e-12      1.000      -0.001       0.001
C(item_nbr)[T.41]   8.548e-16      0.001   1.26e-12      1.000      -0.001       0.001
C(item_nbr)[T.42]      0.0006      0.001      0.821      0.412      -0.001       0.002
C(item_nbr)[T.43]   1.014e-15      0.001   1.49e-12      1.000      -0.001       0.001
C(item_nbr)[T.44]   1.958e-15      0.001   2.88e-12      1.000      -0.001       0.001
C(item_nbr)[T.45]      3.7130      0.001   4029.038      0.000       3.711       3.715
C(item_nbr)[T.46]   1.714e-15      0.001   2.52e-12      1.000      -0.001       0.001
C(item_nbr)[T.47]   1.527e-15      0.001   2.24e-12      1.000      -0.001       0.001
C(item_nbr)[T.48]   1.256e-15      0.001   1.84e-12      1.000      -0.001       0.001
C(item_nbr)[T.49]    1.69e-15      0.001   2.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.50]   1.786e-15      0.001   2.62e-12      1.000      -0.001       0.001
C(item_nbr)[T.51]   1.767e-15      0.001    2.6e-12      1.000      -0.001       0.001
C(item_nbr)[T.52]      0.0279      0.001     40.267      0.000       0.027       0.029
C(item_nbr)[T.53]    1.68e-15      0.001   2.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.54]   1.604e-15      0.001   2.36e-12      1.000      -0.001       0.001
C(item_nbr)[T.55]   1.645e-15      0.001   2.42e-12      1.000      -0.001       0.001
C(item_nbr)[T.56]      0.0142      0.001     20.573      0.000       0.013       0.016
C(item_nbr)[T.57]      0.0010      0.001      1.410      0.158      -0.000       0.002
C(item_nbr)[T.58]   1.672e-15      0.001   2.46e-12      1.000      -0.001       0.001
C(item_nbr)[T.59]   1.762e-15      0.001   2.59e-12      1.000      -0.001       0.001
C(item_nbr)[T.60]   1.658e-15      0.001   2.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.61]    1.76e-15      0.001   2.58e-12      1.000      -0.001       0.001
C(item_nbr)[T.62]   1.629e-15      0.001   2.39e-12      1.000      -0.001       0.001
C(item_nbr)[T.63]   1.789e-15      0.001   2.63e-12      1.000      -0.001       0.001
C(item_nbr)[T.64]   1.695e-15      0.001   2.49e-12      1.000      -0.001       0.001
C(item_nbr)[T.65]   1.682e-15      0.001   2.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.66]   1.731e-15      0.001   2.54e-12      1.000      -0.001       0.001
C(item_nbr)[T.67]      0.0001      0.001      0.206      0.837      -0.001       0.002
C(item_nbr)[T.68]    1.59e-15      0.001   2.34e-12      1.000      -0.001       0.001
C(item_nbr)[T.69]   1.678e-15      0.001   2.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.70]   1.679e-15      0.001   2.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.71]   1.623e-15      0.001   2.38e-12      1.000      -0.001       0.001
C(item_nbr)[T.72]      0.0119      0.001     17.203      0.000       0.011       0.013
C(item_nbr)[T.73]   1.578e-15      0.001   2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.74]   1.518e-15      0.001   2.23e-12      1.000      -0.001       0.001
C(item_nbr)[T.75]   1.696e-15      0.001   2.49e-12      1.000      -0.001       0.001
C(item_nbr)[T.76]   1.685e-15      0.001   2.47e-12      1.000      -0.001       0.001
C(item_nbr)[T.77]   1.673e-15      0.001   2.46e-12      1.000      -0.001       0.001
C(item_nbr)[T.78]   1.615e-15      0.001   2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.79]   1.802e-15      0.001   2.65e-12      1.000      -0.001       0.001
C(item_nbr)[T.80]   1.726e-15      0.001   2.53e-12      1.000      -0.001       0.001
C(item_nbr)[T.81]   1.638e-15      0.001   2.41e-12      1.000      -0.001       0.001
C(item_nbr)[T.82]   1.631e-15      0.001    2.4e-12      1.000      -0.001       0.001
C(item_nbr)[T.83]   1.561e-15      0.001   2.29e-12      1.000      -0.001       0.001
C(item_nbr)[T.84]      0.0001      0.001      0.198      0.843      -0.001       0.001
C(item_nbr)[T.85]   1.526e-15      0.001   2.24e-12      1.000      -0.001       0.001
C(item_nbr)[T.86]   1.606e-15      0.001   2.36e-12      1.000      -0.001       0.001
C(item_nbr)[T.87]    1.71e-15      0.001   2.51e-12      1.000      -0.001       0.001
C(item_nbr)[T.88]   1.703e-15      0.001    2.5e-12      1.000      -0.001       0.001
C(item_nbr)[T.89]   1.578e-15      0.001   2.32e-12      1.000      -0.001       0.001
C(item_nbr)[T.90]   1.708e-15      0.001   2.51e-12      1.000      -0.001       0.001
C(item_nbr)[T.91]    1.62e-15      0.001   2.38e-12      1.000      -0.001       0.001
C(item_nbr)[T.92]   1.797e-15      0.001   2.64e-12      1.000      -0.001       0.001
C(item_nbr)[T.93]      0.0109      0.001     15.830      0.000       0.010       0.012
C(item_nbr)[T.94]   1.691e-15      0.001   2.48e-12      1.000      -0.001       0.001
C(item_nbr)[T.95]   1.616e-15      0.001   2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.96]   1.614e-15      0.001   2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.97]   1.657e-15      0.001   2.43e-12      1.000      -0.001       0.001
C(item_nbr)[T.98]      0.0201      0.001     29.290      0.000       0.019       0.021
C(item_nbr)[T.99]   1.661e-15      0.001   2.44e-12      1.000      -0.001       0.001
C(item_nbr)[T.100]  1.785e-15      0.001   2.62e-12      1.000      -0.001       0.001
C(item_nbr)[T.101]  1.588e-15      0.001   2.33e-12      1.000      -0.001       0.001
C(item_nbr)[T.102]  1.746e-15      0.001   2.56e-12      1.000      -0.001       0.001
C(item_nbr)[T.103]  1.665e-15      0.001   2.44e-12      1.000      -0.001       0.001
C(item_nbr)[T.104]     0.0001      0.001      0.177      0.859      -0.001       0.001
C(item_nbr)[T.105]     0.0002      0.001      0.360      0.719      -0.001       0.002
C(item_nbr)[T.106]  1.612e-15      0.001   2.37e-12      1.000      -0.001       0.001
C(item_nbr)[T.107]  1.302e-15      0.001   1.91e-12      1.000      -0.001       0.001
C(item_nbr)[T.108]  1.706e-15      0.001   2.51e-12      1.000      -0.001       0.001
C(item_nbr)[T.109]  1.776e-15      0.001   2.61e-12      1.000      -0.001       0.001
C(item_nbr)[T.110]  1.306e-15      0.001   1.92e-12      1.000      -0.001       0.001
C(item_nbr)[T.111]  1.498e-15      0.001    2.2e-12      1.000      -0.001       0.001
C(weekend)[T.1]        0.0005      0.000      4.443      0.000       0.000       0.001
C(store_nbr)[T.18]    -0.0012      0.000     -7.156      0.000      -0.001      -0.001
C(store_nbr)[T.23]    -0.0003      0.000     -1.711      0.087      -0.001       4e-05
C(store_nbr)[T.26]    -0.0005      0.000     -3.192      0.001      -0.001      -0.000
C(store_nbr)[T.31] -3.909e-06      0.000     -0.024      0.981      -0.000       0.000
C(store_nbr)[T.34]     0.0015      0.000      9.124      0.000       0.001       0.002
scale(preciptotal) -9.554e-05   5.04e-05     -1.896      0.058      -0.000    3.24e-06
==============================================================================
Omnibus:                  1020681.063   Durbin-Watson:                   2.002
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       2165944789.619
Skew:                          10.968   Prob(JB):                         0.00
Kurtosis:                     293.660   Cond. No.                         278.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [29]:
from patsy import dmatrix
# 독립변수와 종속변수로 나누기
df2_1_X = df2_1.drop(columns=['log1p_units'])
df2_1_target = df2_1['log1p_units']

In [32]:
formula = 'scale(preciptotal) + C(rainY) + C(year) + C(month) + \
+ C(item_nbr) + C(weekend) + C(store_nbr) + 0'
dfX = dmatrix(formula, df2_1_X, return_type='dataframe')
dfy = pd.DataFrame(df2_1_target, columns=["log1p_units"])

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score

model = LinearRegression()
cv = KFold(10)

scores = np.zeros(10)
for i, (train_index, test_index) in enumerate(cv.split(dfX)):
    X_train = dfX.values[train_index]
    y_train = dfy.values[train_index]
    X_test = dfX.values[test_index]
    y_test = dfy.values[test_index]
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    scores[i] = r2_score(y_test, y_pred)

scores

array([0.97583053, 0.96822077, 0.96797761, 0.97248862, 0.97395525,
       0.96904357, 0.97895072, 0.98241086, 0.98395349, 0.98668642])