In [1]:
data_weather = pd.read_csv('weather3_180703.csv')
data_test = pd.read_csv('test.csv')
data_sample = pd.read_csv('sampleSubmission.csv')
data_train = pd.read_csv('train.csv')

In [2]:
print('data_weather length:', len(data_weather))
print('data_test length:', len(data_test))
print('data_train length:', len(data_train))

data_weather length: 20517
data_test length: 526917
data_train length: 4617600

In [3]:
weather = data_weather[(data_weather['date'] >= '2013-04-01') & (data_weather['date'] <= '2014-10-26')]

In [4]:
print('weather length:', len(weather))

weather length: 11449

In [6]:
test = pd.merge(weather, data_test, )

In [9]:
test1 = pd.concat([weather, data_test], axis=1, join='inner')

In [11]:
len(test1)

11449

In [14]:
test2 = pd.concat([weather, data_test], join='outer')

In [20]:
test3 = weather.merge(data_test, left_on="date", right_on="date")

In [21]:
len(test3)

10510035

In [25]:
weather1 = weather.copy()

In [39]:
weather1['date'] = pd.to_datetime(weather['date'])

In [34]:
weather1['date'].dtypes

dtype('<M8[ns]')

In [35]:
test1 = test.copy()

In [36]:
test1['date'] = pd.to_datetime(test1['date'])

In [46]:
test5 = pd.merge([weather, data_test], left_on = 'date', right_on = 'date')

TypeError: merge() missing 1 required positional argument: 'right'

In [41]:
test4 = pd.merge(test1, weather1)

In [42]:
test4.head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,windchill,daytime,week7,weekend,code_change,rainY,otherY,nothing,store_nbr,item_nbr
0,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,1
1,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,2
2,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,3
3,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,4
4,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,5
5,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,6
6,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,7
7,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,8
8,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,9
9,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,10
10,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,11
11,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,12
12,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,13
13,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,14
14,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,15
15,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,16
16,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,17
17,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,18
18,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,19
19,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,20
20,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,21
21,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,22
22,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,23
23,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,24
24,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,25
25,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,26
26,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,27
27,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,28
28,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,29
29,1,2013-04-01,62.0,35.0,48.5,NaN,32.0,41.0,16.0,0.0,...,43.446705,NaN,0,0,2,1,0,0,2,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10510005,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,82
10510006,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,83
10510007,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,84
10510008,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,85
10510009,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,86
10510010,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,87
10510011,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,88
10510012,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,89
10510013,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,90
10510014,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,91
10510015,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,92
10510016,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,93
10510017,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,94
10510018,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,95
10510019,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,96
10510020,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,97
10510021,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,98
10510022,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,99
10510023,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,100
10510024,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,101
10510025,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,102
10510026,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,103
10510027,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,104
10510028,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,105
10510029,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,106
10510030,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,107
10510031,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,108
10510032,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,109
10510033,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,110
10510034,20,2014-10-26,89.0,68.0,78.5,NaN,56.0,64.0,0.0,14.0,...,81.471518,NaN,6,1,0,0,0,1,45,111

In [47]:
test5 = pd.merge([weather, data_test], left_on = 'date', right_on='date')

TypeError: merge() missing 1 required positional argument: 'right'

In [48]:
weather.merge(data_test, left_on='date', right_on='date', how='inner')

MemoryError:

          station_nbr        date  tmax  tmin  tavg  depart  dewpoint  \
0                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
1                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
2                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
3                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
4                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
5                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
6                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
7                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
8                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
9                   1  2013-04-01  62.0  35.0  48.5     NaN      32.0
10                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
11                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
12                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
13                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
14                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
15                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
16                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
17                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
18                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
19                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
20                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
21                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
22                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
23                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
24                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
25                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
26                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
27                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
28                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
29                  1  2013-04-01  62.0  35.0  48.5     NaN      32.0
...               ...         ...   ...   ...   ...     ...       ...
10510005           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510006           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510007           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510008           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510009           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510010           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510011           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510012           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510013           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510014           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510015           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510016           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510017           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510018           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510019           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510020           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510021           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510022           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510023           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510024           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510025           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510026           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510027           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510028           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510029           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510030           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510031           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510032           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510033           20  2014-10-26  89.0  68.0  78.5     NaN      56.0
10510034           20  2014-10-26  89.0  68.0  78.5     NaN      56.0

          wetbulb  heat  cool    ...     windchill  daytime week7  weekend  \
0            41.0  16.0   0.0    ...     43.446705      NaN     0        0
1            41.0  16.0   0.0    ...     43.446705      NaN     0        0
2            41.0  16.0   0.0    ...     43.446705      NaN     0        0
3            41.0  16.0   0.0    ...     43.446705      NaN     0        0
4            41.0  16.0   0.0    ...     43.446705      NaN     0        0
5            41.0  16.0   0.0    ...     43.446705      NaN     0        0
6            41.0  16.0   0.0    ...     43.446705      NaN     0        0
7            41.0  16.0   0.0    ...     43.446705      NaN     0        0
8            41.0  16.0   0.0    ...     43.446705      NaN     0        0
9            41.0  16.0   0.0    ...     43.446705      NaN     0        0
10           41.0  16.0   0.0    ...     43.446705      NaN     0        0
11           41.0  16.0   0.0    ...     43.446705      NaN     0        0
12           41.0  16.0   0.0    ...     43.446705      NaN     0        0
13           41.0  16.0   0.0    ...     43.446705      NaN     0        0
14           41.0  16.0   0.0    ...     43.446705      NaN     0        0
15           41.0  16.0   0.0    ...     43.446705      NaN     0        0
16           41.0  16.0   0.0    ...     43.446705      NaN     0        0
17           41.0  16.0   0.0    ...     43.446705      NaN     0        0
18           41.0  16.0   0.0    ...     43.446705      NaN     0        0
19           41.0  16.0   0.0    ...     43.446705      NaN     0        0
20           41.0  16.0   0.0    ...     43.446705      NaN     0        0
21           41.0  16.0   0.0    ...     43.446705      NaN     0        0
22           41.0  16.0   0.0    ...     43.446705      NaN     0        0
23           41.0  16.0   0.0    ...     43.446705      NaN     0        0
24           41.0  16.0   0.0    ...     43.446705      NaN     0        0
25           41.0  16.0   0.0    ...     43.446705      NaN     0        0
26           41.0  16.0   0.0    ...     43.446705      NaN     0        0
27           41.0  16.0   0.0    ...     43.446705      NaN     0        0
28           41.0  16.0   0.0    ...     43.446705      NaN     0        0
29           41.0  16.0   0.0    ...     43.446705      NaN     0        0
...           ...   ...   ...    ...           ...      ...   ...      ...
10510005     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510006     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510007     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510008     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510009     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510010     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510011     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510012     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510013     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510014     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510015     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510016     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510017     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510018     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510019     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510020     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510021     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510022     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510023     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510024     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510025     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510026     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510027     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510028     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510029     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510030     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510031     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510032     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510033     64.0   0.0  14.0    ...     81.471518      NaN     6        1
10510034     64.0   0.0  14.0    ...     81.471518      NaN     6        1

          code_change  rainY  otherY  nothing  store_nbr  item_nbr
0                   2      1       0        0          2         1
1                   2      1       0        0          2         2
2                   2      1       0        0          2         3
3                   2      1       0        0          2         4
4                   2      1       0        0          2         5
5                   2      1       0        0          2         6
6                   2      1       0        0          2         7
7                   2      1       0        0          2         8
8                   2      1       0        0          2         9
9                   2      1       0        0          2        10
10                  2      1       0        0          2        11
11                  2      1       0        0          2        12
12                  2      1       0        0          2        13
13                  2      1       0        0          2        14
14                  2      1       0        0          2        15
15                  2      1       0        0          2        16
16                  2      1       0        0          2        17
17                  2      1       0        0          2        18
18                  2      1       0        0          2        19
19                  2      1       0        0          2        20
20                  2      1       0        0          2        21
21                  2      1       0        0          2        22
22                  2      1       0        0          2        23
23                  2      1       0        0          2        24
24                  2      1       0        0          2        25
25                  2      1       0        0          2        26
26                  2      1       0        0          2        27
27                  2      1       0        0          2        28
28                  2      1       0        0          2        29
29                  2      1       0        0          2        30
...               ...    ...     ...      ...        ...       ...
10510005            0      0       0        1         45        82
10510006            0      0       0        1         45        83
10510007            0      0       0        1         45        84
10510008            0      0       0        1         45        85
10510009            0      0       0        1         45        86
10510010            0      0       0        1         45        87
10510011            0      0       0        1         45        88
10510012            0      0       0        1         45        89
10510013            0      0       0        1         45        90
10510014            0      0       0        1         45        91
10510015            0      0       0        1         45        92
10510016            0      0       0        1         45        93
10510017            0      0       0        1         45        94
10510018            0      0       0        1         45        95
10510019            0      0       0        1         45        96
10510020            0      0       0        1         45        97
10510021            0      0       0        1         45        98
10510022            0      0       0        1         45        99
10510023            0      0       0        1         45       100
10510024            0      0       0        1         45       101
10510025            0      0       0        1         45       102
10510026            0      0       0        1         45       103
10510027            0      0       0        1         45       104
10510028            0      0       0        1         45       105
10510029            0      0       0        1         45       106
10510030            0      0       0        1         45       107
10510031            0      0       0        1         45       108
10510032            0      0       0        1         45       109
10510033            0      0       0        1         45       110
10510034            0      0       0        1         45       111

[10510035 rows x 34 columns]